{% extends "layout.html" %}

{% block pageTitle %}
Add or edit closure metadata
{% endblock %}

{% block content %}
  <form action="confirm-add-closure" >
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Closure metadata</span>
        <h1 class="govuk-heading-l">
            Add or edit metadata
        </h1>{{releaseVersion | log }}

        {% if error == "missing-fields" %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#passport-issued-day">Enter values for all the fields on this page</a>
                </li>
              </ul>
            </div>
          </div>
        {% endif %}
        <div class="tdr-card">
          <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">You are adding/editing closure metadata for the following files:</p>
          <ul class="govuk-list govuk-list--bullet">
            {% for f in data['file-selection']| getFilenames(data.files) %}
              <li>{{f}}</li>
            {% endfor %}
          </ul>
        </div>
        {% if data.error == "not-matching" %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
            The selected files have different metadata therefore the fields below cannot be prepopulated. Continuing will replace the metadata for all selected files.
          </strong>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set errorFOIDate = error == "missing-fields" and ["addClosure-foi-asserted-day", "addClosure-foi-asserted-month", "addClosure-foi-asserted-year"] | isFieldMissing(data) == true %}
        <div class="govuk-form-group {% if errorFOIDate == true %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="foi-decision-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                        FOI decision asserted
                    </h2>
            </legend>
            <div id="foi-decision-hint" class="govuk-hint">
                    Date of the Advisory Council approval
                  </div>
            {% if errorFOIDate == true %}
              <p id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a value for FOI decision asserted date
            </p>
            {% endif %}
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="foi-asserted-day" >
                                Day
                            </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="foi-asserted-day"
                                name="addClosure-foi-asserted-day" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="dd" value="{% if data['addClosure-foi-asserted-day'] %}{{data['addClosure-foi-asserted-day']}}{%endif%}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="foi-asserted-month">
                                Month
                            </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="foi-asserted-month" name="addClosure-foi-asserted-month" type="text" pattern="[0-9]*"
                                inputmode="numeric" placeholder="mm" value="{% if data['addClosure-foi-asserted-month'] %}{{data['addClosure-foi-asserted-month']}}{%endif%}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="foi-asserted-year">
                                Year
                            </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                id="foi-asserted-year" name="addClosure-foi-asserted-year" type="text" pattern="[0-9]*"
                                inputmode="numeric" placeholder="yyyy" value="{% if data['addClosure-foi-asserted-year'] %}{{data['addClosure-foi-asserted-year']}}{%endif%}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {% set errorStartDate = error == "missing-fields" and ["addClosure-closure-start-day", "addClosure-closure-start-month", "addClosure-closure-start-year"] | isFieldMissing(data) == true %}
        <div class="govuk-form-group {% if errorStartDate == true %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="closure-start-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                        Closure start date
                    </h2>
            </legend>
            <div id="closure-start-hint" class="govuk-hint">
                    This has been defaulted to the last date modified, if this is not correct, amend the field below.
                </div>
            {% if errorStartDate == true %}
              <p id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a value for closure start date
              </p>
            {% endif %}
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="closure-start-day">
                                Day
                            </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="closure-start-day" name="addClosure-closure-start-day" type="text" pattern="[0-9]*"
                                inputmode="numeric" placeholder="dd"  value="{% if data['addClosure-closure-start-day'] %}{{data['addClosure-closure-start-day']}}{%endif%}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="closure-start-month">
                                Month
                            </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="closure-start-month" name="addClosure-closure-start-month" type="text" pattern="[0-9]*"
                                inputmode="numeric" placeholder="mm"  value="{% if data['addClosure-closure-start-month'] %}{{data['addClosure-closure-start-month']}}{%endif%}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="closure-start-year">
                                Year
                            </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                id="closure-start-year" name="addClosure-closure-start-year" type="text" pattern="[0-9]*"
                                inputmode="numeric" placeholder="yyyy" value="{% if data['addClosure-closure-start-year'] %}{{data['addClosure-closure-start-year']}}{%endif%}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {% set errorClosurePeriod = error == "missing-fields" and "addClosure-closure-period" | isFieldMissing(data) == true %}
        <div class="govuk-form-group {% if errorClosurePeriod == true %}govuk-form-group--error{% endif %}">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="closure-period">
                Closure period
            </label>
          </h2>
          <div id="closure-period-hint" class="govuk-hint">
                Number of years the record is closed from the closure start date
            </div>
          {% if errorClosurePeriod == true %}
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a value for closure period
            </p>
          {% endif %}
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="closure-period" name="addClosure-closure-period" type="text" spellcheck="false" value="{% if data['addClosure-closure-period'] %}{{data['addClosure-closure-period']}}{%endif%}">
            <div class="govuk-input__suffix" aria-hidden="true">years</div>
          </div>
        </div>

        {% set errorFOICodes = error == "missing-fields" and "addClosure-foi_id_selection" | isFieldMissing(data) == true %}
        <div class="govuk-form-group {% if errorFOICodes == true %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                FOI exemption code(s)
              </h2>
            </legend>
            <div class="govuk-hint">
              Add one or more exemption code to this closure. Here is a <a target="_blank" href="https://www.legislation.gov.uk/ukpga/2000/36/contents">full list of FOI codes and their designated exemptions</a>.
            </div>
            {% if errorFOICodes == true %}
              <p id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a value for FOI exemption codes
            </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes" id="foi-exemption-codes">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  {% for code in data.foi_exemption_codes | sort %}
                    <div class="govuk-checkboxes__item">
                      <input {% if data['addClosure-foi_id_selection'] and code in data['addClosure-foi_id_selection'] %}checked{% endif %} class="govuk-checkboxes__input" id="{{loop.index}}" name="addClosure-foi_id_selection" type="checkbox" value="{{code}}">
                      <label class="govuk-label govuk-checkboxes__label" for="{{loop.index}}">
                        {{code}}
                      </label>
                    </div>
                    {% if loop.index % ((loop.length / 3) | round) == 0 %}
                    </div>
                    <div class="govuk-grid-column-one-third">
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Is the title closed?
            </label>
          </h2>
          {# <p class="tdr-filename">{{data['file-selection'][0] | getFilename(data.files)}}</p> #}
          <p class="tdr-filename">baking powder.docx</p>

        </div>

        {% set errorTitleClosed = error == "missing-fields" and "addClosure-is-the-title-sensitive" | isFieldMissing(data) == true %}
        <div class="govuk-form-group {% if errorTitleClosed == true %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading govuk-!-font-weight-regular">Do you want to provide an alternative title?</h1>
            </legend>
            {# <div class="govuk-hint">
              If there is sensitive information in the title select 'yes' to enter an alternative public title to this record.
            </div> #}
            {% if errorTitleClosed == true %}
              <p id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Choose an option for this field
            </p>
            {% endif %}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input {% if data["addClosure-is-the-title-sensitive"] == "yes" %}checked{%endif%} class="govuk-radios__input" id="closed-title" name="closed-title" type="radio" value="yes" aria-controls="conditional-closed-title" aria-expanded="true" data-enpassusermodified="yes">
                <label class="govuk-label govuk-radios__label" for="closed-title">Yes</label>
              </div>
              <div class="govuk-radios__conditional" id="conditional-closed-title">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="alternative-title">Alternative title</label>
                  <input class="govuk-input" id="alternative-title" name="alternative-title" type="text" value="">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input {% if data["addClosure-is-the-title-sensitive"] == "no" %}checked{%endif%} class="govuk-radios__input" id="closed-title-2" name="closed-title" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="closed-title-2">No, this title can be used on Discovery</label>
              </div>
            </div>
          </fieldset>
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% if data.description != undefined and data.description != "" %}
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="description">
              Is the description closed?
            </label>
            </h2>
            <div class="govuk-hint">
              This field cannot be edited here. To edit the description visit Descriptive metadata.
            </div>
            <textarea
            class="govuk-textarea"
            id="address"
            name="description"
            readonly="true"
            rows="5">{{data.description}}</textarea>
          </div>
        {% else %}
          <h2 class="govuk-heading-m">Is the description closed?</h2>
          <p class="govuk-body">To add an alternative description you need to enter a description first. </p>
        {% endif %}

        {% if data.description != undefined and data.description != "" %}
          {% set errorDescriptionClosed = error == "missing-fields" and "addClosure-is-the-description-sensitive" | isFieldMissing(data) == true %}
          <div class="govuk-form-group {% if errorDescriptionClosed == true %}govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <p class="govuk-fieldset__heading govuk-!-font-weight-regular">Do you want to provide an alternative description?</p>
              </legend>
              {# <div class="govuk-hint">
              If there is sensitive information in the description select 'yes' to enter an alternative public description to this record.
            </div> #}
              {% if errorDescriptionClosed == true %}
                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Choose an option for this field
            </p>
              {% endif %}
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="closed-description"  name="addClosure-is-the-description-sensitive" type="radio" {% if data["addClosure-is-the-description-sensitive"] == "yes" %}checked{%endif%} value="yes" aria-controls="conditional-closed-description" aria-expanded="true">
                  <label class="govuk-label govuk-radios__label" for="closed-description">Yes</label>
                </div>
                <div class="govuk-radios__conditional" id="conditional-closed-description">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="alternative-description">Alternative description</label>
                    <textarea class="govuk-textarea" id="alternative-description" name="addClosure-alternative-description" rows="5" aria-describedby="more-detail-hint">{{data['addClosure-alternative-description']}}</textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input {% if data["addClosure-is-the-description-sensitive"] == "no" %}checked{%endif%} class="govuk-radios__input" id="closed-description-2"  name="addClosure-is-the-description-sensitive" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="closed-description-2">No, this description can be used on Discovery</label>
                </div>
              </div>
            </fieldset>
          </div>
        {% endif %}

        {#
        {% set errorDescriptionClosed = error == "missing-fields" and "addClosure-is-the-description-sensitive" | isFieldMissing(data) == true %}
        <div class="govuk-form-group {% if errorDescriptionClosed == true %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Is the description closed?
                </legend>
            <div class="govuk-hint">
              If there is sensitive information in the description select 'yes'. You will be given an opportunity to add an alternative public description to this record.
          </div>
            {% if errorDescriptionClosed == true %}
              <p id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Choose an option for this field
            </p>
            {% endif %}
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input {% if data["addClosure-is-the-description-sensitive"] == "yes" %}checked{%endif%} class="govuk-radios__input" id="yes" name="addClosure-is-the-description-sensitive" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                            Yes
                        </label>
              </div>
              <div class="govuk-radios__item">
                <input {% if data["addClosure-is-the-description-sensitive"] == "no" %}checked{%endif%} class="govuk-radios__input" id="no" name="addClosure-is-the-description-sensitive" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                            No
                        </label>
              </div>
            </div>
          </fieldset>
        </div> #}
        <br>
        <div class="govuk-button-group">
          <button role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
          <a class="govuk-link govuk-link--no-visited-state" href="file-level.html">Cancel</a>
        </div>

      </div>
    </div>
  </form>
  {% block pageScripts %}
    <script src = "https://unpkg.com/aria-autocomplete" type = "text/javascript"></script>
    <script>
      AriaAutocomplete(document.querySelector('#foi-exemption-codes'), {
        placeholder: 'Search for FOI Exemption codes',
        deleteOnBackspace: true,
        showAllControl: true,
        autoGrow: false,
        cssNameSpace: "govuk-multi-autocomplete"
      });
    </script>
  {% endblock %}

{% endblock %}
