{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Closure metadata</h1>
      <h1 class="govuk-heading-s">Folder uploaded: Recipes and ingredients</h1>

      <p class="govuk-body">You can now add or edit closure metadata to your records.</p>

      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="folder-level.html">All files and folders</a>
          </h2>
          <p class="nhsuk-card__description">If you'd like to add or edit closure metadata to your records, you can do so here.</p>
        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="file-level.html">Individual files and folders</a>
          </h2>
          <p class="nhsuk-card__description">If you'd like to add or edit closure metadata to your records, you can do so here.</p>
        </div>
      </div>

      <!-- <p class="govuk-body">For all files, you can add, edit or delete descriptive data (such as summary or closure). You can choose the properties that are required.</p>

      <p class="govuk-body"><a class="govuk-link" href="folder-level/folder-level.html">Add, edit or delete metadata for all files in the folder</a></p>
      
      <p class="govuk-body">For individual files or subfolders, you can add, edit or delete descriptive data (such as summary or closure). You can choose the properties that are required. You can also delete individual files from this consignment.</p>

      <p class="govuk-body"><a class="govuk-link" href="file-level/file-level.html">Add, edit or delete metadata for individual files or folders</a></p> -->

      <a href="../additional-metadata.html" role="button" draggable="false" class="govuk-button govuk-button--secondary"  data-module="govuk-button">
        Back to overview
      </a>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
  </div>
  </div>
{% endblock %}