{% extends "layouts/main.html" %}

{% block pageTitle %}
Check closure status
{% endblock %}

{% block content %}

  <form action="confirm-closure-status">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Closure metadata</span>
        <h1 class="govuk-heading-l">
          Confirm closure status
        </h1>{{releaseVersion | log }}
        {% set exists = data['state'] == 'already-closed' or data['file-selection'] == undefined or data['file-selection']| filterClosed(data.closedFiles) | length > 0 %}

        {% if exists %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You have now added closure status to the selected files. You can remove the status by deleting the closure metadata. To do this, visit the <a href="/">Summary page</a>.
          </strong>
          </div>
        {% endif %}
        <div class="tdr-card">
          <div class="tdr-card__content">
            {% set open =  data['file-selection']| filterOpen(data.closedFiles) %}
            {% if open.length > 0 %}
              <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">You are adding closure status to the following files:</p>
              <ul class="govuk-list govuk-list--bullet">
                {% for fileId in data['file-selection']| filterOpen(data.closedFiles)%}
                  <li>{{fileId|getPath(globals.files)}}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% set alreadyClosed =  data['file-selection']| filterClosed(data.closedFiles) %}
            {% if alreadyClosed.length > 0 %}
              <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">The following selected files are already closed:</p>
              <ul class="govuk-list govuk-list--bullet">
                {% for f in data['file-selection']| filterClosed(data.closedFiles) | getFilenames(globals.files) %}
                  <li>{{f|decodeFilename}}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">Has this closure status been agreed with the Advisory Council and/or The National Archives?</h2>
            </legend>
            {% if error == 'no-confirmation' %}
              <p id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> You must confirm this closure has been approved before continuing.
              </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                {% for f in fileSelection %}
                  <input class="govuk-checkboxes__input" id="close-{{f}}" name="requestClose[{{f}}]" type="hidden" value="true">
                {% endfor %}
                <input {% if data['file-selection'] == undefined or exists %}disabled checked{% endif %} class="govuk-checkboxes__input" id="closed" name="confirm-closure" type="checkbox" value="true">
                <label class="govuk-label govuk-checkboxes__label" for="confirm-closure">
                  Yes, I confirm
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            When you click continue, you will be asked to provide the following mandatory information for closed records.
          </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>FOI decision asserted, this is the date that the closure schedule was agreed by the Advisory Council and/or The National Archives.</li>
              <li>Closure start date, this is the date of the last change to this record</li>
              <li>Closure period</li>
              <li>FOI exemption code</li>
              <li>Alternative title</li>
              <li>Alternative description</li>
            </ul>
          </div>
        </details>

        <div class="govuk-button-group">
          <button role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="./file-level.html">Cancel</a>
        </div>

      </div>
    </div>
  </form>

{% endblock %}
