{% extends "layout.html" %}

{% block pageTitle %}
Add alternative title to your record
{% endblock %}

{% block beforeContent %}
  <a href="./add-closure.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <form action="./confirm-closure-alternatives">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Add an alternative {% if data['addClosure-is-the-title-sensitive'] == "yes" %}title{% endif %}
          {% if data['addClosure-is-the-title-sensitive'] == "yes" and data['addClosure-is-the-description-sensitive'] == "yes" %}and{% endif %}
          {% if data['addClosure-is-the-description-sensitive'] == "yes" %}description{% endif %} to your record
        </h1>{{releaseVersion | log }}
        <p class="govuk-body">Enter an alternative publicly visible {% if data['addClosure-is-the-title-sensitive'] == "yes" %}title{% endif %}
          {% if data['addClosure-is-the-title-sensitive'] == "yes" and data['addClosure-is-the-description-sensitive'] == "yes" %}and{% endif %}
          {% if data['addClosure-is-the-description-sensitive'] == "yes" %}description{% endif %} if, for example, {% if data['addClosure-is-the-title-sensitive'] == "yes" and data['addClosure-is-the-description-sensitive'] == "yes" %}they contain{% else %}it contains{% endif %} sensitive information. For guidance on how to create an alternative title and description <a target="_blank" class="govuk-link" href="/faq">read our FAQs (opens in a new tab)</a>.</p>

        {% if data['addClosure-is-the-title-sensitive'] == "yes" %}
          <div>
            <div class="govuk-form-group">
              <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="alternative-title">
                Alternative title
                    </label>
              </h2>
              <div id="foi-decision-hint" class="govuk-hint">
              The publicly visible title to be displayed on Discovery.
              </div>
              <input class="govuk-input" id="alternative-title" name="addAlternative-alternative-title" type="text" value="{{ data['addAlternative-alternative-title'] }}">
            </div>
          </div>
        {% endif %}
        {% if data['addClosure-is-the-description-sensitive'] == "yes" %}
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="description">
              Description
            </label>
            </h2>
            <div id="foi-decision-hint" class="govuk-hint">
              The undisclosed description of the record which will be displayed on Discovery.
            </div>
            <textarea class="govuk-textarea" id="description" name="addAlternative-description" rows="5" aria-describedby="more-detail-hint">{{ data['addAlternative-description'] }}</textarea>

            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="alternative-description">
            Alternative description
          </label>
            </h2>
            <div id="foi-decision-hint" class="govuk-hint">
            This will replace the undisclosed description.
            </div>
            <textarea class="govuk-textarea" id="alternative-description" name="addAlternative-alternative-description" rows="5" aria-describedby="more-detail-hint">{{ data['addAlternative-alternative-description'] }}</textarea>
          </div>
        {% endif %}

        <button href="./closure-added.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

      </div>
    </div>
  </form>
{% endblock %}