{% extends "layout.html" %}

{% block pageTitle %}
File level closure metadata
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="../additional-metadata.html.html" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-l">
      Add or edit closure metadata on file basis
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">You can now add or edit closure metadata to individual files or folders.</p>
    <p class="govuk-body">You can do this by selecting the relevant record(s) from the table below and proceed by clicking "Add closure properties".</p>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" name="selectAll"
        value="select-all" onClick="check_all()">
        Select all
      </button>

      <a href="./T2-flour/check-closure-status.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add closure properties
      </a>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <input class="govuk-input" id="event-name" name="event-name" type="text" placeholder="Enter a file or folder name">
      </div>
      <div class="govuk-grid-column-one-third"></div>
      <a href="file-level#page-2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Search
      </a>
    </div>
    <p class="govuk-pagination__results">Showing <b>1</b> to <b>2</b> of <b>2</b> results</p>

    <div class="govuk-breadcrumbs govuk-breadcrumbs-file-navigation">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link govuk-heading-s" href="./file-level.html">Recipes and ingredients</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <span class="govuk-heading-s">Main cakes</span>
        </li>
      </ol>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Subfolder-Lemon-drizzle" name="organisation" type="checkbox"
                value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="Subfolder-Lemon-drizzle">
                <a>📁 Cupcakes</a>
              </label>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Subfolder-Chocolate-banana-bread" name="organisation"
                type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="Subfolder-Chocolate-banana-bread">
                🖼️ Vanilla-essence.jpg
              </label>
            </div>
          </td>
        </tr>
      
      </tbody>
    </table>


   

    <!-- <nav class="govuk-pagination" id="pagination-label" aria-label="results navigation"> -->

      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
      
      </ul>
      <br/>


  </div>
</div>

<style>
  section {
    display: none;
  }

  .page-1 {
    display: block;
  }

  section:target {
    display: block;
  }

  section:target~#page-1 {
    display: none;
  }
</style>

<script type="text/javascript">
  function check_all() {
    var checkboxes = document.getElementsByName('organisation');
    checkboxes = [...checkboxes];
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = true
    }
  }

  // if(!window.location.hash) {
  //   window.location.href = "file-level#page-1"
  // }

  addCurrentPage("page-1-item");

  function addCurrentPage(page_item) {
    const selectedPage = page_item.split("-")[1];
    document.getElementById("page-1-item").classList.remove("govuk-pagination__item--current");
    document.getElementById("page-2-item").classList.remove("govuk-pagination__item--current");
    document.getElementById("page-3-item").classList.remove("govuk-pagination__item--current");

    document.getElementById(page_item).classList.add("govuk-pagination__item--current");

    document.getElementById("page-1-item").innerHTML = '<a class="govuk-pagination__link" href="#page-1" id="page-1"><span class="govuk-visually-hidden">Page</span>1</a>';
    document.getElementById("page-2-item").innerHTML = '<a class="govuk-pagination__link" href="#page-2" id="page-2"><span class="govuk-visually-hidden">Page</span>2</a>';
    document.getElementById("page-3-item").innerHTML = '<a class="govuk-pagination__link" href="#page-3" id="page-3"><span class="govuk-visually-hidden">Page</span>3</a>';

    document.getElementById(page_item).innerHTML = '<span class="govuk-visually-hidden">Page</span>'+selectedPage;

    document.getElementById("prev")

    document.getElementById("next").href = "#page-" + (Number(selectedPage) + 1);
  }


</script>
{% endblock %}