{% extends "layouts/main.html" %}
{# {% include "../dummyfiles.html" %} #}

{% block pageTitle %}
Closure metadata - Choose a record
{% endblock %}

{% block beforeContent %}
  <a href="../additional-metadata" class="govuk-back-link">Step 5: Descriptive and closed record metadata</a>
{% endblock %}

{% block content %}
  <form action="/metadata/closure-metadata/confirm-file-level">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Closed record metadata</span>
        <h1 class="govuk-heading-l">Choose a record</h1>
        <p class="govuk-body">Select the record you wish to add or edit closed record metadata.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {# <h2 class="govuk-heading-m govuk-heading--underline">Select a file</h2> #}
        {% if error == "no-selection" %}
          <div class="govuk-error-summary govuk-!-margin-bottom-4" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">There is a problem</h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#file-selection">Select a file to proceed</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
        {# <div class="govuk-tdr-file-selection-panel">
          <div class="govuk-tdr-file-selection-panel__search">
            <input
            class="govuk-input"
            id="event-name"
            name="event-name"
            type="search"
            placeholder="Enter a file or folder name"/>
            <a
              href="file-level"
              role="button"
              draggable="false"
              class="govuk-button"
              data-module="govuk-button">
              Search
            </a>
          </div>
          <div class="govuk-button-group">
            <button
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              type="button"
              name="select-all"
              value="true">
              Select all
            </button>
            <button
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              type="button"
              name="deselect-all"
              value="true">
              Clear selection
            </button>
          </div>
        </div> #}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" id="file-selection">
        {% include "./closure-files.html" %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-button-group">
          <button
          draggable="false"
          class="govuk-button js-submit"
          name="action" value="edit"
          data-module="govuk-button">
          Add or edit metadata
        </button>
          <button
          draggable="false"
          class="govuk-button govuk-button--secondary js-submit"
          name="action" value="view"
          data-module="govuk-button">
          View metadata
        </button>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
        <h2 class="govuk-heading-m">Have you finished editing closed record metadata?</h2>

        <p class="govuk-body">Once you have finished adding closed record metadata, return to the
          <a href="../additional-metadata"
            style="font-weight: bold;"
            draggable="false"
            data-module="govuk-button">Descriptive and closed record metadata page</a>.</p>

        <p class="govuk-body">You will be given the chance to download a single .csv file to review any metadata you added before completing the transfer.</p>
      </div>
    </div>

  </form>

{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
