{% extends "layout.html" %}
{# {% include "../dummyfiles.html" %} #}

{% block pageTitle %}
File level closure metadata
{% endblock %}

{% block beforeContent %}
  <a href="../additional-metadata" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form action="/metadata/closure-metadata/confirm-file-level">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Closure metadata</span>
        <h1 class="govuk-heading-l">Select files to edit</h1>
        <p class="govuk-body">
        You can now add or edit closure metadata to individual files or folders. Select the relevant record(s) from the table below and proceed by clicking "Add or Edit metadata".</p>
        <div class="govuk-inset-text govuk-!-margin-top-0">
          Once you have added all necessary closure metadata return to the <a href="../additional-metadata">previous page</a> to add descriptive metadata or continue with the transfer.
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if error == "no-selection" %}
          <div class="govuk-error-summary govuk-!-margin-bottom-4" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">There is a problem</h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#file-selection">Select at least one file or folder</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="govuk-tdr-file-selection-panel">
          <div class="govuk-tdr-file-selection-panel__search">
            <input
            class="govuk-input"
            id="event-name"
            name="event-name"
            type="search"
            placeholder="Enter a file or folder name"/>
            <a
              href="file-level"
              role="button"
              draggable="false"
              class="govuk-button"
              data-module="govuk-button">
              Search
            </a>
          </div>
          <div class="govuk-button-group">
            <button
              draggable="false"
              class="govuk-button"
              data-module="govuk-button">
              Add or Edit metadata
            </button>
            <button
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              type="button"
              name="select-all"
              value="true">
              Select all
            </button>
            <button
              class="govuk-button govuk-button--secondary"
              data-module="govuk-button"
              type="button"
              name="deselect-all"
              value="true">
              Clear selection
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" id="file-selection">
        {% include "./closure-files.html" %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
          <button
          draggable="false"
          class="govuk-button"
          data-module="govuk-button">
          Add or Edit metadata
        </button>
          <a href="../additional-metadata"
          draggable="false"
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button">
          Back
        </a>
        </div>
      </div>
    </div>

  </form>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/tree-view.js"></script>
  <script>
    window.onload = () => {
      const treeItems = document.querySelectorAll('[role=tree]')
      const tree = document.querySelector('[role=tree]')
      const treeItemList = []
      if (tree != null) {
        treeItems.forEach(item => treeItemList.push(item))
        const nestedNavigation = new NestedNavigation(tree, treeItemList)
        nestedNavigation.initialiseFormListeners()
      }
    }
  </script>
{% endblock %}
