{% extends "layout.html" %}

{% block pageTitle %}
Closure metadata - Review changes to closure metadata
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Closure metadata</span>
      <h1 class="govuk-heading-l">
        Review changes to closure metadata
      </h1>{{releaseVersion | log }}
      <p class="govuk-body">Edit, save or delete any changes you’ve made to closure metadata.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
        </dt>
          <dd class="govuk-summary-list__value">
            {# <ul class="govuk-list govuk-list--bullet"> #}
            {% for f in data['file-selection']| getFilenames(data.files) %}
              {{f}}
            {% endfor %}
            {# </ul> #}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Closure status
        </dt>
          <dd class="govuk-summary-list__value">
          Closed
        </dd>
        </div>

        <!-- closure stuff here -->
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
            FOI decision asserted
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['addClosure-foi-asserted-day']}}/{{data['addClosure-foi-asserted-month']}}/{{data['addClosure-foi-asserted-year']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
            Closure start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['addClosure-closure-start-day']}}/{{data['addClosure-closure-start-month']}}/{{data['addClosure-closure-start-year']}}

          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
            Closure period
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['addClosure-closure-period']}} years
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
              FOI exemption code(s)
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for id in data['addClosure-foi_id_selection'] %}
                <li>{{id}}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
        {% if data["addClosure-is-the-title-sensitive"] == "yes" %}
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Alternative title
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addClosure-alternative-title'] }}
            </dd>
          </div>
        {% endif %}
        {% if data["addClosure-is-the-description-sensitive"] == "yes" %}
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Description
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addDescriptive-description'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Alternative description
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addClosure-alternative-description'] }}
            </dd>
          </div>
        {% endif %}
      </dl>

      <div class="govuk-button-group">
        <a href="./add-closure" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Edit metadata
        </a>
        <a href="./delete-metadata" role="button" draggable="false" class="govuk-button govuk-button--secondary">
          Delete metadata
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

      <p class="govuk-text">To add or edit metadata to other files return to the file selection.</p>
      <div class="govuk-button-group">
        <a href="./file-level" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Return to all files
        </a>
      </div>

    </div>
  </div>

{% endblock %}
