{% extends "layouts/main.html" %}

{% block pageTitle %}
Closure metadata - Review changes to closure metadata
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Closure metadata</span>
      <h1 class="govuk-heading-l">
        Review saved changes
      </h1>
      <p class="govuk-body">Review the closure metadata changes you have made below. You may also edit and delete any metadata changes.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
        </dt>
          <dd class="govuk-summary-list__value">
            {# <ul class="govuk-list govuk-list--bullet"> #}
            {% for f in data['file-selection']| getFilenames(globals.files) %}
              {{f}}
            {% endfor %}
            {# </ul> #}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Closure status
        </dt>
          <dd class="govuk-summary-list__value">
          Closed
        </dd>
        </div>

        <!-- closure stuff here -->
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
            FOI decision asserted
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['addClosure-foi-asserted-day']}}/{{data['addClosure-foi-asserted-month']}}/{{data['addClosure-foi-asserted-year']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
            Closure start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['addClosure-closure-start-day']}}/{{data['addClosure-closure-start-month']}}/{{data['addClosure-closure-start-year']}}

          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
            Closure period
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['addClosure-closure-period']}} years
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
              FOI exemption code(s)
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for id in data['addClosure-foi_id_selection'] %}
                <li>{{id}}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
        {% if data["addClosure-is-the-title-sensitive"] == "yes" %}
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Is the title sensitive for the public?
          </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Alternative title
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addClosure-alternative-title'] }}
            </dd>
          </div>
        {% else %}
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Is the title sensitive for the public?
          </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        {% endif %}
        {% if data["addClosure-is-the-description-sensitive"] == "yes" %}
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Is the description sensitive for the public?
          </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Alternative description
          </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addClosure-alternative-description'] }}
            </dd>
          </div>
        {% else %}
          <div class="govuk-summary-list__row" style="border-bottom: none;">
            <dt class="govuk-summary-list__key">
            Is the description sensitive for the public?
          </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        {% endif %}
      </dl>

      <div class="govuk-button-group">
        <a href="/metadata/closure-metadata/summary" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Continue
        </a>
        <a href="./add-closure" role="button" draggable="false" class="govuk-button govuk-button--secondary"
          data-module="govuk-button">
          Edit metadata
        </a>
      </div>

    </div>
  </div>

{% endblock %}
