{% extends "layouts/main.html" %}

{% block pageTitle %}
Closure metadata
{% endblock %}

{% block beforeContent %}
  <a href="../additional-metadata" class="govuk-back-link">Step 5: Descriptive and closure metadata</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Closure metadata</h1>

    <p class="govuk-body">You can now add closure metadata to individual records. Below are all the records that you have added closure metadata to.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        It is a legal requirement that you entered accurate closure metadata for all files. If you’re unsure about closure metadata contact a transfer advisor or email <a href="">tdr@nationalarchives.gov.uk</a>.
      </strong>
    </div>

    {# <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        What closure metadata you must provide for each closed record
      </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>FOI decision asserted, this is the date that the closure schedule was agreed by the Advisory Council and/or The National Archives.</li>
          <li>Closure start date, this is the date of the last change to this record</li>
          <li>Closure period</li>
          <li>FOI exemption code</li>
          <li>Alternative title</li>
          <li>Alternative description</li>
        </ul>
      </div>
    </details> #}

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <a href="file-level" class="govuk-button" data-module="govuk-button">
      Add closure metadata to a record
    </a>
    {# <h2 class="govuk-heading-m">Closed records</h2> #}

    {% include "./summary-table-v2.html" %}
  </div>
</div>

{% endblock %}


{% block pageScripts %}
  {{ super() }}
{% endblock %}
