<div class="tdr-scroll-container tdr-scroll-container__horizontal">
<table data-module="table-row-expander" class="govuk-table tdr-summary-table">
  <colgroup>
    <col style="min-width: 200px;"/>
    <col  />
    <col  />
    <col />
    <col />
    <col />
  </colgroup>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Record name</th>
      <th scope="col" class="govuk-table__header">Decision date</th>
      <th scope="col" class="govuk-table__header">Closure date</th>
      <th scope="col" class="govuk-table__header">FOI code(s)</th>
      <th scope="col" class="govuk-table__header">Closure period</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
      <th id="header-dir" scope="col" class="govuk-visually-hidden">Directory</th>
    </tr>
  </thead>

{% if data['closedFiles']|length == 0 %}
  <tr>
    <td colspan="6" class="govuk-table__cell govuk-table__cell--no-results">There are no records with closure metadata.</td>
  </tr>
{% else %}
  {% for item in data['closedFiles']|returnFileArray(globals.files)|sortBy("path") %}
  {% if currentDirectory != item.path|replace(item.id|getFilename(globals.files), "")  %}
    {% set currentDirectory = item.path|replace(item.id|getFilename(globals.files), "") %}
      <tr>
        <td colspan="6" headers="header-dir" id="{{currentDirectory|urlencode}}" class="tdr-summary-table__dir-cell govuk-body govuk-!-font-size-14" >
          <ol class="tdr-file-breadcrumbs">
          {% for dir in currentDirectory|split("/") %}
            <li class="tdr-file-breadcrumbs__list-item">{{dir}}</li>
          {% else %}
            <li class="tdr-file-breadcrumbs__list-item">/</li>
          {% endfor %}
          </ol>
        </td>
      </tr>
  {% endif %}
      <tr class="govuk-table__row">
        <td headers="{{currentDirectory|urlencode}}" id="{{item.id}}" class="govuk-table__header govuk-table__header--spacious">
        {% if item|hasRequiredMetadata == false %}<strong class="tdr-summary-table__tag tdr-tag tdr-tag--red">Incomplete</strong><br>{% endif %}{{item.id|getFilename(globals.files)}}</td>
        <td headers="{{item.id}}" class="govuk-table__cell govuk-table__cell--spacious govuk-table__cell--nowrap">
          {%- if item['addClosure-foi-asserted-day'] -%}
          {{item['addClosure-foi-asserted-day']}} {{item['addClosure-foi-asserted-month']|getMonthName("short")}} {{item['addClosure-foi-asserted-year']}}
          {%- else %} - {% endif -%}</td>
        <td headers="{{item.id}}" class="govuk-table__cell govuk-table__cell--spacious govuk-table__cell--nowrap">
        {%- if item['addClosure-closure-start-day'] -%}
        {{ item['addClosure-closure-start-day'] }} {{item['addClosure-closure-start-month']|getMonthName("short")}} {{item['addClosure-closure-start-year']}}
        {%- else %} - {% endif %}
        </td>
        <td headers="{{item.id}}" class="govuk-table__cell govuk-table__cell--spacious">{{item['addClosure-foi_id_selection']|d(["-"])|join(", ")}}</td>
        <td headers="{{item.id}}" class="govuk-table__cell govuk-table__cell--spacious">{% if item['addClosure-closure-period'] %} {{item['addClosure-closure-period']}} years{% else %}-{% endif %}</td>
        <td headers="{{item.id}}" class="govuk-table__cell govuk-table__cell--spacious govuk-table__cell--with-hidden-menu">
          <button aria-expanded="false" aria-controls="menu-{{item.id}}" class="govuk-!-margin-left-2 tdr-button-link tdr-button-link--with-icon">
            Actions<span class="govuk-visually-hidden">&nbsp;metadata for {{item.id|getFilename(globals.files)}}</span>
          </button>
          <ol id="menu-{{item.id}}" class="tdr-table-actions-menu">
            <li class="tdr-table-actions-menu__list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="/metadata/closure-metadata/view-by-id/{{item.id}}">View<span class="govuk-visually-hidden">&nbsp;metadata for {{item.id|getFilename(globals.files)}}</span></a>
            </li>
            <li class="tdr-table-actions-menu__list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="/metadata/closure-metadata/edit-by-id/{{item.id}}">Edit<span class="govuk-visually-hidden">&nbsp;metadata for {{item.id|getFilename(globals.files)}}</span></a>
            </li>
            <li class="tdr-table-actions-menu__list-item">
              <a class="govuk-link govuk-link--no-visited-state" href="/metadata/closure-metadata/delete-by-id/{{item.id}}">Delete<span class="govuk-visually-hidden">&nbsp;metadata for {{item.id|getFilename(globals.files)}}</span></a>
            </li>
          </ol>
        </td>
      </tr>
  {% endfor %}
{% endif %}
  </tbody>
</table>
</div>
