{% extends "layouts/main.html" %}

{% block pageTitle %}
  Transfer agreement (part 1)
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">Transfer agreement (part 1)</h1>

        <p class="govuk-hint">You must confirm all statements before proceeding.</p>
        

        


         
<form action="transfer-agreement-2">
    
        

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
{{ govukRadios({
  name: "transfer-pt1",
  fieldset: {
    legend: {
      text: "I confirm that all records are:",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "public-records",
      text: "Public Records"
    },
    {
      value: "welsh-public-records",
      text: "Welsh Public Records"
    },
    {
      value: "not-public",
      text: "Not Public Records"
    }

  ]
}) }}
        
    </fieldset>
</div>

        <div class="govuk-button-group">
  <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
    Agree and continue
  </button>

  <a class="govuk-button govuk-button--secondary" href="#">Cancel transfer</a>
</div>

        
</form>

    </div>
    
<div class="govuk-grid-column-one-third">
    <details open="" class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                
                    Consignment reference
                
            </span>
        </summary>
        <div class="govuk-details__text">
            TDR-2025-KSLK
        </div>
    </details>
    
</div>

</div>


{% endblock %}
