{% extends "layouts/main.html" %}

{% block pageTitle %}
  Transfer agreement (part 1)
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: " Select the appropriate option for your records ",
      href: "#transferpt1-error"
    }
  ]
}) }}
        
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">Transfer agreement (part 1)</h1>

        <!--<p class="govuk-hint">You must confirm all statements before proceeding.</p>-->
        

        


         
<form action="transfer-agreement-2">
    
        

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
{{ govukRadios({
  name: "transferpt1",
  fieldset: {
    legend: {
      text: "Select the legal status of these records:",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "public-records",
      text: "Public Records"
    },
    {
      value: "welsh-public-records",
      text: "Welsh Public Records"
    },
    {
      value: "not-public",
      text: "Not Public Records"
    }
  ],
  errorMessage: {
    text: "Select the appropriate option for your records"
  }
}) }}
        
    </fieldset>
</div>

        <div class="govuk-button-group">
  <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
    Agree and continue
  </button>

  <a class="govuk-button govuk-button--secondary" href="/homepage">Cancel transfer</a>
</div>

        
</form>

    </div>
    
<div class="govuk-grid-column-one-third">
    <details open="" class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                
                    Consignment reference
                
            </span>
        </summary>
        <div class="govuk-details__text">
            TDR-2025-KSLK
        </div>
    </details>
    
</div>

</div>

{% endblock %}
