{% extends "layouts/main-tux-admin-interface.html" %}

{% block pageTitle %}
  Manage Transfers
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
        
<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Manage transfers</h1>

 

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#requested">Requested</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#rejected">Rejected</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#approved">Approved</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#Transferred">Transferred</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#all">All</a>
      </li>
    </ul>

    <!-- REQUESTED TAB -->
    <div class="govuk-tabs__panel" id="requested">
      <h2 class="govuk-heading-m">Requested</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Consignment</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Department</th>
            <th scope="col" class="govuk-table__header">Series</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested-2" class="govuk-link">TDR-2024-ABCD</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 123</td>
            <td class="govuk-table__cell">12th July 2024, 08:00am (458 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-ABCD</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 122</td>
            <td class="govuk-table__cell">8th June 2024, 3:42pm (452 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-RVLZ</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 121</td>
            <td class="govuk-table__cell">5th June 2024, 9:07am (455 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-WNBK</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 120</td>
            <td class="govuk-table__cell">1st June 2024, 11:33am (459 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-FJPH</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 119</td>
            <td class="govuk-table__cell">28th May 2024, 8:55am (463 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-YCTS</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 118</td>
            <td class="govuk-table__cell">22nd May 2024, 2:19pm (469 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-DLGE</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 117</td>
            <td class="govuk-table__cell">15th May 2024, 10:08am (476 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-HZWM</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 116</td>
            <td class="govuk-table__cell">7th May 2024, 4:51pm (484 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-KPNV</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 115</td>
            <td class="govuk-table__cell">29th April 2024, 9:26am (492 days ago)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- REJECTED TAB -->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="rejected">
      <h2 class="govuk-heading-m">Rejected</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Consignment</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Department</th>
            <th scope="col" class="govuk-table__header">Series</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-ABCD</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 456</td>
            <td class="govuk-table__cell">10th July 2024, 9:34am (580 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-KXPW</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 455</td>
            <td class="govuk-table__cell">9th July 2024, 2:22am (581 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-BMQZ</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 454</td>
            <td class="govuk-table__cell">7th July 2024, 11:05am (583 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-RJTH</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 453</td>
            <td class="govuk-table__cell">3rd July 2024, 4:48am (587 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-WLFE</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 452</td>
            <td class="govuk-table__cell">28th June 2024, 8:17am (592 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-CGYN</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 451</td>
            <td class="govuk-table__cell">19th June 2024, 10:53am (601 days ago)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- APPROVED TAB -->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="approved">
      <h2 class="govuk-heading-m">Approved</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Consignment</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Department</th>
            <th scope="col" class="govuk-table__header">Series</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-approved" class="govuk-link">TDR-2024-ABCD</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 789</td>
            <td class="govuk-table__cell">11th July 2024, 9:34am (579 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-BWJM</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 788</td>
            <td class="govuk-table__cell">9th July 2024, 1:47pm (581 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-LQXF</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 787</td>
            <td class="govuk-table__cell">4th July 2024, 10:22am (586 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-THZR</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 786</td>
            <td class="govuk-table__cell">27th June 2024, 3:09pm (593 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-YNKP</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 785</td>
            <td class="govuk-table__cell">18th June 2024, 8:41am (602 days ago)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Transferred TAB -->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Transferred">
      <h2 class="govuk-heading-m">Transferred</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Consignment</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Department</th>
            <th scope="col" class="govuk-table__header">Series</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-transferred" class="govuk-link">TDR-2024-ABCD</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 101112</td>
            <td class="govuk-table__cell">11th July 2024, 5:54pm (579 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-KWBZ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101111</td>
              <td class="govuk-table__cell">9th July 2024, 2:22pm (581 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-MRVJ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101110</td>
              <td class="govuk-table__cell">5th July 2024, 9:08am (585 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-XFNQ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101109</td>
              <td class="govuk-table__cell">30th June 2024, 11:37am (590 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-GTLP</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101108</td>
              <td class="govuk-table__cell">21st June 2024, 4:53pm (599 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-CHEZ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101107</td>
              <td class="govuk-table__cell">12th June 2024, 8:19am (608 days ago)</td>
            </tr>
        </tbody>
      </table>
    </div>

    <!-- ALL TAB -->
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all">
      <h2 class="govuk-heading-m">All</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Consignment</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Department</th>
            <th scope="col" class="govuk-table__header">Series</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-ABCD</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 123</td>
            <td class="govuk-table__cell">10th November 2024, 3:42pm (458 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-MXQT</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 122</td>
            <td class="govuk-table__cell">8th November 2024, 3:42pm (452 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-RVLZ</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 121</td>
            <td class="govuk-table__cell">5th November 2024, 9:07am (455 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-WNBK</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 120</td>
            <td class="govuk-table__cell">1st November 2024, 11:33am (459 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-FJPH</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 119</td>
            <td class="govuk-table__cell">28th October 2024, 8:55am (463 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-YCTS</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 118</td>
            <td class="govuk-table__cell">22nd October 2024, 2:19pm (469 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-DLGE</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 117</td>
            <td class="govuk-table__cell">15th October 2024, 10:08am (476 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-HZWM</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 116</td>
            <td class="govuk-table__cell">7th October 2024, 4:51pm (484 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-requested" class="govuk-link">TDR-2024-KPNV</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Requested</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 115</td>
            <td class="govuk-table__cell">29th September 2024, 9:26am (492 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-NVC4</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 456</td>
            <td class="govuk-table__cell">10th July 2024, 9:34am (580 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-KXPW</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 455</td>
            <td class="govuk-table__cell">9th July 2024, 2:22am (581 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-BMQZ</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 454</td>
            <td class="govuk-table__cell">7th July 2024, 11:05am (583 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-RJTH</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 453</td>
            <td class="govuk-table__cell">3rd July 2024, 4:48am (587 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-WLFE</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 452</td>
            <td class="govuk-table__cell">28th June 2024, 8:17am (592 days ago)</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details-rejected" class="govuk-link">TDR-2024-CGYN</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 451</td>
            <td class="govuk-table__cell">19th June 2024, 10:53am (601 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-NDC5</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 789</td>
            <td class="govuk-table__cell">11th July 2024, 9:34 (579 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-BWJM</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 788</td>
              <td class="govuk-table__cell">9th July 2024, 13:47 (581 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-LQXF</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 787</td>
              <td class="govuk-table__cell">4th July 2024, 10:22 (586 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-THZR</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 786</td>
              <td class="govuk-table__cell">27th June 2024, 15:09 (593 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="transfer-details" class="govuk-link">TDR-2024-YNKP</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 785</td>
              <td class="govuk-table__cell">18th June 2024, 8:41 (602 days ago)</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-ND54</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag  govuk-tag--grey">Transferred</strong></td>
            <td class="govuk-table__cell">GovDept</td>
            <td class="govuk-table__cell">Mock 101112</td>
            <td class="govuk-table__cell">11th July 2024, 17:54 (579 days ago)</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-KWBZ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101111</td>
              <td class="govuk-table__cell">9th July 2024, 14:22 (581 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-MRVJ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101110</td>
              <td class="govuk-table__cell">5th July 2024, 9:08 (585 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-XFNQ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101109</td>
              <td class="govuk-table__cell">30th June 2024, 11:37 (590 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-GTLP</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101108</td>
              <td class="govuk-table__cell">21st June 2024, 16:53 (599 days ago)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">TDR-2024-CHEZ</a></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Transferred</strong></td>
              <td class="govuk-table__cell">GovDept</td>
              <td class="govuk-table__cell">Mock 101107</td>
              <td class="govuk-table__cell">12th June 2024, 8:19 (608 days ago)</td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>


{% endblock %}
