{% extends "layouts/main-tux-admin-interface.html" %}

{% block pageTitle %}
  Review history
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   
    <h1 class="govuk-heading-l">Review history – <strong>TDR-2024-NB5G</strong></h1>

{{ govukSummaryList({
  classes: "govuk-grid-column-two-thirds",
  rows: [
    {
      key: { text: "Department" },
      value: { text: "Mock 1 Department" }
    },
    {
      key: { text: "Series" },
      value: { text: "MOCK1 123" }
    },
    {
      key: { text: "Total/Open/Closed Records" },
      value: { text: "Total: 87  Open: 73  Closed: 1" }
    }
  ]
}) }}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Submission No.</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Review Action</th>
          <th scope="col" class="govuk-table__header">Date Reviewed</th>
          <th scope="col" class="govuk-table__header">Reviewed By</th>
          <th scope="col" class="govuk-table__header">Reason for Review Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">5th July 2024 10:34</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
          <td class="govuk-table__cell">5th July 2024 11:34</td>
          <td class="govuk-table__cell">Zoe Fullard</td>
          <td class="govuk-table__cell">Descriptions not aligned to agreement</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">10th July 2024 10:34</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
          <td class="govuk-table__cell">10th July 2024 10:35</td>
          <td class="govuk-table__cell">Michael Launchbury</td>
          <td class="govuk-table__cell">Closure information doesn't align to schedule</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">11th July 2024 10:34</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected</strong></td>
          <td class="govuk-table__cell">11th July 2024 10:37</td>
          <td class="govuk-table__cell">Michael Launchbury</td>
          <td class="govuk-table__cell">Another reason why you might want to reject a review</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">12th July 2024 10:00</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
          <td class="govuk-table__cell">12th July 2024 10:15</td>
          <td class="govuk-table__cell">Zoe Fullard</td>
          <td class="govuk-table__cell">Corrections reviewed &amp; confirmed</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<p class="govuk-body govuk-!-margin-top-5">
  <a href="javascript:window.history.back();" class="govuk-link">Back to transfer details</a>
</p>

{% endblock %}
