{% extends "layouts/main-tux-admin-interface.html" %}

{% block pageTitle %}
  Transfer details
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-l">Transfer details for TDR-2024-NB5G</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Status" },
          value: { html: '<strong class="govuk-tag govuk-tag--red">Requested</strong>' }
        },
        {
          key: { text: "Department" },
          value: { text: "Mock 1 Department" }
        },
        {
          key: { text: "Series" },
          value: { text: "MOCK1 123" }
        },
        {
          key: { text: "Total/open/closed records" },
          value: { text: "Total: 87;  Open: 73;  Closed: 14;" }
        },
        {
          key: { text: "Legal status" },
          value: { text: "Not Public Record(s)" }
        },
        {
          key: { text: "Submission number" },
          value: {
            html: '3'
          },
actions: {
        items: [
          {
            href: "review-history",
            text: "View review history",
            visuallyHiddenText: "View review history"
          }
        ]
      }
        },
        {
          key: { text: "Last reviewed by" },
          value: { html: '<a href="mailto:claire.driver@nationalarchives.gov.uk" class="govuk-link">Claire Driver</a>' }
        },
        {
          key: { text: "Last updated" },
          value: { text: "5th July 2024, 10:34am" }
        },
        {
          key: { text: "Top level folder name" },
          value: { text: "content" }
        },
        {
          key: { text: "Display top level folder" },
          value: { text: "No" }
        },
        {
          key: { text: "Contact email" },
          value: { html: '<a href="mailto:johnsmith@nationalarchives.gov.uk" class="govuk-link">John Smith</a>'  }
        }
        
      ]
    }) }}

    {{ govukButton({
      text: "Download metadata",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}

<hr class="govuk-section-break govuk-section-break--m">
 <!--   <h2 class="govuk-heading-m">Select status for this transfer</h2>

    {{ govukSelect({
      id: "transfer-status",
      name: "transferStatus",
      label: {
        text: "Select a status",
        classes: "govuk-visually-hidden"
      },
      items: [
        { value: "", text: "Select a status", selected: true },
        { value: "requested", text: "Requested" },
        { value: "rejected", text: "Rejected" },
        { value: "approved", text: "Approved" },
        { value: "complete", text: "Complete" }
      ]
    }) }}-->

    {{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Select status for this transfer",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  
  items: [
    {
      value: "rejected",
      text: "Rejected"
    },
    {
      value: "approved",
      text: "Approved"
    }
  ]
}) }}

    {{ govukCharacterCount({
      name: "statusReason",
      id: "status-reason",
      maxlength: 1300,
      label: {
        text: "Provide a reason for status",
        classes: "govuk-label--m"
      },
  hint: {
    text: "Do not include sensitive information as these will go into case files"
  }
    }) }}
<div class="govuk-button-group">
    {{ govukButton({
      text: "Submit",
      href: "transfer-details-requested-submitted"
    }) }}
      <a class="govuk-link  govuk-link--no-visited-state" href="home">Cancel</a>
</div>

  </div>
</div>

<p class="govuk-body govuk-!-margin-top-8">
  <a href="metadata-review-tabs" class="govuk-link  govuk-link--no-visited-state">Back to metadata review</a>
</p>


{% endblock %}
