{% extends "layouts/main-tux-admin-interface.html" %}

{% block pageTitle %}
  Transfer details
{% endblock %}



 }
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-l">Transfer details for TDR-2024-ABCD</h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Status" },
          value: { html: '<strong class="govuk-tag govuk-tag--red">Requested</strong>' }
        },
        {
          key: { text: "Date submitted" },
          value: { text: '5th July 2024, 08:00am' }
        },
        {
          key: { text: "Department" },
          value: { text: "GovDept" }
        },
        {
          key: { text: "Contact email" },
          value: { html: '<a href="mailto:john.smith@deptoffishmongery.gov.uk" class="govuk-link">john.smith@deptoffishmongery.gov.uk</a>'  }
        },
        
        {
          key: { text: "Series" },
          value: { text: "MOCK1 123" }
        },
        {
          key: { text: "Total/open/closed records" },
          value: { text: "Total: 87;  Open: 73;  Closed: 14;" }
        },
        {
          key: { text: "Legal status" },
          value: { text: "Not Public Record(s)" }
        },
        
        {
          key: { text: "Display top level folder" },
          value: { text: "No" }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Download metadata",
      classes: "govuk-button--secondary",
      href: "#"
    }) }}







<hr class="govuk-section-break govuk-section-break--m">
    <h2 class="govuk-heading-m">Change status for this transfer</h2>

    {{ govukSelect({
      id: "transfer-status",
      name: "transferStatus",
      label: {
        text: "Select a status",
        classes: "govuk-visually-hidden"
      },
      items: [
        { value: "", text: "Select a status", selected: true },
        { value: "rejected", text: "Rejected" },
        { value: "approved", text: "Approved" }
      
      ]
    }) }}

 
    {{ govukCharacterCount({
      classes: "govuk-!-width-two-thirds",
      name: "statusReason",
      id: "status-reason",
      maxlength: 1300,
      label: {
        text: "Provide a reason for status change",
        classes: "govuk-label--m"
      },
  hint: {
    text: "Do not include sensitive information as these will go into case files"
  }
    }) }}
<div class="govuk-button-group">
    {{ govukButton({
      text: "Submit",
      href: "transfer-details-requested-submitted"
    }) }}
</div>

  </div>
</div>

<!--
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-m">Review details</h2>


{{ govukSummaryList({
  rows: [
    {
      key: { 
        text: "Submission number",
        classes: "govuk-!-width-one-quarter"
      },
      value: {
        html: '3',
        classes: "govuk-!-width-one-half"
      },
      actions: {
        items: [
          {
            href: "review-history",
            text: "View review history",
            visuallyHiddenText: "View review history"
          }
        ]
      }
    },
    {
      key: { 
        text: "Last reviewed by",
        classes: "govuk-!-width-one-quarter"
      },
      value: { 
        html: '<a href="mailto:john.briggs@nationalarchives.org.uk" class="govuk-link">john.briggs@nationalarchives.org.uk</a>',
        classes: "govuk-!-width-one-half"
      }
    },
    {
      key: { 
        text: "Last updated",
        classes: "govuk-!-width-one-quarter"
      },
      value: { 
        text: "5th July 2024, 10:34am",
        classes: "govuk-!-width-one-half"
      }
    }
  ]
}) }}
-->

<p class="govuk-body govuk-!-margin-top-8">
  <a href="home" class="govuk-link  govuk-link--no-visited-state">Back to manage transfers</a>
</p>


{% endblock %}
