{% extends "layouts/main-tux-admin-interface.html" %}

{% block pageTitle %}
  Transfer details submitted
{% endblock %}



{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Saved
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Details saved to transfer review history
    </h3>

  </div>
</div>
  <h1 class="govuk-heading-l">Transfer review history – <strong>TDR-2024-NB5G</strong></h1>

{{ govukSummaryList({
  classes: "govuk-grid-column-two-thirds",
  rows: [
    {
      key: { text: "Department" },
      value: { text: "Mock 1 Department" }
    },
    {
      key: { text: "Series" },
      value: { text: "MOCK1 123" }
    },
    {
      key: { text: "Total/Open/Closed Records" },
      value: { text: "Total: 87;  Open: 73;  Closed: 1" }
    }
  ]
}) }}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Submission No.</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Review action</th>
          <th scope="col" class="govuk-table__header">Date reviewed</th>
          <th scope="col" class="govuk-table__header">Reviewed by</th>
          <th scope="col" class="govuk-table__header">Reason for review action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">5th July 2024 10:34</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
          <td class="govuk-table__cell">5th July 2024 11:34</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Zoe Fullard</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">1,300 CHARACTERS mmodo officia reprehenderit do minim quis do. Lorem eu tempor do mollit cupidatat do nulla ullamco ex occaecat in reprehenderit qui. Officia duis ipsum ad quis. Non ex mollit dolore quis veniam mollit excepteur sunt quis dolore.
Aliquip nulla incididunt labore eu id quis ex laboris id cillum ipsum veniam. Labore mollit et nostrud incididunt. Deserunt adipisicing dolor velit veniam sunt aute veniam cupidatat. Eiusmod occaecat nulla officia aliqua id id mollit reprehenderit anim occaecat Lorem eiusmod fugiat duis. Eu enim eu duis. Do et sunt ex ex voluptate non.
Id magna deserunt eiusmod mollit excepteur sit tempor aliqua tempor consectetur. Consequat culpa voluptate officia pariatur occaecat sit ad fugiat dolor mollit do in. Pariatur Lorem veniam sunt ex esse anim culpa. Dolor adipisicing proident duis duis mollit incididunt. Sint adipisicing eiusmod amet Lorem occaecat minim. Laboris amet sint duis cillum labore reprehenderit veniam aute velit consequat ipsum nisi voluptate exercitation.
Irure consectetur tempor exercitation eu laboris qui incididunt excepteur dolore nulla qui consectetur sint nostrud incididunt. Proident enim esse anim cillum exercitation voluptate laboris. Consequat incididunt enim ex elit enim labore cillum mollit veniam exercitation non id. Te</span></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">10th July 2024 10:34</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
          <td class="govuk-table__cell">10th July 2024 10:35</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Michael Launchbury</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">650 CHARACTERS cididunt officia aute cillum qui nostrud voluptate. Laboris veniam laborum minim elit. Eu minim ad cupidatat sit nisi consequat ea dolore veniam voluptate exercitation voluptate fugiat. Dolor duis elit cupidatat nulla reprehenderit non adipisicing sunt eiusmod et pariatur. Minim cupidatat nisi velit ut laborum amet duis incididunt veniam cillum aliquip aute anim. Velit commodo est dolore qui do sit nisi est culpa ullamco. Cupidatat mollit magna anim laborum ipsum occaecat aliqua Lorem aliqua laborum anim aute fugiat irure elit.
Eiusmod laborum do cillum aute incididunt anim occaecat ad adipisicing fugiat. Nisi et enim aute amet</span> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">11th July 2024 10:34</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
          <td class="govuk-table__cell">11th July 2024 10:37</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Michael Launchbury</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">Another reason why you might want to reject a review</span></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">12th July 2024 10:00</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
          <td class="govuk-table__cell">12th July 2024 10:15</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Zoe Fullard</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">Corrections reviewed  confirmed</span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<p class="govuk-body govuk-!-margin-top-5">
  <a href="javascript:window.history.back();" class="govuk-link">Back to transfer details</a>
</p>

{% endblock %}
