{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
      <p class="govuk-body">The service is unavailable from <time datetime="2023-12-22T12:00">12:00pm on Friday 22 December 2023</time> until <time datetime="2024-01-02T12:00">12:00pm on Tuesday 2 January 2024</time>.</p>
      <p class="govuk-body">If you have any further enquiries, contact <a href="">tdr@nationalarchives.gov.uk</a>.</p>
  </div>
</div>
{% endblock %}
