{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
      <p class="govuk-body">We are working on making this service available as soon as possible.</p>
      <p class="govuk-body">If you would like to transfer digital records in the meantime, please contact <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.</p>
  </div>
</div>
{% endblock %}
