{% extends "layouts/no-sign-out.html" %}

{% block pageTitle %}
Enter your one-time passcode
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/home" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="code">
              Enter your one-time passcode
            </label>
          </h1>
          {# <label class="govuk-label  govuk-label--m" for="code">
            One-time passcode
          </label> #}
          <div id="national-insurance-number-hint" class="govuk-hint">
            For example, ‘123456’ without any spaces.
          </div>
          <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Where do I find my one-time passcode?
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--number">
                <li>Make sure you have access to the smart device which has the Authenticator app linked to your Transfer Digital Records account.</li>
                <li>Open the app on your device and go to the Transfer Digital Records account within the app to retrieve the 6 digit one-time passcode.</li>
                <li>If the code doesn’t work, wait for the app to refresh and generate a new code and try using that instead.</li>
              </ul>
              <p class="govuk-body">Contact <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a> if you need support.</p>
            </div>
          </details>
          <input class="govuk-input govuk-input--width-5" id="code" name="event-name" type="text" inputmode="numeric">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
