{% extends "layouts/main-tux-386.html" %}


{% block head %}
  {{ super() }}
  <style>
    .govuk-notification-banner {
      border-color: #ca3535;
    }
    .govuk-notification-banner__header {
      background: #ca3535;
    }
    .govuk-notification-banner__title {
      color: #fff;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% set html %}
  <h3 class="govuk-notification-banner__heading">
Your folder 'my-records' has records that could not be uploaded
  </h3>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  titleText: 'There is a problem with your files'
}) }}


<h1 class="govuk-heading-l">What to do next</h1>

<p class="govuk-body">
You should be able to fix all the issues by following these instructions: 
</p>
<ol class="govuk-list govuk-list--number">

<li>Download the error report to identify the problem files:</li>

<div class="govuk-!-display-block govuk-!-margin-top-3">
<a class="govuk-button govuk-button--secondary download-metadata" href="#">
    <span aria-hidden="true" class="tna-button-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23">
            <path fill="#020202" d="m11.5 16.75-6.563-6.563 1.838-1.903 3.412 3.413V1h2.626v10.697l3.412-3.413 1.837 1.903L11.5 16.75ZM3.625 22c-.722 0-1.34-.257-1.853-.77A2.533 2.533 0 0 1 1 19.375v-3.938h2.625v3.938h15.75v-3.938H22v3.938c0 .722-.257 1.34-.77 1.855a2.522 2.522 0 0 1-1.855.77H3.625Z"></path>
        </svg>
    </span>
    Download error report (Excel)
</a>
</div>

<li>Open the error report and follow the instructions in the 'Action' and 'Detail' columns for each file.</li>

<li>Return to this service when your files are ready to upload again.</li>
</ol>

<p class="govuk-body">If you need help resolving these issues, contact your transfer advisor at <a href="mainto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a> with your consignment reference <strong>XXX-9999-XXXX</strong>.</p>



<hr class="govuk-section-break govuk-section-break--m">

<div class="da-alert da-alert--default">
    <div class="da-alert__content">
        <h2 class="da-alert__heading da-alert__heading--s">
Resuming your upload
        </h2>
        <p class="govuk-body"  class="govuk-link">
Once your transfer advisor confirms that the issues are resolved, you will need to start a new transfer.
        </p>
    </div>
</div>

 
    </div>

    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" open data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
    </div>
  </div>

{% endblock %}
