{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="./how-to-enter-metadata" class="govuk-back-link">How would you like to enter metadata?</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 5 of 7</span>
      <h1 class="govuk-heading-l">Upload a metadata CSV</h1>

      {% if data['csv-upload-status'] == "failed" %}
      {{ govukWarningText({
        text: "Uploading a new or amended CSV will overwrite any metadata imported from a previous CSV.",
        iconFallbackText: "Warning"
      }) }}
      {% endif %}

      <p class="govuk-body">In your CSV, include a header row for the column titles and one row for every record that requires metadata.</p>

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV",
          classes: "govuk-!-font-weight-bold"
        },
        attributes: {
          accept: "text/csv"
        }
      }) }}

      <div class="govuk-button-group">
        <a href="./csv-checks"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-123-TDR
      </div>
    </details>
  </div>
  </div>

{% endblock %}
