{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}\
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Add closed records metadata
{% endblock %}

{% block beforeContent %}
  <a href="./" class="govuk-back-link">Back to Closed records information</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
    <h1 class="govuk-heading-l">Add closed record informaton</h1>
    <p class="govuk-body">Your progress is saved each time you add or edit information.</p>
    <div class="govuk-button-group">
      <a href="./choose-a-file" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add information to a record
      </a>
      <a href="./confirm-complete" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        I have finished adding information
      </a>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./summary-table.html" %}
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
