.da-alert {
  @extend .govuk-inset-text;
  border-color: #2b8cc4;
  background-color: #dbeff9;

  &--success {
    border-color: #28a197;
    background-color: #c6ece9;
  }

  &--error {
    border-color: #c42b2b;
    background-color: #f3dede;
  }

  &--info {
    border-color: #FCDBA9;
    background-color: #FCF5EA;
  }

  &:first-child {
    @include govuk-responsive-margin(0, "top");
  }

  &:last-child {
    @include govuk-responsive-margin(0, "bottom");
  }

  &__heading {
    @include govuk-font(24, 'bold');
    @include govuk-responsive-margin(3, "bottom");
  }
}



.da-alert--with-icon {
  display: flex;
  gap: 20px;
}

.da-alert__icon > .da-icon {
  @include govuk-responsive-margin(1, "top");
  @include govuk-responsive-margin(1, "left");
}

.da-alert {

  .da-alert__icon svg.da-icon {
    fill: #174E75;
  }
  &--success .da-alert__icon svg.da-icon {
    fill: #1B7069;
  }
  
  &--error  .da-alert__icon svg.da-icon {
    fill: #831D1D;
  }
  
  &--info  .da-alert__icon svg.da-icon {
    fill: #985E05;
  }
}

.da-alert__content {
  > *:first-child {
    @include govuk-responsive-margin(0, "top");
  }

  > *:last-child {
    @include govuk-responsive-margin(0, "bottom");
  }
}
