
.filteredby-panel {
  border-bottom: 1px solid govuk-colour("mid-grey");
  margin-bottom: 10px;
  justify-content: space-between;
  gap: 16px;
  @include govuk-font($size: 16);
  @include govuk-text-colour;
  @include govuk-responsive-padding(2);
  background-color: govuk-colour("light-grey");
}

@include govuk-media-query($from: tablet) {
  .filteredby-panel {
    display: flex;
  }

  .filteredby-panel__count-label {
    margin-right: 0;
  }

  .filteredby-panel__count {
    width: 200px;
    // margin-top: 10px;
  }
}

.filteredby-panel__count {
  margin-right: 0;
}

.filteredby-panel__count-label {
  margin-right: 5px;
  @include govuk-font($size: 16);
  font-weight: bold;
}

.filteredby-panel__facets {
  flex: 1;
}


.filteredby-panel__count .record-count {
  display: inline-block;
}
