//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import 'node_modules/@nationalarchives/tdr-components/components/multi-select-search/_index';
@import 'node_modules/@nationalarchives/tdr-components/components/nested-navigation/_index';
@import './prototype-history.scss';
@import './folder-upload.scss';


.tna-tree__radios-directory__label {
  background-image: url('/public/images/folder.png');
}

[role="treeitem"]:focus>div>.tna-tree__radios-directory .tna-tree__radios-directory__label,
[role="treeitem"]:hover>div>.tna-tree__radios-directory .tna-tree__radios-directory__label {
  background-image: url('/public/images/folderHover.png');
}

// menu button in header (now 'Sign out' button)
.govuk-header__menu-button::after {
  display: none;
}

.govuk-header__tna-logo {
  float:left;
  width:220px
}
.govuk-header__tna-logo-image {
  width:220px
}

.govuk-header__tna_link {
  text-decoration:none
}
.govuk-header__tna_link:link,
.govuk-header__tna_link:visited {
  color:#fff
}
.govuk-header__tna_link:focus {
  outline:3px solid transparent;
  color:#0b0c0c;
  background-color:#fd0;
  box-shadow:0 -2px #fd0,0 4px #0b0c0c;
  text-decoration:none
}
.govuk-header__tna_link--homepage {
  font-family:Arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:700;
  display:inline-block;
  font-size:30px;
  line-height:1
}
@media print {
  .govuk-header__tna_link--homepage {
    font-family:sans-serif
  }
}
.govuk-header__tna_link--homepage:link,
.govuk-header__tna_link--homepage:visited {
  text-decoration:none
}

.govuk-header__content--nav-right nav {
  float: right;
}

//file-checks-results.html
.govuk-success-summary {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(8, "bottom");

  border: $govuk-border-width solid #00703c;

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

.govuk-success-summary__title {
  @include govuk-font($size: 24, $weight: bold);

  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

.govuk-success-summary__body {
  @include govuk-font($size: 19);

  p {
    margin-top: 0;
    @include govuk-responsive-margin(4, "bottom");
  }
}

.progress-display {
  appearance: none;
  background-color: #505a5f;
  border: none;
  color: #505a5f;
  height: 20px;
  position: relative;
  width: 0%;
}

.progress-bar {
  appearance: none;
  background-color: #f3f2f1;
  border: solid 1px #b1b4b6;
  color: #505a5f;
  height: 20px;
  margin: 0.1px;
  position: relative;
  width: 100%;
}

.showBanner {
  animation: showBlock 0s 10s forwards;
  visibility: hidden;
  height:0;
}

@keyframes showBlock {
  to {
    visibility: visible;
    height: 100%;
  }
}

.icon svg {
  fill: white;
  line-height: 1;
  height: 1em;
  width: 1em;
}

.icon {
  display: inline-flex;
  height: 24px;
  background: green;
  border-radius: 50%;
  padding: 3px;
  margin: 0 0 0 15px;
}

.govuk-checkboxes__label--withicon {
  display: flex;
}

.govuk-form-group--tight{
  @include govuk-responsive-margin(1, "bottom");
}

.govuk-form-group .govuk-form-group--tight:last-of-type {
  @include govuk-responsive-margin(2, "bottom");
}

.govuk-tdr-download-csv-row {
  display: flex;
  gap: 20px;
  @include govuk-responsive-margin(3, "bottom");
}

.govuk-tdr-download-csv-row a {
  flex-basis: content;
}

.govuk-tdr-download-csv-row img {
  max-width: 100%;
  display: inline-block;
}

.gem-c-attachment__thumbnail-image {
  display: block;
  width: auto;
  max-width: 99px;
  height: 100px;
  border: rgba(11,12,12,0.1);
  outline: 5px solid rgba(11,12,12,0.1);
  background: #fff;
  box-shadow: 0 2px 2px rgba(11,12,12,0.4);
  fill: #b1b4b6;
  stroke: #b1b4b6;
}

.govuk-date-input__multi-date-container {
  display: flex;
  gap: 15px;
  @include govuk-responsive-margin(3, "bottom");
}

.govuk-date-input__multi-date-label {
  align-self: flex-end;
  margin-bottom: 0;
}

.govuk-fieldset--horizontal-align {
  display: flex;
  gap: 15px;
}

.govuk-fieldset--horizontal-align .govuk-fieldset__legend {
  align-self: flex-end;
  margin: 0;
  width: 100px
}

.govuk-fieldset--horizontal-align .govuk-form-group {
  margin-bottom: 0;
}

.govuk-fieldset--horizontal-align  {
  @include govuk-responsive-margin(5, "bottom");
}

.govuk-tdr-multi-select {
  height: 200px;
}

.govuk-tdr-file-selection-panel__search {
  display: flex;
  gap: govuk-spacing(2);
  @include govuk-responsive-margin(2, "bottom");
}

.govuk-tdr-file-selection-panel__search .govuk-button {
  margin-bottom: 0;
  flex-basis: content;
}

.govuk-tdr-file-selection-panel .govuk-button-group {
  margin-bottom: 0;
}

.tdr-card {
  border: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(5);
  @include govuk-responsive-padding(6, "right");
  @include govuk-responsive-padding(6, "left");
  @include govuk-responsive-margin(6, "bottom");
}

.tdr-card--error {
  border: 2px solid $govuk-error-colour;
  @include govuk-responsive-padding(4, "left");
}

.tdr-card--error .tdr-card__content {
  padding-left: 15px;
  border-left: 5px solid #d4351c;
  @include govuk-responsive-padding(4, "left");
}

.tdr-card__content {
  position: relative;
}

.tdr-card header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tdr-card__content > *:last-child {
  margin: 0;
}

.tdr-card--metadata__inset-text {
  color: $govuk-secondary-text-colour
}

.tdr-tag {
  display: inline-block;
  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
}

.tdr-tag--grey {
  color: govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30);
  background: govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90);
}

.tdr-tag--purple {
  color: govuk-shade(govuk-colour("purple"), 20);
  background: govuk-tint(govuk-colour("purple"), 80);
}

.tdr-tag--turquoise {
  color: govuk-shade(govuk-colour("turquoise"), 60);
  background: govuk-tint(govuk-colour("turquoise"), 70);
}

.tdr-tag--blue {
  color: govuk-shade(govuk-colour("blue"), 30);
  background: govuk-tint(govuk-colour("blue"), 80);
}

.tdr-tag--yellow {
  color: govuk-shade(govuk-colour("yellow"), 65);
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.tdr-tag--orange {
  color: govuk-shade(govuk-colour("orange"), 55);
  background: govuk-tint(govuk-colour("orange"), 70);
}

.tdr-tag--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.tdr-tag--pink {
  color: govuk-shade(govuk-colour("pink"), 40);
  background: govuk-tint(govuk-colour("pink"), 80);
}

.tdr-tag--green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}

.tna-button-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
  display: inline-block;
}

.tna-button-icon svg {
  max-height: 100%;
}


.govuk-table--tdr-transfers tr:first-child td:first-child {
  padding-right: 8px;
  padding-left: 4px;
}

.govuk-table--tdr-transfers tr td:first-child button {
  position: relative;
  top: -6px;
}

.govuk-table--tdr-transfers .no-data {
  color:#6B7276;
}
.govuk-table--tdr-transfers td,
.govuk-table--tdr-transfers th {
  text-align: left;
}

@include govuk-media-query($from: tablet) {
  .govuk-table--tdr-transfers td, .govuk-table--tdr-transfers th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
  }
}

.tdr-link-group a {
  white-space: nowrap;
}

.tdr-link-group a:first-child {
  margin-left: 0;
}

.tdr-arrow-expander {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  height: 26px;
  width:30px;
}

.tdr-arrow-expander::before {
  content: "";
  position: absolute;

  top: -1px;
  bottom: 0;
  left: 10px;

  margin: auto;
  @include govuk-shape-arrow($direction: right, $base: 15px);
  border-color: $govuk-link-colour;
}

.tdr-arrow-expander:focus {
  outline: 3px solid transparent;
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
  box-shadow: 0 -2px $govuk-focus-colour,
  0 4px $govuk-focus-text-colour;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.tdr-arrow-expander[aria-expanded="true"]::before {
  @include govuk-shape-arrow($direction: down, $base: 15px);
  left: 7px;
  border-color: $govuk-link-colour;
}

.tdr-transfers-extra {
  display: flex;
  width: 100%;
  gap: 10px;
  // justify-content: space-between;
}

.tdr-transfers-extra__list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tdr-transfers-extra__list:first-child {
  flex-grow: 1;
}

.tdr-transfers-extra__list:last-child {
  flex-grow: 3;
}

.tdr-dlist {
  background-color: #f8f8f8;
  padding: 20px;
}

.tdr-dlist dt {
  margin-bottom: 4px;
  font-weight: bold;
}

.tdr-dlist dd {
  margin: 0;
  padding: 0;
}

.tdr-button-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #1d70b8;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
  top: 0px !important;
}

.govuk-table--tdr-transfers tr td button.tdr-button-link {
  top: 0;
}

#file-selection .tna-tree {
  max-height: 60vh;
}

.govuk-pagination--centred {
  justify-content: center;
}

.govuk-table--tdr-transfers .govuk-table__cell--no-results {
  background-color: #f7f7f7;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
}

.govuk-link--disable {
  pointer-events: none;
  color: darkgrey !important;
}

.tdr-aside {
  border-top: 2px solid $govuk-link-colour;
}
