
.prototype-history__image {
  width: 100%;
  min-height: 400px;
  background: grey;
  border: 5px solid black;
  box-sizing: border-box;
}

.prototype-history__image img {
  width: 100%;
  display: block;
}

.govuk-tag--small {
  font-size: 14px;
}

.gov-table__cell--blocked__on_hold, 
.gov-table__cell--abandoned, 
.gov-table__cell--superseded,
.gov-table__cell--not_taken_forward {
  opacity: 0.75;
} 
  
.gov-table__cell--in_progress {
  background-color: #f7f7f7;
}

.govuk-table__cell:first-child {
  padding: 10px 20px 10px 10px;
}
