
.prototype-history__image {
  width: 100%;
  min-height: 400px;
  background: grey;
  border: 5px solid black;
  box-sizing: border-box;
}

.prototype-history__image img {
  width: 100%;
  display: block;
}

.gov-table__cell--blocked__on_hold, 
.gov-table__cell--abandoned, 
.gov-table__cell--not_taken_forward {
  opacity: 0.5;
} 
  
.gov-table__cell--in_progress {
  background-color: rgb(255, 248, 248);
}
