{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="./how-to-enter-metadata" class="govuk-back-link">How would you like to enter metadata?</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
      <h1 class="govuk-heading-l">Upload a CSV with record metadata</h1>

      {% if data['csv-upload-status'] == "failed" %}
      {{ govukWarningText({
        text: "Uploading a new or amended CSV will overwrite any metadata imported from a previous CSV.",
        iconFallbackText: "Warning"
      }) }}
      {% endif %}

      <p class="govuk-body">Upload a metadata CSV with a row for every record in your consignment. The CSV must contain specific populated columns for a successful upload.</p>
      <p class="govuk-body">For more information on the CSV structure and content, visit the <a href="/metadata-guidance" class="govuk-link">metadata guidance page</a>.</p>

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV",
          classes: "govuk-!-font-weight-bold"
        }
      }) }}


      <div class="govuk-button-group">
        <a href="./csv-checks"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
  </div>

{% endblock %}
