{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="./how-to-enter-metadata" class="govuk-back-link">How would you like to enter metadata?</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 5 of 7</span>
      <h1 class="govuk-heading-l">Upload a CSV with record metadata</h1>

      {% if data['csv-upload-status'] == "failed" %}
      {{ govukWarningText({
        text: "Uploading a new or amended CSV will overwrite any metadata imported from a previous CSV.",
        iconFallbackText: "Warning"
      }) }}
      {% endif %}

      <p class="govuk-body">In your CSV, include a header row for the column titles and one row for every record that requires metadata.</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What column titles should I use?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Other than the two mandatory columns, only include those necessary for your metadata</p>
          <ul class="govuk-list govuk-list--bullet govuk-list--inline-pre">
            <li><strong>identifier</strong> (mandatory)</li>
            <li><strong>file_name</strong> (mandatory)</li>
            <li><strong>description</strong></li>
            <li><strong>end_date</strong></li>
            <li><strong>foi_exemption_asserted</strong></li>
            <li><strong>closure_period</strong></li>
            <li><strong>closure_start_date</strong></li>
            <li><strong>title_public</strong></li>
            <li><strong>title_alternate</strong></li>
            <li><strong>description_public</strong></li>
            <li><strong>description_alternate</strong></li>
            {# <li><strong>date of the record</strong> - Date format as follows: <pre>DD/MM/YYYY</pre></li>
            <li><strong>foi exemption code</strong> - One or more comma separated, for example <pre>22, 27(1), 24</pre></li>
            <li><strong>closure period</strong> - Years as a number, for example <pre>80</pre></li>
            <li><strong>closure start date</strong> - Date format as follows: <pre>DD/MM/YYYY</pre></li> #}
          </ul>
        </div>
      </details>

      {# <p class="govuk-body">For more information on the CSV structure and content, visit the <a href="/metadata-guidance" class="govuk-link">metadata guidance page</a>.</p> #}

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV",
          classes: "govuk-!-font-weight-bold"
        }
      }) }}


      <div class="govuk-button-group">
        <a href="./csv-checks"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-123-TDR
      </div>
    </details>
  </div>
  </div>

{% endblock %}
