{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="./how-to-enter-metadata" class="govuk-back-link">How would you like to enter metadata?</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select a CSV file to upload",
            href: "#file-upload-1"
          }
        ]
      }) }}

      <h1 class="govuk-heading-l">Upload a metadata CSV</h1>

      {% if data['csv-upload-status'] == "failed" %}
      {{ govukWarningText({
        text: "Uploading a new or amended CSV will overwrite any metadata imported from a previous CSV.",
        iconFallbackText: "Warning"
      }) }}
      {% endif %}

      <p class="govuk-body">In your CSV, include a header row for the column titles and one row for every record that requires metadata.</p>

      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-8 download-metadata" href="/consignment/11698e33-4a14-41e9-a298-e87e857ac731/additional-metadata/download-metadata/csv" style="pointer-events: auto;">
        <span aria-hidden="true" class="tna-button-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23">
            <path fill="#020202" d="m11.5 16.75-6.563-6.563 1.838-1.903 3.412 3.413V1h2.626v10.697l3.412-3.413 1.837 1.903L11.5 16.75ZM3.625 22c-.722 0-1.34-.257-1.853-.77A2.533 2.533 0 0 1 1 19.375v-3.938h2.625v3.938h15.75v-3.938H22v3.938c0 .722-.257 1.34-.77 1.855a2.522 2.522 0 0 1-1.855.77H3.625Z"></path>
          </svg>
        </span>
        Download metadata Excel template
      </a>

      {#<details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What column titles should I use?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Other than the two mandatory columns, only include those necessary for your metadata</p>
          <ul class="govuk-list govuk-list--bullet govuk-list--inline-pre">
            <li><strong>identifier</strong> (mandatory)</li>
            <li><strong>file_name</strong> (mandatory)</li>
            <li><strong>description</strong></li>
            <li><strong>end_date</strong></li>
            <li><strong>foi_exemption_asserted</strong></li>
            <li><strong>closure_period</strong></li>
            <li><strong>closure_start_date</strong></li>
            <li><strong>title_public</strong></li>
            <li><strong>title_alternate</strong></li>
            <li><strong>description_public</strong></li>
            <li><strong>description_alternate</strong></li>
            <!--<li><strong>date of the record</strong> - Date format as follows: <pre>DD/MM/YYYY</pre></li>
            <li><strong>foi exemption code</strong> - One or more comma separated, for example <pre>22, 27(1), 24</pre></li>
            <li><strong>closure period</strong> - Years as a number, for example <pre>80</pre></li>
            <li><strong>closure start date</strong> - Date format as follows: <pre>DD/MM/YYYY</pre></li> -->
          </ul>
        </div>
      </details> #}

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV",
          classes: "govuk-!-font-weight-bold"
        },
        errorMessage: {
          text: "Select a CSV file to upload"
        }
      }) }}


      <div class="govuk-button-group">
        <a href="./csv-checks"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-123-TDR
      </div>
    </details>
  </div>
  </div>

{% endblock %}
