{% extends "layouts/main.html" %}

{% block pageTitle %}
  Transfer agreement
{% endblock %}

{% block header %}
  {% include "./inc-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Transfer agreement</h1>
      <p class="govuk-body">You must confirm all statements before proceeding.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This service is in beta. During this time, only records that are public records and are Crown copyright will be accepted. For more information, visit the FAQ (opens in new tab). If you need to transfer records that do not meet this criteria, contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.
        </strong>
      </div>

      <form class="form" action="./transfer-agreement-continued" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              I confirm that all records are:
            </legend>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Public records
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Crown copyright
                </label>
              </div>
            </div>

          </fieldset>
        </div>


        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Agree and continue</button>
          <a class="govuk-button govuk-button--secondary" href="/home">Cancel transfer</a>
        </div>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <details open class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-TDR-1301
        </div>
      </details>
    </div>
  </div>

{% endblock %}
