{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "macros/icon.njk" import daIcon %}

{% block pageTitle %}
  Metadata entry guidance - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{# {% block beforeContent %}
  <a href="./transfer-tasks" class="govuk-back-link">Back to Consignment</a>
{% endblock %} #}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Metadata guidance</h1>

      <h2 class="da-contents-list__title">
        Contents
      </h2>
      <nav class="da-contents-list govuk-!-margin-bottom-8">
        <ol class="da-contents-list__list">
          <li class="da-contents-list__list-item da-contents-list__list-item--parent">
            <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#creating-a-metadata-spreadsheet">Creating a metadata spreadsheet</a>
            <ol class="da-contents-list__nested-list">
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#starting-with-your-own">
                  Starting with your own spreadsheet</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#starting-with-the-template">
                  Starting with the generated template</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#required-fields">
                  <span aria-hidden="true"></span>
                  Required columns
                </a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#export-the-template-csv">
                  <span aria-hidden="true"></span>
                  Export the template as a CSV (UTF-8) for upload
                </a>
              </li>
            </ol>
          </li>
          <li class="da-contents-list__list-item da-contents-list__list-item--parent">
            <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#metadata-provided-in-template">Metadata provided in the template</a>
            <ol class="da-contents-list__nested-list da-contents-list__list-item--numbered">
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#metadata-we-extract-from-your-records">
                  Columns with metadata extracted from your records</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#columns-with-default-values">Columns with default values</a>
              </li>
            </ol>
          </li>
          <li class="da-contents-list__list-item da-contents-list__list-item--parent">
            <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#completing-the-spreadsheet">Completing the spreadsheet</a>
            <ol class="da-contents-list__nested-list da-contents-list__list-item--numbered">
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#check-date-last-modified">
                  <span class="da-contents-list__number">1. </span>
                  <span class="da-contents-list__numbered-text">Check the <em>Date last modified</em> column</span>
                </a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#provide-metadata-about-closed-records">
                  <span class="da-contents-list__number">2. </span>
                  <span class="da-contents-list__numbered-text">Provide metadata about closed records</span>
                </a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#provide-record-descriptions">
                  <span class="da-contents-list__number">3. </span>
                  <span class="da-contents-list__numbered-text">Provide record descriptions</span>
                </a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#change-the-record-language">
                  <span class="da-contents-list__number">4. </span>
                  <span class="da-contents-list__numbered-text">Change the record language</span>
                </a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#other-metadata-fields">
                  <span class="da-contents-list__number">5. </span>
                  <span class="da-contents-list__numbered-text">Other metadata fields</span>
                </a>
              </li>
            </ol>
          </li>
          <li class="da-contents-list__list-item da-contents-list__list-item--parent">
            <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#metadata-that-doesnt-fit">Providing metadata that doesn't fit the template</a>
          </li>
          <li class="da-contents-list__list-item da-contents-list__list-item--parent">
            <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details">All column headings</a>
            <ol class="da-contents-list__nested-list da-contents-list__list-item--numbered">
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-uuid">
                  UUID
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-filepath">Filepath</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-filename">Filename</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-dlm">Date Last Modified</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-dateoftherecord">Date of the Record</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-description">Description</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-formerref">Former Reference</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-language">Language</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-translatedtitle">Translated filename of the record</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-closurestatus">Closure Status</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-closureperiod">Closure Period</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-foiexemptioncode">FOI Exemption Code</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-foidecisionasserted">FOI Decision Asserted</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-altfilename">Alternative filename</a>
              </li>
              <li class="da-contents-list__list-item da-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="da-contents-list__link govuk-link govuk-link--no-underline" href="#column-details-altdescription">Alternative description</a>
              </li>
            </ol>
          </li>
        </ol>
      </nav>

      <h2 class="govuk-heading-l" id="creating-a-metadata-spreadsheet">Creating a metadata spreadsheet</h2>

      <p class="govuk-body">As part of a digital transfer to The National Archives your consignment of records must be transferred with metadata to assist preservation and make your records easier to find in our public catalogue.</p>
      
      <p class="govuk-body">You can add metadata to the records by uploading a spreadsheet containing specific columns. You can start from the template generated by Transfer Digital Records or you can modify an existing spreadsheet to include the required column headings.</p>

      <h3 class="govuk-heading-m" id="starting-with-your-own">Starting with your own spreadsheet</h3>

      <p class="govuk-body">If you have an existing metadata spreadsheet, or can create one, you can upload this to Transfer Digital Records. The spreadsheet must contains the <a class="govuk-link" href="#required-fields">required column headings</a>. Any additional columns will be ignored.</p>
      
      <p class="govuk-body">You can use the generated metadata template to show the structure that your spreadsheet needs to conform to.</p>

      <p class="govuk-body">The populated columns in the template that contain <a class="govuk-link" href="#metadata-we-extract-from-your-records">metadata extracted from you records</a> should be exactly the same as the template.</p>

      <h3 class="govuk-heading-m" id="starting-with-the-template">Starting with the generated template</h3>
      <p class="govuk-body">Transfer Digital Records generates a template containing a row for every uploaded record and some columns with pre-populated <a class="govuk-link" href="#metadata-we-extract-from-your-records">metadata extracted from your records</a> or <a class="govuk-link" href="#columns-with-default-values">set by default</a>. </p>
      
      <p class="govuk-body">There are empty columns available to provide closed record metadata and additional metadata for each record.</p>
      
      <p class="govuk-body">You can download the generated template after you have uploaded records.</p>
      
      <h3 class="govuk-heading-m" id="required-fields">Required columns</h3>


      <p>In order for us to process your metadata upload it must include the following columns exactly as they appear in the downloadable template:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>File name</li>
        <li>File path</li>
        <li>Date last modified</li>
        <li>UUID</li>
      </ul>

      <p>The following column headers must be included, but values are not required for each row:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Date of the Record</li>
        <li>Description</li>
        <li>Former reference</li>
        <li>Language</li>
        <li>Translated filename of record</li>
        <li>Closure Status</li>
        <li>Closure Period</li>
        <li>FOI Exemption Code</li>
        <li>FOI Decision Asserted</li>
        <li>Alternative filename</li>
        <li>Alternative description</li>
      </ul>

      <h3 id="export-the-template-csv" class="govuk-heading-m">Export the template as a CSV (UTF-8) for upload</h3> 

      <p class="govuk-body">Once you have finished adding metadata to your spreadsheet you will need to export a file in the <abbr title="Comma Seperated Values">CSV UTF-8</abbr> format before uploading it.</p>

      <p class="govuk-body">We recommend that you follow these steps: </p>

      
      <ol class="govuk-list govuk-list--number">
        <li>Ensure that the spreadsheet is open in the Excel desktop app, not the browser</li>
        <li>With the metadata sheet active, select 'File' then 'Save a copy'</li>
        <li>From the dropdown select 'CSV UTF-8 (Comma delimited) (*.csv)' and save </li>
      </ol>

      
      <p class="govuk-body">
        <img style="max-width: 100%; height: auto" src="/public/images/saveas-csvutf8.png" />
        <span class="govuk-hint"><a target="blank" href="/public/images/saveas-csvutf8.png">Open larger version of image in new tab</a></span>
      </p>
      <h2 id="metadata-provided-in-template" class="govuk-heading-l">Metadata provided in the template</h2>

      <h3 class="govuk-heading-m" id="metadata-we-extract-from-your-records">Columns with metadata extracted from your records</h3>
      
      <p class="govuk-body">The template will contain the following columns with pre-populated metadata extrated from your records during upload:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>File name</li>
        <li>File path</li>
        <li>Date last modified</li>
        <li>UUID</li>
      </ul>

      {{ govukWarningText({
        html: "These columns must not be edited.",
        iconFallbackText: "Warning"
      }) }}
      
      <p class="govuk-body">If the <em>Date last modified</em> field is not accurate there is <a href='#check-date-last-modified' class="govuk-link">another column for providing date metadata</a>.</p>

      <h3 id="columns-with-default-values" class="govuk-heading-m">Columns with default values</h3>
      <p class="govuk-body">The template will contain some columns with pre-populated default values.</p>

      {{ govukTable({
        caption: "",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: "Column name"
          },
          {
            text: "Default in template"
          }
        ],
        rows: [
          [
            {
              text: "Language"
            },
            {
              html: "<pre style='margin:0'>English</pre>"
            }
          ],
          [
            {
              text: "?!Closure status!?"
            },
            {
              html: "<pre style='margin:0'>Open</pre>"
            }
          ]
        ]
      }) }}
       
      <p class="govuk-body">These columns can be edited directly.</p>
      <p class="govuk-body">Find the values we accept for these columns in the <a href="#column-details" class="govuk-link">details of all column headings</a>.</p>

      <h2 id="completing-the-spreadsheet" class="govuk-heading-l">Completing the spreadsheet</h2>
      <p class="govuk-body">The template opens in Microsoft Excel and contains columns with prepopulated metadata and empty columns for you to provide metadata.</p>

      <p class="govuk-body">The metadata values we extract and set by default must be checked. You must also provide closed record metadata and any additional metadata for each record.</p>
      
      <p class="govuk-body">Below is a step-by-step guide to completing the template.</p>

      <h3 id="check-date-last-modified" class="govuk-heading-m">1. Check the <em>Date last modified</em> column</h3> 
      <p class="govuk-body">The <em>Date last modified</em> column was populated with values extracted from the records. Check that the date represents the last meaningful change to the record.</p>

      {{ govukWarningText({
        html: "The <em>Date last modified</em> column must not be edited directly.",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">If you need to enter a different date use the <em>Date of the record</em> column in the format YYYY-MM-DD.</p>
      <p class="govuk-body">The <em>Date last modified</em> or, if provided, the <em>Date of the record</em> value will be used as the closure start date for a closed record. See the section on <a href="#provide-metadata-about-closed-records">providing closed record metadata</a>.</p>

      <h3 id="provide-metadata-about-closed-records" class="govuk-heading-m">2. Provide metadata about closed records</h3> 
      
      <div class="da-alert da-alert--error da-alert--with-icon">
        <div class="da-alert__icon">
          <div aria-hidden="true">
            {{- daIcon({"iconType": 'warning', iconSize: "xl"})-}}
          </div>
        </div>
        <div class="da-alert__content">
          <h2 class="da-alert__heading da-alert__heading--s">Closed records</h2>
          <p class="govuk-body">If you have closed records in your consignment you must provide metadata about those records.</p>
         <p class="govuk-body">The closure status of the records must be approved by the Advisory Council and/or The National Archives before transfer.</p>
        </div>
      </div>
      <p class="govuk-body">For every closed record in the consignment you must provide metadata in the following columns.</p>
    
      <p class="govuk-body">Find detailed information about <a href="#column-details" class="govuk-link">each of the columns headings</a>.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Column</th>
            <th scope="col" class="govuk-table__header">Value</th>
            {# <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Example</th> #}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Closure status</td>
            <td class="govuk-table__cell"><pre style='margin:0'>Closed</pre></td>
            {# <td class="govuk-table__cell"><pre style='margin:0'>Closed</pre></td> #}
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FOI decision asserted date</td>
            <td class="govuk-table__cell">Date in format YYYY-MM-DD</td>
            {# <td class="govuk-table__cell"><pre style='margin:0'>2024-08-14</pre></td> #}
          </tr>          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">FOI exemption code <a href='#fn1-text' class='footnote-symbol' id='fn1-symbol' aria-describedby='fn1-text'>&#x2020;</a></td>
            <td class="govuk-table__cell">One or more pipe separated codes</td>
            {# <td class="govuk-table__cell"><pre style='margin:0'>22A | 23</pre></td> #}
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Date last modified <em>OR</em> Date of the record <a href='#fn2-text' class='footnote-symbol' id='fn2-symbol' aria-describedby='fn2-text'>&#x2020;&#x2020;</a></td>
            <td class="govuk-table__cell">Date in format YYYY-MM-DD</td>
            {# <td class="govuk-table__cell"><pre style='margin:0'>2004-03-23</pre></td> #}
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Closure period</td>
            <td class="govuk-table__cell">Number of years</td>
            {# <td class="govuk-table__cell"><pre style='margin:0'>80</pre></td> #}
          </tr>
        </tbody>
        <caption>
          <div>
            <p class="footnote-text" id="fn1-text" role="note">
                <a class="footnote-text__link" href="#fn1-symbol">Footnote &#x2020;:</a> For more information see this full list of <a  href="https://www.legislation.gov.uk/ukpga/2000/36/contents" class="govuk-link">FOI Exemption codes and their designated exemptions</a>.
            </p>
            <p class="footnote-text" id="fn2-text" role="note">
                <a class="footnote-text__link" href="#fn2-symbol">Footnote &#x2020;&#x2020;:</a> If <em>Date of the record</em> is provided it will be used to indicate the closure start date. If <em>Date of the record</em> is not provided <em>Date last modified</em> will be used.
            </p>
        </div>
        </caption>
      </table>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h4 id="optional-closed-record-metadata" class="govuk-heading-s">Optional closed record metadata</h4> 
      <p class="govuk-body">The template contains the following optional fields for closed records. </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Column</th>
            <th scope="col" class="govuk-table__header">Value</th>
            {# <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Example</th> #}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alternative filename</td>
            <td class="govuk-table__cell">A file name excluding the file extension, which will be visible to the public during the closure period.</td>
            {# <td class="govuk-table__cell"><pre style='margin:0;white-space: normal;'>Sentencing remark [withheld] case number 78365</pre></td> #}
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alternative description</td>
            <td class="govuk-table__cell">
              A description, which will be visible to the public during the closure period.
            </td>
            {# <td class="govuk-table__cell">
              <pre style='margin:0; white-space: normal;'>Lorem ipsum dolor sit amet, [withheld]. Donec fringilla pretium nunc eget tempus.</pre>
            </td> #}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h3 id="provide-record-descriptions" class="govuk-heading-m">3. Provide record descriptions</h3> 
      <p>Whenever possible provide additional descriptive information about the record in the <em>Description</em> column. For example, if the file name is not descriptive.</p>
      <div class="da-alert da-alert--info da-alert--with-icon">
        <div class="da-alert__content">
          <h2 class="da-alert__heading da-alert__heading--s">We strongly encourage the addition of descriptive metadata</h2>
          <p class="govuk-body">Any descriptive metadata you provide helps to enrich the record, making it easier to find in our public catalogue.</p>
        </div>
      </div>

      <p class="govuk-body">If you have additional metadata fields that do not match columns in our spreadsheet, these can sometimes be included in the <em>Description</em> field. Before doing this email a Digital Transfer Advisor at <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a> for advise.</p>


      <h3 id="change-the-record-language" class="govuk-heading-m">4. Change the record language</h3> 
      <p class="govuk-body">The template includes a <em>Language</em> field that is set to English by default.</p>
      <p class="govuk-body">We currently only accept English and Welsh in this column. Change this column from the default (English) if the record contains Welsh or a mixture of English and Welsh. Each language needs to be separated by a pipe symbol.</p>
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Column</th>
            <th scope="col" class="govuk-table__header">Value</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Example</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Language</td>
            <td class="govuk-table__cell">Pipe separated list of languages</td>
            <td class="govuk-table__cell"><pre style='margin:0;white-space: normal;'>English | Welsh</pre></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 id="other-metadata-fields" class="govuk-heading-m">5. Add other additional metadata</h3> 
      <p class="govuk-body">The template also includes column headers for additional metadata, such as <em>Former reference</em> and <em>Translated filename of the record</em>.</p>
      <p class="govuk-body">See a <a class="govuk-link" href="#column-details">full list of column titles</a>.</p>
      
      <h2 id="metadata-that-doesnt-fit" class="govuk-heading-l">Providing metadata that doesn't fit the template</h2> 
      <p class="govuk-body">If you have metadata that you would like to provide but it doesn't fit into the provided template columns, contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a> to speak to a Transfer Advisor.</p>
    
      <h2 id="column-details" class="govuk-heading-l">All column headings</h2> 
      <p class="govuk-body">Find descriptions, formatting requirements and example values for all the columns accepted by Transfer Digital Records.</p>
      
      <h3 id="column-details-uuid" class="govuk-heading-m">UUID</h3> 
      <p class="govuk-body">?????</p>
      
      <h3 id="column-details-filepath" class="govuk-heading-m">Filepath</h3> 
      <div class="da-alert da-alert--error da-alert--with-icon govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="da-alert__icon">
          <div aria-hidden="true">
            {{- daIcon({"iconType": 'warning', iconSize: "xl"})-}}
          </div>
        </div>
        <div class="da-alert__content">
          <p class="govuk-body">Editing this column will cause the metadata upload to fail</p>
        </div>
      </div>
      <p class="govuk-body">This is extracted from your records during upload. It includes the filename.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Filepath</pre>"
            }
          },
          {
            key: {
              text: "Example"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>Direction of policy/Project management/FW_ X DEPT - inclusion in ISP (1).MSG</pre>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "No"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-filename" class="govuk-heading-m">Filename</h3> 
      <p class="govuk-body">This is extracted from your records during upload.</p>
      <p class="govuk-body">We will not process this column in your upload, so you do not need to add values to this column if you are <a class="govuk-link" href="metadata-guidance#starting-with-your-own">creating your own metadata spreadsheet</a>.</p>
      <p class="govuk-body">Any changes to values in this column in the template will be ignored.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Filename</pre>"
            }
          },
          {
            key: {
              text: "Example"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>FW_ X DEPT - inclusion in ISP (1).MSG</pre>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "No"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-dlm" class="govuk-heading-m">Date Last Modified</h3> 
      <p class="govuk-body">This is extracted from your records during upload.</p>
      <p class="govuk-body">We will not process this column in your upload, so you do not need to add this field if you are <a class="govuk-link" href="metadata-guidance#starting-with-your-own">creating your own metadata spreadsheet</a>.</p>
      <p class="govuk-body">Any changes to values in this column in the template will be ignored. If this value is not accurate use the <a href="metadata-guidance#column-details-dateoftherecord">Date of the Record</a> column to provide a correction.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Date Last Modified</pre>"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>YYYY-MM-DD</pre>"
            }
          },
          {
            key: {
              text: "Example"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>2004-03-23</pre>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "No"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-dateoftherecord" class="govuk-heading-m">Date of the Record</h3> 
      <p class="govuk-body">Use this field to provide a correction if the Date Last Modified is not accurate. For example, because the file's date last modified value has been corrupted when files have been moved.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Date of the Record</pre>"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>YYYY-MM-DD</pre>"
            }
          },
          {
            key: {
              text: "Example"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>2005-12-21</pre>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-description" class="govuk-heading-m">Description</h3> 
      <p class="govuk-body">Use this field to describe of your file. This makes your records easier to find in our public catalogue.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Description</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "Text / Maximum 8000 characters"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}
      <div class="da-alert da-alert--info govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="da-alert__content">
          <h4 class="da-alert__heading da-alert__heading--s">Best practice for description</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>There should be no full stop at the end of your description</li>
            <li>Any quotation marks used should be single quotes not double quotes</li>
          </ul>
        </div>
      </div>
      <p class="govuk-body">If you have additional metadata fields that do not fit the available columns, these can sometimes be included in the <em>Description</em> field. Before doing this email a Digital Transfer Advisor at <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a> for advise.</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-formerref" class="govuk-heading-m">Former Reference</h3> 
      <p class="govuk-body">This field can be used to store any references that were previously used by the transferring department.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Former Reference</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "Text / Maximum 8000 characters"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-language" class="govuk-heading-m">Language</h3> 
      <p class="govuk-body">We currently only accept English and Welsh in this column. Change this column from the default (English) if the record contains Welsh or a mixture of English and Welsh. Each language needs to be separated by a pipe symbol.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Language</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "Pipe separated list of languages"
            }
          },
          {
            key: {
              text: "Examples"
            },
            value: {
              html: "<div>Example 1: <pre style='margin:0;white-space: normal;display:inline;'>Welsh</pre></div>
              <div>Example 2: <pre style='margin:0;white-space: normal;display:inline;'>English | Welsh</pre></div>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Default in template"
            },
            value: {
              html: "<pre style='margin:0;white-space: normal;'>English</pre>"
            }
          }
        ]
      }) }}

      <p class="govuk-body">If you have records in other languages, email a Digital Transfer Advisor at <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a></p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-translatedtitle" class="govuk-heading-m">Translated filename of the record</h3> 
      <p class="govuk-body">If the language of the original filename is not English, please provide an English filename in this column. If the original Language is English, but you would like this filename to be searchable in another language, please provide a translation here.</p>

      <div class="da-alert da-alert--error da-alert--with-icon govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="da-alert__icon">
          <div aria-hidden="true">
            {{- daIcon({"iconType": 'warning', iconSize: "xl"})-}}
          </div>
        </div>
        <div class="da-alert__content">
          <p class="govuk-body">Do not include the file extension (e.g. '.docx' or '.xlsx') in the translation</p>
        </div>
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Translated filename of the record</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "Text / Maximum 8000 characters. Excluding file extension."
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-closurestatus" class="govuk-heading-m">Closure Status</h3> 
      <p class="govuk-body">This should be Open or Closed. If Closed, the closure status of each record must have been approved by the Advisory Council and/or The National Archives before transfer.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Closure Status</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "<pre style='margin:0;white-space: normal;display: inline;'>Open</pre> or <pre style='margin:0;white-space: normal;display: inline;'>Closed</pre>"
            }
          },
          {
            key: {
              text: "Mandatory if closed"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Default in template"
            },
            value: {
              html: "<pre style='margin:0;white-space: normal;'>Open</pre>"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-closureperiod" class="govuk-heading-m">Closure Period</h3> 
      <p class="govuk-body">The number of years between 1 and 150 that the record will remain closed. This must match closure period agreed with the Advisory Council.</p>
      <p class="govuk-body">If <em>Date of the Record</em> is provided it will be used to indicate the beginning of the closure period. If <em>Date of the Record</em> is not provided <em>Date last modified</em> will be used.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Closure Period</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "Years / Number between 1 and 150"
            }
          },
          {
            key: {
              text: "Mandatory if closed"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-foiexemptioncode" class="govuk-heading-m">FOI Exemption Code</h3> 
      <p class="govuk-body">This code defines the justification for closing a record.</p>
      <p class="govuk-body"> This must be a valid code, or a pipe delimited list of codes. It must match the FOI  code or codes agreed with the Advisory Council.</p>

      <p class="govuk-body">See this full list of <a href="https://www.legislation.gov.uk/ukpga/2000/36/contents" class="govuk-link">FOI Exemption codes and their designated exemptions</a>.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>FOI Exemption Code</pre>"
            }
          },
          {
            key: {
              text: "Format / Validation"
            },
            value: {
              html: "Pipe separated list of codes"
            }
          },
          {
            key: {
              text: "Mandatory if closed"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Examples"
            },
            value: {
              html: "<div>Example 1: <pre style='margin:0;white-space: normal;display:inline;'>42</pre></div>
              <div>Example 2: <pre style='margin:0;white-space: normal;display:inline;'>27(1)</pre></div>
              <div>Example 3: <pre style='margin:0;white-space: normal;display:inline;'>31 | 33</pre></div>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-foidecisionasserted" class="govuk-heading-m">FOI Decision Asserted</h3> 
      <p class="govuk-body">This is the date that the Advisory Council approved the closure of the record. It can be found on the bottom right hand corner of each page of the closure schedule.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>FOI Decision Asserted</pre>"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>YYYY-MM-DD</pre>"
            }
          },
          {
            key: {
              text: "Mandatory if closed"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Example"
            },
            value: {
              html: "<pre style='margin:0; white-space:normal'>2024-08-14</pre>"
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-altfilename" class="govuk-heading-m">Alternative filename</h3> 
      <p class="govuk-body">If the filename of a closed record is sensitive, use this field to provide an alternate filename without the file extension.</p>
      <p class="govuk-body">If you do not provide an alternate title, we will assume the filename is open, and it will be displayed on the public catalogue.</p>

      <div class="da-alert da-alert--error da-alert--with-icon govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="da-alert__icon">
          <div aria-hidden="true">
            {{- daIcon({"iconType": 'warning', iconSize: "xl"})-}}
          </div>
        </div>
        <div class="da-alert__content">
          <p class="govuk-body">Do not include the file extension (e.g. '.docx' or '.xlsx') in this column</p>
        </div>
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Alternative filename</pre>"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "Text / Maximum 8000 characters. Excluding file extension."
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}
      <div class="da-alert da-alert--info govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="da-alert__content">
          <h4 class="da-alert__heading da-alert__heading--s">Best practice for Alternative filename</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>If it is not possible to provide a meaningful open title, you can enter 'Title Closed' in this field.</li>
          </ul>
        </div>
      </div>      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 id="column-details-altdescription" class="govuk-heading-m">Alternative description</h3> 
      <p class="govuk-body">If the description of a closed record is sensitive, use this field to provide an alternate description. To enter an alternative description you must also provide a value in the description field.</p>
      <p class="govuk-body">If you do not provide an alternate description, we will assume the description is open, and it will be displayed on the public catalogue.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Column title"
            },
            value: {
              html: "<pre style='margin:0'>Alternative description</pre>"
            }
          },
          {
            key: {
              text: "Format"
            },
            value: {
              html: "Text / Maximum 8000 characters."
            }
          },
          {
            key: {
              text: "Editable in template"
            },
            value: {
              html: "Yes"
            }
          },
          {
            key: {
              text: "Pre-populated in template"
            },
            value: {
              html: "No"
            }
          }
        ]
      }) }}
      <div class="da-alert da-alert--info govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="da-alert__content">
          <h4 class="da-alert__heading da-alert__heading--s">Best practice for Alternative description</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>??</li>
          </ul>
        </div>
      </div>      
    </div>
  </div>

{% endblock %}
