{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "macros/icon.njk" import daIcon %}

{% block pageTitle %}
  Download a metadata transfer CSV template - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="./transfer-tasks#step-4" class="govuk-back-link">Back to Consignment</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
      <h1 class="govuk-heading-l">Download and complete your metadata template</h1>

      <p class="govuk-body">To transfer your records using this service you will need to complete and upload a CSV.</p>

      <p class="govuk-body">The template contains a row for every uploaded file with prepopulated columns for specific metadata that was extracted from your records. It also contains some columns with pre-populated default values.</p>

      <p class="govuk-body">You will need to check the extracted metadata, check the pre-populated default values and provide as much additional metadata about the records as possible.</a>

        <section class="da-attachment govuk-!-margin-bottom-4 govuk-!-display-none-print">
          <div class="da-attachment__thumbnail">
            <a download href="/public/downloads/MOCK-TDR-1301-template.xlsx" class="govuk-link" target="_self" tabindex="-1" aria-hidden="true">
              <svg class="da-attachment__thumbnail-image da-attachment__thumbnail-image--spreadsheet" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
                <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
                <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
              </svg>
            </a>
          </div>
          <div class="da-attachment__details">
            <h2 class="da-attachment__title">
              <a download href="/public/downloads/MOCK-TDR-1301-template.xlsx" class="govuk-link da-attachment__link" tabindex="-1" aria-hidden="true">
                Metadata template
              </a>
            </h2>
            <p class="da-attachment__metadata">
              <span class="da-attachment__attribute"><abbr title="Microsoft Excel Spreadsheet">XLSX</abbr></span>, <span class="da-attachment__attribute">16 records</span>
            </p>
            <p class="da-attachment__metadata da-attachment__metadata--compact">Includes extracted file name, file path and date last modified.</p>
            {# <p class="da-attachment__metadata">
              Includes extracted metadata (file name, file path, last modified date) and column headers for additional metadata.
            </p> #}
          </div>
        </section>

      <div class="da-alert da-alert--error da-alert--with-icon">
        <div class="da-alert__icon">
          <div aria-hidden="true">
            {{- daIcon({"iconType": 'warning', iconSize: "xl"})-}}
          </div>
        </div>
        <div class="da-alert__content">
          <h2 class="da-alert__heading da-alert__heading--s">You must provide metadata for closed records</h2>
          <p>If you have closed records in your consignment you must provide closed record metadata about those records.</p>
          <p>Find out <a class="govuk-link" target="_blank" href="metadata-guidance#metadata-closed-records">how to add closed record metadata (opens in a new tab)</a></a>.</p>        
        </div>
      </div>

      <div class="da-alert da-alert--info">
        {# <div class="da-alert__icon">
          <div aria-hidden="true">
            {{- daIcon({"iconType": 'search', iconSize: "xl"})-}}
          </div>
        </div> #}
        <div class="da-alert__content">
          <h2 class="da-alert__heading da-alert__heading--s">Guidance for completing the template</h2>
          <p>
            Before you start editing metadata we recommend you read the <a class="govuk-link" target="_blank" href="metadata-guidance">guidance for completing the template (opens in a new tab)</a>.
          </p>
        </div>
      </div>

      <form action="transfer-tasks" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="section-complete-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Have you completed your metadata template?
              </h2>
            </legend>
            <div id="section-complete-hint" class="govuk-hint">
              Once marked as complete you can continue to upload your metadata. You will still be able to return to this page. 
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="download-metadata-section-complete-y" name="download-metadata-complete" type="radio" value="yes" {% if data['download-metadata-complete'] == "yes" %}checked{%endif%}>
                <label class="govuk-label govuk-radios__label" for="download-metadata-section-complete-y">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="download-metadata-section-complete-n" name="download-metadata-complete" type="radio" value="no" {% if data['download-metadata-complete'] == "no" %}checked{%endif%}>
                <label class="govuk-label govuk-radios__label" for="download-metadata-section-complete-n">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
