    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Submission No.</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Date reviewed</th>
          <th scope="col" class="govuk-table__header">Reviewed by</th>
          <th scope="col" class="govuk-table__header">Reason for status change</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">12th July 2024 10:15am</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
          <td class="govuk-table__cell">12th July 2024 4:30pm</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">zoe.fullard</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">Corrections reviewed  confirmed</span></td>
        </tr>
       
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">10th July 2024 10:34am</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
          <td class="govuk-table__cell">11th July 2024 10:35am</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">michael.launchbury</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">650 CHARACTERS cididunt officia aute cillum qui nostrud voluptate. Laboris veniam laborum minim elit. Eu minim ad cupidatat sit nisi consequat ea dolore veniam voluptate exercitation voluptate fugiat. Dolor duis elit cupidatat nulla reprehenderit non adipisicing sunt eiusmod et pariatur. Minim cupidatat nisi velit ut laborum amet duis incididunt veniam cillum aliquip aute anim. Velit commodo est dolore qui do sit nisi est culpa ullamco. Cupidatat mollit magna anim laborum ipsum occaecat aliqua Lorem aliqua laborum anim aute fugiat irure elit.
Eiusmod laborum do cillum aute incididunt anim occaecat ad adipisicing fugiat. Nisi et enim aute amet</span> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">5th July 2024, 08:00am</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
          <td class="govuk-table__cell">6th July 2024, 10:34am</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">john.briggs</a></td>
          <td class="govuk-table__cell"><span class="govuk-body-s">1,300 CHARACTERS mmodo officia reprehenderit do minim quis do. Lorem eu tempor do mollit cupidatat do nulla ullamco ex occaecat in reprehenderit qui. Officia duis ipsum ad quis. Non ex mollit dolore quis veniam mollit excepteur sunt quis dolore.
Aliquip nulla incididunt labore eu id quis ex laboris id cillum ipsum veniam. Labore mollit et nostrud incididunt. Deserunt adipisicing dolor velit veniam sunt aute veniam cupidatat. Eiusmod occaecat nulla officia aliqua id id mollit reprehenderit anim occaecat Lorem eiusmod fugiat duis. Eu enim eu duis. Do et sunt ex ex voluptate non.
Id magna deserunt eiusmod mollit excepteur sit tempor aliqua tempor consectetur. Consequat culpa voluptate officia pariatur occaecat sit ad fugiat dolor mollit do in. Pariatur Lorem veniam sunt ex esse anim culpa. Dolor adipisicing proident duis duis mollit incididunt. Sint adipisicing eiusmod amet Lorem occaecat minim. Laboris amet sint duis cillum labore reprehenderit veniam aute velit consequat ipsum nisi voluptate exercitation.
Irure consectetur tempor exercitation eu laboris qui incididunt excepteur dolore nulla qui consectetur sint nostrud incididunt. Proident enim esse anim cillum exercitation voluptate laboris. Consequat incididunt enim ex elit enim labore cillum mollit veniam exercitation non id. Te</span></td>
        </tr>



      </tbody>
    </table>