{% extends "layouts/no-sign-out.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Transfer Digital Records - User testing
{% endblock %}

{% block beforeContent %}
  <a href="/prototype-versions" class="govuk-back-link">All prototype versions</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
         Version #65 - Resuming an in-progress transfer
      </h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Version"
            },
            value: {
              text: "#65 - Resuming an in-progress transfer"
            }
          },
          {
            key: {
              text: "Date created"
            },
            value: {
              text: "1st Sep 2023 - 25th Sep 2023"
            }
          },
          {
            key: {
              text: "Jira"
            },
            value: {
              html: "<a href=\"https://national-archives.atlassian.net/browse/TDR-3301\">TDR-3301</a>"
            }
          },
          {
            key: {
              text: "User research"
            },
            value: {
              html: "<a href=\"https://national-archives.atlassian.net/wiki/spaces/DA/pages/114819073/Metadata+-+usability+testing+-+sprint+94+Sept+2023\">Opens in confluence</a>"
            }
          },
          {
            key: {
              text: "Design History"
            },
            value: {
              html: "<a href=\"https://national-archives.atlassian.net/wiki/spaces/DA/pages/102465542/Sprint+90+-+Resuming+an+in-progress+transfer\">Opens in confluence</a>"
            }
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <p>
      {{ govukTag({
        text: "In progress",
        classes: "govuk-tag--blue"
      }) }}
      </p>

      {{ govukButton({
        text: "Visit prototype",
        href: "https://tdr-prototype-pr-65.herokuapp.com/",
        classes: "govuk-!-margin-bottom-2",
        isStartButton: true
      }) }}
      <p class="govuk-body">Or <a href="#journeys">start from a journey</a> below.</p>
      {{ govukButton({
        text: "Github PR",
        href: "https://github.com/nationalarchives/tdr-prototype/pull/65",
        classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Motivations and context
      </h2>
      <p class="govuk-body">As an outcome of a <a href="https://national-archives.atlassian.net/wiki/spaces/DA/pages/86933537">workshop in June 2023</a> the team generated some How Might We statements that were categorised into a few separate areas. One of those was the ability of the user to resume an in-progress transfer and easily review all the metadata they have previously added.</p>

      <h2 class="govuk-heading-m">
        Design changes
      </h2>
      <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
          <li>Changes to the user journey that introducing a new Summary List page for closure</li>
          <li>This page is the start and end of the mini-journey taken by the user for every record they add metadata to.</li>
          <li>Instead of presenting the Tree View as the first page it shows a table containing only the records with metadata and a summary of metadata added.</li>
          <li><strong>Descriptive metadata is addressed in <a href="./66.html">version #66</a> with insights from this testing round</strong></li>
        </ul>
      </p>

      <h2 id="journeys" class="govuk-heading-m">
        Journeys
      </h2>

      <p class="govuk-body">Using the 'Start journey' links below will set some variables behind the scenes that determine a different user journey.</p>

      {{ govukWarningText({
        text: "Before starting a new journey clear the prototype data.",
        iconFallbackText: "Warning",
        classes: "govuk-!-margin-bottom-4"
      }) }}
      <form class="form" action="{{"https://tdr-prototype-pr-65.herokuapp.com/prototype-versions/clear-data" if not GOVUKPrototypeKit.isDevelopment else "/prototype-versions/clear-data"}}" method="post">
        <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">Clear data</button>
      </form>


      {{ govukSummaryList({
          card: {
            title: {
              text: "Journey 01: Happy path"
            },
            actions: {
              items: [
                {
                  href: ("https://tdr-prototype-pr-65.herokuapp.com/metadata/additional-metadata" if not GOVUKPrototypeKit.isDevelopment else "/metadata/additional-metadata"),
                  text: "Start journey"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Description"
              },
              value: {
                text: "Starts from Descriptive & closure metadata page. Only closure route has been changed. Descriptive remains untouched."
              }
            },
            {
              key: {
                text: "Date created"
              },
              value: {
                text: "September 2023"
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                html: "<strong class=\"govuk-tag govuk-tag--green\">Tested</strong>"
              }
            },
            {
              key: {
                text: "Date Tested"
              },
              value: {
                html: "11 - 22 September 2023"
              }
            }
          ]
      }) }}


    </div>
  </div>
{% endblock %}
