{% extends "layouts/no-sign-out.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Design versions - Transfer Digital Records
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
         Prototype versions
      </h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% from "govuk/components/table/macro.njk" import govukTable %}
      {% set rows = [] %}
      {% for r in data %}
      
      {% set issues = '' %}
      {% for i in r.issues %}
        {% set anchor = ['<a style="white-space:nowrap" class="govuk-link" target="_blank" href="', i.url,'">', i.id,'</a>']|join %}
      
        {% if loop.last %}
          {% set issues = issues + anchor %}
          {% else %}
          {% set issues = issues + anchor  + ", "%}
        {% endif %}
      {% endfor %}

        {% set statusClass = ["govuk-!-font-size-16 gov-table__cell--", r.status.title| replace(" ", "_") | replace("/", "") |lower ]|join%}

        {% set rows = (rows.push([
          { html: ["<span style='white-space:nowrap'>",
            govukTag({
            text: r.status.title,
            classes: ["govuk-tag--small govuk-tag--", r.status.colour]|join
            }), "</span>"]|join,
            classes: statusClass
          },
          { html: ["<span style='white-space:nowrap'>", r.date_started|formatDate, "</span>"]|join, classes: statusClass },
          { html: r.title, classes: statusClass },
          { html: issues, classes: statusClass },
          { html: ['<a href="/prototype-version/', r.subfolder, '">View version</a>']|join, classes: statusClass }
        ]), rows) %}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Status"
          },
          {
            text: "Date started"
          },
          {
            text: "Description"
          },
          {
            text: "Issues"
          },
          {
            html: "<span class=\"govuk-visually-hidden\">Action</span>",
            classes: ""
          }
        ],
        rows: rows
      }) }}
    </div>
  </div>

{% endblock %}
