{% extends "layouts/main.html" %}

{% block pageTitle %}
  Transfer complete
{% endblock %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Transfer complete</h1>
        <div class="govuk-panel__body govuk-!-font-size-27">
          Your file has now been transferred to The National Archives.
        </div>
        <div class="govuk-panel__body govuk-!-font-size-27 govuk-!-margin-top-5">
          Consignment reference: <span class="govuk-!-font-weight-bold">MOCK-123-TDR</span>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">You will be notified by email once the judgment has been received and published.</p>
      <p class="govuk-body">Do not delete the original file you uploaded until you have been notified.</p>
      <p class="govuk-body">
        <a href="https://www.smartsurvey.co.uk/s/5YDPSA/" class="govuk-link" rel="noreferrer noopener" target="_blank">
        What did you think of this service? (opens in new tab)
        </a>
      </p>

      <h2 class="govuk-heading-m">If this was an amendment to a previous transfer</h2>
      <p class="govuk-body">
        If this transfer was an update or revision to a previous transfer, email <a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a> and include the following:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the neutral citation</li>
        <li>the consignment reference: <strong>MOCK-123-TDR</strong></li>
        <li>tell us if this transfer was a revision or update</li>
      </ul>
      
      <h2 class="govuk-heading-m">Other reasons you may need to contact us</h2>
      <p class="govuk-body">
        You should notify us by email (<a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a>) if you need to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Flag that your judgment is subject to an anonymisation order</li>
        <li>Send supplementary material for this judgment</li>
      </ul>
      <p class="govuk-body">
        Make sure you quote the consigment reference number (<strong>MOCK-123-TDR</strong>) and attach any supplementary material to the email.
      </p>
      
      {{ govukButton({
        text: "Return to start",
        href: "./home"
      }) }}

    </div>
  </div>

{% endblock %}
