{% extends "layouts/main.html" %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block pageTitle %}
  Welcome to the Transfer Digital Records service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Welcome to the Transfer Digital Records (Judgments and Decisions)
      </h1>
      
      <p class="govuk-body">You can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>transfer judgments and decisions to The National Archives</li>
        <li>transfer an updated or revised document previously transferred through this service</li>
      </ul>
      
      {{ govukButton({
        text: "Start transfer",
        href: "./upload"
      }) }}
      <h2 class="govuk-heading-m">Before you start a transfer</h2>

      <p class="govuk-body">We can only accept a single document in Microsoft Word (docx) format.</p>
      <p class="govuk-body">The document must contain the following information:</p>
        
      <ul class="govuk-list govuk-list--bullet">
        <li>neutral citation</li>
        <li>name(s) of judge(s)</li>
        <li>name(s) of parties</li>
        <li>court and judgment date</li>
      </ul>

      <h2 class="govuk-heading-s">If this is an amendment to a previous transfer</h2>
      <p class="govuk-body">
        You can use this service to transfer an update or revision to a previous transfer.
      </p>
      <p class="govuk-body">
        Once you have successfully transferred the amended document notify us by email (<a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a>) and include the following:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the neutral citation</li>
        <li>the consignment reference provided at the end of this transfer</li>
        <li>tell us if this transfer is a revision or update</li>
      </ul>

      <h2 class="govuk-heading-s">Other reasons you may need to contact us</h2>
      <p class="govuk-body">Once the transfer is complete, you should also notify us by email (<a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a>) if you need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Flag that your judgment is subject to an anonymisation order</li>
        <li>Send supplementary material for this judgment</li>
      </ul>
      <p class="govuk-body">
        Make sure you quote the consigment reference number provided on the last step of the transfer and attach any supplementary material to the email.
      </p>


    </div>
  </div>

{% endblock %}
