{% extends "layouts/main.html" %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block pageTitle %}
  Welcome to the Transfer Digital Records service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Welcome to the Transfer Digital Records service
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Before you start</h2>

      <p class="govuk-body">You must upload your judgment as a Microsoft Word (.docx) document. Any other formats will not be accepted.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-2">Upload your judgment to start a new transfer</h2>

      {{ govukButton({
        text: "Start transfer",
        href: "./before-uploading"
      }) }}

    </div>
  </div>

{% endblock %}
