<div class="filteredby-panel">


  <div class="filteredby-panel__count">
    {# <div class="filteredby-panel__count-label">
      Records displayed
    </div> #}
    <div class="record-count">
     {% if data['recordsCount'] == data['recordsTotal'] %}
      {{data['recordsTotal']|d("732")}} records
     {%else%}
      {{data['recordsCount']|d("732")}} of {{data['recordsTotal']|d("732")}} records
     {%endif%}
    </div>
  </div>
  <div class="filteredby-panel__facets facet-tags">
    {% set numOfFacets = 0 %}
    {% if data['searchPattern'] %}
      {% set numOfFacets = numOfFacets + 1 %}
      <div class="facet-tags__wrapper">
        <span class="facet-tags__preposition">
          {% if numOfFacets == 1 %}<strong>Filtered by</strong>
          {% else %}and {% endif %}
        </span>
        <span class="facet-tag">
          <span class="facet-tag__text">File or directory names containing <span class="facet-tag__search-term">{{data['searchPattern']}}</span></span>
          <a href="{{data['urlNoSearchFile']}}" draggable="false"  class="facet-tag__remove" aria-label="Remove filter File names containing {{data['searchPattern']}}">✕</a>
        </span>
      </div>
    {% endif %}
    {% if data['searchFilePattern'] %}
      {% set numOfFacets = numOfFacets + 1 %}
      <div class="facet-tags__wrapper">
        <span class="facet-tags__preposition">
          {% if numOfFacets == 1 %}<strong>Filtered by</strong>
          {% else %}and {% endif %}
        </span>
        <span class="facet-tag">
          <span class="facet-tag__text">File names containing "<span class="facet-tag__search-term">{{data['searchFilePattern']}}</span>"</span>
          <a href="{{data['urlNoSearchFile']}}" draggable="false"  class="facet-tag__remove" aria-label="Remove filter File names containing {{data['searchFilePattern']}}">✕</a>
        </span>
      </div>
    {% endif %}
    {% if data['currentDirFilter'] %}
      {% set numOfFacets = numOfFacets + 1 %}
      <div class="facet-tags__wrapper">
        <span class="facet-tags__preposition">
          {% if numOfFacets == 1 %}<strong>Filtered by</strong>
          {% else %}and{% endif %}
        </span>
        <span class="facet-tag">
          <span class="facet-tag__text">In directory <span class="facet-tag__search-term">{{data['currentDirFilter']}}</span></span>
          <a href="{{data['urlNoDirectory']}}" draggable="false"  class="facet-tag__remove" aria-label="Remove filter In directory {{data['currentDirFilter']}}">
          ✕</a>
        </span>
      </div>
    {% endif %}
    {% if numOfFacets == 0 %}
      <div class="facet-tags__wrapper">
        <span class="facet-tags__preposition facet-tags__preposition--center-vertical">
          <strong>Showing all records.</strong> Use the filters above to narrow the list of records.
        </span>
      </div>
    {% endif %}
  </div>
</div>
