{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}\
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% import "macros/task-list.html" as taskList %}

{% block pageTitle %}
  Check and correct dates
{% endblock %}

{% block beforeContent %}
  <a href="./" class="govuk-back-link">Back to Last modified dates</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
      <h1 class="govuk-heading-l">Check and correct dates</h1>

      <p class="govuk-body">Check the last modified date we have extracted for each record during upload and if the date is incorrect click ‘edit’ and add a more accurate date.</p>
      <p class="govuk-body">Your progress is saved each time you add a corrected date. When you have finished return to the previous page and mark this section as complete.</p>

    </div>
  </div>
{% endblock %}
