{% extends "layouts/main.html" %}

{% block pageTitle %}
  Download and review metadata
{% endblock %}

{% block header %}
  {% include "./inc-header.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="./confirm-closure" class="govuk-back-link">We found closed records in your metadata</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Download and review metadata</h1>

      <p class="govuk-body">You can download and review the metadata you provided us before completing the transfer.</p>


      <section class="da-attachment govuk-!-margin-bottom-4 govuk-!-display-none-print">
        <div class="da-attachment__thumbnail">
          <a href="#" class="govuk-link" target="_self" tabindex="-1" aria-hidden="true">
            <svg class="da-attachment__thumbnail-image da-attachment__thumbnail-image--spreadsheet" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
              <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
              <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
              <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
            </svg>
          </a>
        </div>
        <div class="da-attachment__details">
          <h2 class="da-attachment__title">
            <a href="#" class="govuk-link da-attachment__link" target="_self">
              Transfer metadata
            </a>
          </h2>
          <p class="da-attachment__metadata">
            <span class="da-attachment__attribute"><abbr title="Microsoft Excel Spreadsheet">XLSX</abbr></span>
          </p>        
          <p class="da-attachment__metadata da-attachment__metadata--compact">This contains the metadata that will be transfered in this consigment.</p>

        </div>
      </section>

      <p class="govuk-body">If you would like to add or amend any metadata, edit your spreadsheet and re-upload the metadata.</p>

      
      <div class="govuk-button-group">
        <a href="./summary.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Continue
        </a>
        <a class="govuk-button govuk-button--secondary" href="./upload-csv">Re-upload metadata</a>
      </div>

    </div>
  </div>
{% endblock %}
