    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Sub. Nr.</th>
          <th scope="col" class="govuk-table__header">Date submitted</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Reviewed</th>
          <th scope="col" class="govuk-table__header">Reason for status change</th>
          <th scope="col" class="govuk-table__header">View metadata</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">10th July 2024, 08:00am</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Fiona Daffodil</a>, on 12th July 2024, 10:34am</td>
          <td class="govuk-table__cell"><span class="govuk-body-s">Approved as it was OK.
</span></td>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">5th July 2024, 08:00am</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Rejected</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">John Briggs</a>, on 6th July 2024, 10:34am</td>
          <td class="govuk-table__cell"><span class="govuk-body-s">Mmodo officia reprehenderit do minim quis do. Lorem eu tempor do mollit cupidatat do nulla ullamco ex occaecat in reprehenderit qui. Officia duis ipsum ad quis. Non ex mollit dolore quis veniam mollit excepteur sunt quis dolore.
</span></td>
          <td class="govuk-table__cell"><span class="govuk-body-s"><a href="#" class="govuk-link">Download metadata</a></td>
        </tr>



      </tbody>
    </table>