{% extends "layouts/main.html" %}

{% block pageTitle %}
  Email the documents
{% endblock %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="./tell-us-more" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Email the documents
      </h1>

      <p class="govuk-body">If your document is not a judgment or press summary but relates to a judgment, you can still send it to us.</p>
      
      <p class="govuk-body">Examples include court orders and sentencing remarks but we will consider publishing other documents.</p>

      <p class="govuk-body">Email the document(s) to <a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a> and include the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the neutral citation number (NCN) of the related judgment</li>
        <li>more detail about the document</li>
      </ul>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" open="" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Transfer reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
      
      <h4 class="govuk-heading-s">Problems with your transfer?</h4>
      <p class="govuk-body">Email us and include the transfer reference:
        <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a>
      </p>
    </div>
  </div>

{% endblock %}
