{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Review metadata
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Review records with metadata</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="table-controls table-controls--paginate">
      <div class="table-controls__row">
          {{ govukSelect({
            id: "sort",
            name: "sort",
            classes: "table-controls__sort",
            label: {
              html: "<strong>Sort by</strong>"
            },
            items: [
              {
                value: "updated",
                text: "Directory (A-Z)",
                selected: true
              }
            ]
          }) }}
        <div class="table-controls__filters">
          <form action="" method="get">
          <input type="hidden" name="sort" value="directory" />
          {% include "../filters.html" %}
          </form>
        </div>
      </div>
      {% include "../filteredby.html" %}
      <div class="table-controls__pagination">
        {{ govukPagination({
          previous: {
            href: data['previousPage']
          },
          next: {
            href: data['nextPage']
          },
          items: data['pages']
        }) }}
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% set clear_link = "./v05?sort=directory" %}
    {% include "../summary-table-sort-dir.html" %}
    <div class="tdr-pagination">
      {{ govukPagination({
        previous: {
          href: data['previousPage']
        },
        next: {
          href: data['nextPage']
        },
        items: data['pages']
      }) }}

    </div>
  </div>
</div>


{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
