{% extends "layout.html" %}

{% block pageTitle %}
Check closure status
{% endblock %}

{% block content %}

  <form action="confirm-closure-status">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if data['closure']['baking-powder'][0] === 'true' %}

          <h1 class="govuk-heading-xl">
      Edit the closure metadata
    </h1>{{releaseVersion | log }}

          <div class="govuk-form-group {% if data.error %}govuk-form-group--error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
            You have previously added closure metadata to this file.
          </strong>
              </div>
            </legend>

            <div class="govuk-button-group">
              <a href="./add-closure.html" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Edit metadata
        </a>
              <a href="./abandon-changes-warning.html" role="button" draggable="false" class="govuk-button govuk-button--warning" >
          Delete metadata
        </a>
            </div>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
            Name
          </dt>
                <dd class="govuk-summary-list__value">
            Baking powder.docx
          </dd>
                <dd class="govuk-summary-list__actions"></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
            Closure status
          </dt>
                <dd class="govuk-summary-list__value">
            Closed
          </dd>
              </div>

              <!-- closure stuff here -->
              <div class="govuk-summary-list__row" style="border-bottom: none;">
                <dt class="govuk-summary-list__key">
            FOI decision asserted
          </dt>
                <dd class="govuk-summary-list__value">
                  {{data['foi-asserted-day']}}/{{data['foi-asserted-month']}}/{{data['foi-asserted-year']}}

                </dd>
              </div>
              <div class="govuk-summary-list__row" style="border-bottom: none;">
                <dt class="govuk-summary-list__key">
            Closure start date
          </dt>
                <dd class="govuk-summary-list__value">
                  {{data['closure-start-day']}}/{{data['closure-start-month']}}/{{data['closure-start-year']}}

                </dd>
              </div>
              <div class="govuk-summary-list__row" style="border-bottom: none;">
                <dt class="govuk-summary-list__key">
            Closure period
          </dt>
                <dd class="govuk-summary-list__value">
                  {{data['closure-period']}} years
          </dd>
              </div>
              <div class="govuk-summary-list__row" style="border-bottom: none;">
                <dt class="govuk-summary-list__key">
              FOI exemption code
          </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for id in data.foi_id_selection %}
                      <li>{{id}}</li>
                    {% endfor %}
                  </ul>
                </dd>
              </div>
              {% if data["is-the-title-sensitive"] == "yes" %}
                <div class="govuk-summary-list__row" style="border-bottom: none;">
                  <dt class="govuk-summary-list__key">
            Alternative title
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['alternative-title'] }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row" style="border-bottom: none;">
                  <dt class="govuk-summary-list__key">
            Alternative description
          </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['alternative-description'] }}
                  </dd>
                </div>
              {% endif %}
            </dl>

            <a href="../file-level.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Cancel and return to all files
      </a>
          </div>

        {% else %}

          <h1 class="govuk-heading-xl">
      Confirm the closure status of your record
    </h1>{{releaseVersion | log }}

          <p class="govuk-body">You are updating the status for the selected file 'Baking powder.docx'</p>

          <div class="govuk-form-group {% if data.error %}govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
            Has this closure been approved by the Advisory Council?
          </h2>
              </legend>
              {% if data.error == 'no-confirmation' %}
                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> You must confirm this closure has been approved before continuing.
        </p>
              {% endif %}
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="baking-powder" name="closure[baking-powder]" type="checkbox" value="true">
                  <label class="govuk-label govuk-checkboxes__label" for="confirm-closure">
              Yes, I confirm
            </label>
                </div>
              </div>
            </fieldset>
          </div>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
          You must provide the following information, as they are mandatory for closure.
        </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>
            FOI decision asserted, this is the date of the Advisory Council approval
          </li>
                <li>
              Closure start date, this is the date the record starts
          </li>
                <li>
              Closure period
          </li>
                <li>
            FOI exemption code
          </li>
              </ul>
            </details>

            <div class="govuk-button-group">
              <button role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
              <a class="govuk-link" href="../file-level.html">Cancel</a>

            {% endif %}
          </form>
        </div>

      </div>
    </div>

  {% endblock %}
