{% extends "layout.html" %}

{% block pageTitle %}
Check closure status
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Update the closure status of your record
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">You are updating the status for the selected file 'Baking-powder.jpg'</p>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-heading-m">
            Has this closure been approved by Advisory Council?
          </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          You must provide the following information, as they are mandatory for closure.
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
            FOI decision asserted, this is the date of the Advisory Council approval (or SIRO approval if appropriate)
          </li>
          <li>
              Closure start date, this is the date the record starts
          </li>
          <li>
              Closure period
          </li>
          <li>
            FOI exemption code
          </li>
          <li>
              Title public
          </li>
      </ul>
    </details>
    

    <div class="govuk-button-group">
    <a href="../file-level.html" role="button" draggable="false" class="govuk-button govuk-button--secondary"
    data-module="govuk-button">
    Back to all records
  </a>
  <a href="add-closure.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
  </a>
    </div>

  </div>
</div>

{% endblock %}