{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/icon.njk" import daIcon %}

{% block pageTitle %}
  Record metadata
{% endblock %}

{% block beforeContent %}
  <a href="./upload-records-results" class="govuk-back-link">Results of your record checks</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Record metadata
    </h1>
    <p class="govuk-body">As part of a digital transfer to The National Archives you or your department can provide metadata to ensure we preserve your records correctly.</p>
    <p class="govuk-body">If you have closed records in your consignment you must provide metadata about those records.</p>

    <h2 class="govuk-heading-m">Download a metadata template</h2>
    <p class="govuk-body">The template contains metadata extracted from your records and empty columns for the additional metadata that we accept.</p>

    <section class="da-attachment govuk-!-margin-bottom-4 govuk-!-display-none-print">
      <div class="da-attachment__thumbnail">
        <a href="#" class="govuk-link" target="_self" tabindex="-1" aria-hidden="true">
          <svg class="da-attachment__thumbnail-image da-attachment__thumbnail-image--spreadsheet" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
            <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
            <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
            <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
          </svg>
        </a>
      </div>
      <div class="da-attachment__details">
        <h2 class="da-attachment__title">
          <a href="#" class="govuk-link da-attachment__link" target="_self">
            Metadata template for consignment: MOCK-123-TDR
          </a>
        </h2>
        <p class="da-attachment__metadata da-attachment__metadata--compact">
          <span class="da-attachment__attribute"><abbr title="Microsoft Excel Spreadsheet">XLSX</abbr></span>
        </p>
        {# <p class="da-attachment__metadata">
          Includes extracted metadata (file name, file path, last modified date) and column headers for additional metadata.
        </p> #}
      </div>
    </section>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          A quick guide to completing the template 
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">The template opens in Microsoft Excel and contains the following columns with <a class="govuk-link" href="">metadata we extracted from your records</a>:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>File name</li>
          <li>File path</li>
          <li>Date last modified</li>
        </ul>
        {{ govukWarningText({
          html: "These columns must not be edited.",
          iconFallbackText: "Warning"
        }) }}

        <p class="govuk-body">You should check that the extracted date last modified represents the last meaningful change to the record. If you need to enter a different record date follow the guidance on <a href='govuk-link' href=''>providing accurate date information</a>.</p>
        
        <p class="govuk-body">If you have closed records in your consignment you must <a href='govuk-link' href=''>provide metadata about those closed records</a>.</p>

        <p class="govuk-body">The template also includes <a href='govuk-link' href=''>column headers for additional metadata</a>, such as description, former reference and language.</p>
        
        <p class="govuk-body">Once you have completed the template you will need to export a <abbr title="Comma Seperated Values">CSV</abbr> and upload it in the next step.</p>

      </div>
    </details>
    
    {# <p class="govuk-body">You can leave and return to this transfer (MOCK-123-TDR) from the <a class="govuk-link" href="">View Transfers</a> page at any time.</p> #}

    <div class="da-alert da-alert--info da-alert--with-icon">
      <div class="da-alert__icon">
        <div aria-hidden="true" class="da-icon da-icon--m">
          {{- daIcon({"iconType": 'exit'})-}}
        </div>
      </div>
      <div class="da-alert__content">
        <h3 class="da-alert__heading da-alert__heading--s">Leaving and returning to this transfer</h2>
        <p class="govuk-body">You can leave and return to this transfer to upload your metadata at any time. In progress transfers are accessible from the <a class="govuk-link" href="">View Transfers</a> page.</p>
      </div>
    </div>

    <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue to upload metadata",
      href: "./upload-csv"
    }) }}
    </div>

    <p class="govuk-body">We stongly encourage you to add additional metadata to help us preserve your records. If you don't have any metadata you must declare this.</p>
   <div class="govuk-button-group">
    {{ govukButton({
      text: "I don't need to enter any metadata",
      href: "./i-dont-need-metadata",
      classes: "govuk-button--secondary"
    }) }}
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <details open class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-123-TDR
      </div>
    </details>
  </div>
</div>

{% endblock %}
