{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  {# <a href="./download-template" class="govuk-back-link">Record metadata</a> #}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload a metadata CSV</h1>
      
      <p class="govuk-body">Upload a <abbr title="Comma Seperated Values">CSV</abbr> containing the record metadata. You can export a CSV within Excel following <a target='_blank' href='https://support.microsoft.com/en-gb/office/save-a-workbook-to-text-format-txt-or-csv-3e9a9d6c-70da-4255-aa28-fcacf1f081e6'>guidance from Microsoft (opens in a new tab)</a>.</p>

      {{ govukWarningText({
        html: "We can only accept metadata in a <abbr title='Comma Seperated Values'>CSV</abbr> file format.",
        iconFallbackText: "Warning"
      }) }}
        
      <p>In order for us to process your metadata upload, it must include the following columns:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>File name</li>
        <li>File path</li>
        <li>Date last modified</li>
      </ul>
      
      <p class="govuk-body">We encourage you to provide as much additional metadata as possible. If you want to add more metadata return to the <a class="govuk-body" href="">Record metadata</a> page and read the guide on completing the template.</p>


      <div class="da-alert da-alert--info">
        <div class="da-alert__content">
          {# <h2 class="da-alert__heading">We found issues in your metadata</h2> #}
          <p>Once uploaded, we will check your metadata for errors. There will be a chance to review and re-upload the metadata before completing the transfer.</p>
        </div>
      </div>

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV"
        }
      }) }}

      <div class="govuk-button-group">
        <a href="./csv-checks-no-errors"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    <details open="" class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-123-TDR
      </div>
    </details>
  </div>
  </div>

{% endblock %}
