{% extends "layouts/main.html" %}

{% block pageTitle %}
  Tell us what has changed
{% endblock %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="javascript:void(0);" onclick="window.history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukTextarea({
        label: {
          text: "Tell us what has changed",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          html: 'You told us this is an update to a existing judgment. Provide a short description of what has changed.'
        },
        id: "what-has-changed",
        name: "whatHasChanged"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "provide-neutral-citation"
        }) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" open="" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Transfer reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
      
      <h4 class="govuk-heading-s">Problems with your transfer?</h4>
      <p class="govuk-body">Email us and include the transfer reference:
        <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a>
      </p>
    </div>
  </div>

{% endblock %}
