{% extends "layouts/main-tux-386.html" %}

{% block pageTitle %}
  Series
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="transfer-agreement" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="choose-series">Choose a series reference</label>
          </h1>
          <p class="govuk-body">
            If you cannot see the correct series reference for the records, you need a new one adding, or you’re transferring records on behalf of another transferring body, contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.
          </p>
          <select class="govuk-select" id="choose-series" name="sort">
            <option>Select reference</option>
            <option value="test123">TEST123</option>
          </select>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <a class="govuk-button govuk-button--secondary" href="/home">Cancel transfer</a>
        </div>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" open data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
    </div>
  </div>

{% endblock %}
