{% extends "layouts/main.html" %}

{% block pageTitle %}
  Consignment: MOCK-TDR-1294 - Choose a series
{% endblock %}

{% block beforeContent %}
  <a href="transfer-tasks#step-5" class="govuk-back-link">Consignment: MOCK-TDR-1294</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="transfer-tasks#step-5" method="post">
        <div class="govuk-form-group">
          <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="choose-series">Choose a series reference</label>
          </h1>
          <p class="govuk-body">
            If you cannot see the correct series reference for the records, you need a new one adding, or you’re transferring records on behalf of another transferring body, contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.
          </p>
          <select class="govuk-select" id="choose-series" name="series">
            <option>Please choose...</option>
            <option {% if data['series'] == "test123" %}selected{% endif %} value="test123">TEST123</option>
          </select>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" name="redirect-to" value="./confirm-transfer">Save and continue</button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Save and return</button> 
        </div>

      </form>

    </div>
  </div>

{% endblock %}
