{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="transfer-tasks#step-4" class="govuk-back-link">Back to Consignment</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
      <h1 class="govuk-heading-l">Upload a metadata CSV</h1>
      
      <p class="govuk-body">Upload a <abbr title="Comma Seperated Values">CSV</abbr> containing the record metadata. You can export a CSV within Excel following <a target='_blank' href='https://support.microsoft.com/en-gb/office/save-a-workbook-to-text-format-txt-or-csv-3e9a9d6c-70da-4255-aa28-fcacf1f081e6'>guidance from Microsoft (opens in a new tab)</a>.</p>

      {{ govukWarningText({
        html: "We can only accept metadata in a <abbr title='Comma Seperated Values'>CSV</abbr> file format.",
        iconFallbackText: "Warning"
      }) }}
        
      <p>In order for us to process your metadata upload, it must include the following columns:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>File name</li>
        <li>File path</li>
        <li>Date last modified</li>
      </ul>
      <div class="da-alert da-alert--info">
        <div class="da-alert__content">
        <p class="govuk-body">We encourage you to provide as much metadata as available to you. If you are unsure read the guidance on <a class="govuk-link" target="_blank" href="metadata-guidance#completing-the-template">completing the template (opens in a new tab)</a>.</p>
      </div>
    </div>
  
      {# <h2 class="da-alert__heading">We found issues in your metadata</h2> #}
      <p class="govuk-body">During the CSV upload we will check your metadata for errors. There will be a chance to review and re-upload the metadata before completing the transfer.</p>


      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV"
        }
      }) }}

      <div class="govuk-button-group">
        <a href="./metadata-checks"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>


    </div>
  </div>

{% endblock %}
