{% extends "layouts/main.html" %}

{% block pageTitle %}
  Request a Digital Transfer Advisor review
{% endblock %}

{% block beforeContent %}
  <a href="./csv-results" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Submit metadata for review</h1>

      {# <p class="govuk-body">Before you complete your transfer your metadata needs to be reviewed by a Digital Transfer Advisor. This helps us to ensure we preserve your records accurately.</p>  #}


      <p class="govuk-body">Before completing this transfer a Digital Transfer Advisor will perform a set of manual checks for the inclusion and formatting of any metadata that was discussed before transfer. This helps us ensure there are no problems with our preservation process.</p> 

      <div class="govuk-inset-text">
        If we find any issues with your metadata we will send guidance to <strong>tdr-user@gov.uk</strong>. 
      </div>

      <p class="govuk-body">Once you have submitted your metadata for review we recommend you don't make any further changes to your metadata spreadsheet. Below is a copy of the metadata we will be reviewing.</p>
      
      <a href="" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-6">
        <span aria-hidden="true" class="tna-button-icon tna-button-icon--download">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23">
            <path fill="#020202" d="m11.5 16.75-6.563-6.563 1.838-1.903 3.412 3.413V1h2.626v10.697l3.412-3.413 1.837 1.903L11.5 16.75ZM3.625 22c-.722 0-1.34-.257-1.853-.77A2.533 2.533 0 0 1 1 19.375v-3.938h2.625v3.938h15.75v-3.938H22v3.938c0 .722-.257 1.34-.77 1.855a2.522 2.522 0 0 1-1.855.77H3.625Z"/>
          </svg>          
        </span>
        Download metadata
      </a>

      <p class="govuk-body">If you need to make any changes before submitting for a review, return to <a href="./upload-csv" class="govuk-link">upload a metadata CSV</a>.</p>
    
      <div class="govuk-button-group">
        <a href="./review-in-progress" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Submit for review
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details" open>
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
    </div>
  </div>
{% endblock %}
