{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "macros/icon.njk" import daIcon %}

{% extends "layouts/main.html" %}

{% block header %}
  {% include "./inc-header.html" %}
{% endblock %}

{% block pageTitle %}
  Upload a metadata CSV
{% endblock %}

{% block beforeContent %}
  <a href="./prepare-your-metadata" class="govuk-back-link">Prepare your metadata</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload a metadata CSV</h1>
      
      <p class="govuk-body">Upload a <abbr title="Comma Separated Values">CSV</abbr> containing the record metadata. See the guidance on how to <a class="govuk-link" target="_blank" href="metadata-guidance#export-the-template-csv">save from Excel in <abbr title="Comma Separated Values">CSV</abbr> UTF-8 format</a> before uploading.</p>

      <div class="da-alert da-alert--info da-alert--with-icon">
        <div class="da-alert__icon">
          <div aria-hidden="true" class="da-icon da-icon--xxl">
            {{- daIcon({"iconType": 'question-mark-circle', iconSize: "xxl"})-}}
          </div>
        </div>
        <div class="da-alert__content">
          <h3 class="da-alert__heading da-alert__heading--s">Have you followed the metadata guidance?</h2>
          <p class="govuk-body">Before uploading the metadata, we strongly advise following the <a class="govuk-link" target="_blank" href="metadata-guidance#completing-the-spreadsheet">step-by-step guidance</a> for completing the spreadsheet.</p>
        </div>
      </div>
      
      <p class="govuk-body">Once uploaded, we will check your metadata for errors. There will be a chance to review and re-upload the metadata before completing the transfer.</p>

      {{ govukWarningText({
        html: "We can only accept metadata in a <abbr title='Comma Separated Values'>CSV</abbr> UTF-8 file format.",
        iconFallbackText: "Warning"
      }) }}
    
      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV"
        }
      }) }}

      <div class="govuk-button-group">
        <a href="./csv-checks-no-errors"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    <details open="" class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-TDR-1301
      </div>
    </details>
  </div>
  </div>

{% endblock %}
