{% extends "layout.html" %}

{% block pageTitle %}
Edit metadata for a single file
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Add or edit closure metadata for a single file
      </h1>{{releaseVersion | log }}
      <p class="govuk-body">You can now add new metadata fields or edit existing ones.</p>
  
      <div class="govuk-button-group">
        <a href="../file-level.html" role="button" draggable="false" class="govuk-button govuk-button--secondary"
          data-module="govuk-button">
          Back to all files
        </a>
  
        <a href="./add-closure-fields-to-file.html" role="button" draggable="false" class="govuk-button"
           data-module="govuk-button">
          Add closure properties
        </a>
      </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Chocolate-chips.docx
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Language
        </dt>
        <dd class="govuk-summary-list__value">
          English
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/set-file-prepop-field-value">Edit</a><span class="govuk-visually-hidden"> language, egal status and copyright</span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value">
            Public Record 
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Copyright
        </dt>
        <dd class="govuk-summary-list__value">
            Crown Copyright
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

<!-- closure stuff here -->
<div class="govuk-summary-list__row" style="border-bottom: none;">
    <dt class="govuk-summary-list__key">
      FOI decision asserted
    </dt>
    <dd class="govuk-summary-list__value">
      30/05/2021
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">
        Edit
      </a>
      <br>
    </dd>
  </div>
  <div class="govuk-summary-list__row" style="border-bottom: none;">
    <dt class="govuk-summary-list__key">
      Closure start date
    </dt>
    <dd class="govuk-summary-list__value">
      12/04/2009
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">
        Edit
      </a>
      <br>
    </dd>
  </div>
  <div class="govuk-summary-list__row" style="border-bottom: none;">
    <dt class="govuk-summary-list__key">
      Closure period
    </dt>
    <dd class="govuk-summary-list__value">
      20 years
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">
        Edit
      </a>
      <br>
    </dd>
  </div>
  <div class="govuk-summary-list__row" style="border-bottom: none;">
    <dt class="govuk-summary-list__key">
        FOI exemption code
    </dt>
    <dd class="govuk-summary-list__value">
      36
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">
        Edit
      </a>
      <br>
    </dd>
  </div>
  <div class="govuk-summary-list__row" style="border-bottom: none;">
    <dt class="govuk-summary-list__key">
      Title public
    </dt>
    <dd class="govuk-summary-list__value">
      N/A
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">
        Edit
      </a>
      <br>
    </dd>
  </div>
    </dl>
  </div>
</div>

{% endblock %}