{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload a completed transfer metadata CSV - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block beforeContent %}
  <a href="./download-template" class="govuk-back-link">Download a metadata template</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <span class="govuk-caption-l">Record metatadata</span> #}
      <h1 class="govuk-heading-l">Upload a metadata CSV</h1>

      {% if data['csv-upload-status'] == "failed" %}
      {{ govukWarningText({
        text: "Uploading a new or amended CSV will overwrite any metadata imported from a previous CSV.",
        iconFallbackText: "Warning"
      }) }}
      {% endif %}

      <p class="govuk-body"></p>
      
      <p class="govuk-body">Upload a <abbr title="Comma Seperated Values">CSV</abbr> containing the record metadata. In order for us to process your metadata upload, it must include the following columns:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>File name</li>
        <li>File path</li>
        <li>Date Last Modified</li>
      </ul>
      
      <p class="govuk-body">We encourage you to provide as much additional metadata as possible in the columns in the metadata template.</p>

      <p class="govuk-body">Learn more about the <a class="govuk-body" href="">additional metadata you can provide</a>.</p>

      {{ govukWarningText({
        html: "We can only accept metadata in a <abbr title='Comma Seperated Values'>CSV</abbr> file format",
        iconFallbackText: "Warning"
      }) }}

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload",
        label: {
          text: "Select a CSV"
        }
      }) }}


      <div class="govuk-button-group">
        <a href="./csv-checks-no-errors"  role="button"draggable="false" class="govuk-button" data-module="govuk-button">
          Upload
        </a>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    <details open="" class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Consignment reference
        </span>
      </summary>
      <div class="govuk-details__text">
        MOCK-123-TDR
      </div>
    </details>
  </div>
  </div>

{% endblock %}
