{% extends "layout.html" %}
{% block pageTitle %} Add descriptive metadata {% endblock %}

{% block beforeContent %}
  <a href="./open-baking-powder.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form action="./descriptive-added">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Add descriptive metadata to 'Baking-powder.docx'</h1>
        {{releaseVersion | log }}
        <p class="govuk-body">Enter metadata for descriptive fields here.</p>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Description
            </label>
          </h2>
          <div id="foi-codes-hint" class="govuk-hint">
            This description will be visible on Discovery and help explain the
            content of your file(s).
          </div>
          <textarea
            class="govuk-textarea"
            id="address"
            name="description"
            rows="5">{{data.description}}</textarea>
        </div>

        {% set alternativeDescription %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="alternative-description">
              Alternative description
          </label>
          <textarea class="govuk-textarea" id="alternative-description" name="alternative-description" rows="5" aria-describedby="more-detail-hint">{{ data['alternative-description'] }}</textarea>
        </div>
        {% endset -%}
        {{ govukRadios({
            name: "closed-description",
            fieldset: {
              legend: {
                text: "Is your description closed?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, I would like to add an alternative description",
                conditional: {
                  html: alternativeDescription
                }
              },
              {
                value: "no",
                text: "No, this title can be used on Discovery"
              }
            ]})
          }}

        {% set alternativeTitle %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="alternative-title">
            Alternative title
          </label>
          <input class="govuk-input" id="alternative-title" name="alternative-title" type="text" value="{{ data['alternative-title'] }}">
        </div>
        {% endset -%}
        {{ govukRadios({
            name: "closed-title",
            fieldset: {
              legend: {
                text: "Is your title 'Baking-powder.docx' closed?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, I would like to add an alternative title",
                conditional: {
                  html: alternativeTitle
                }
              },
              {
                value: "no",
                text: "No, this title can be used on Discovery"
              }
            ]})
          }}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-date-of-record-4.html' %}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-language.html'%}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-related-refs-creating-body.html'%}

        <button
          role="button"
          class="govuk-button"
          data-module="govuk-button"
          >
          Continue
        </button>
      </div>
    </div>
  </form>

{% endblock %}

{% block pageScripts %}
  <script src = "https://unpkg.com/aria-autocomplete" type = "text/javascript"></script>
  <script>
    AriaAutocomplete(document.querySelector('#language-select'), {
      placeholder: 'Enter a language',
      deleteOnBackspace: true,
      showAllControl: true,
      autoGrow: false,
      cssNameSpace: "govuk-multi-autocomplete"
    });
  </script>
{% endblock %}
