{% extends "layout.html" %}
{% block pageTitle %} Add descriptive metadata {% endblock %}

{% block beforeContent %}
  <a href="./open-baking-powder.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form action="./descriptive-added">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Add descriptive metadata to 'Baking-powder.docx'</h1>
        {{releaseVersion | log }}
        <p class="govuk-body">Enter metadata for descriptive fields here.</p>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Description
            </label>
          </h2>
          <div id="foi-codes-hint" class="govuk-hint">
            This description will be visible on Discovery and help explain the
            content of your file(s).
          </div>
          <textarea
            class="govuk-textarea"
            id="address"
            name="description"
            rows="5">{{data.description}}</textarea>
        </div>

        {% if data['version'] %}
          {% include ['./inc-date-of-record-',data['version'],'.html'] | join %}
        {% else %}
          {% include './inc-date-of-record-4.html' %}
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-language.html'%}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-related-refs-creating-body.html'%}

        <button
          role="button"
          class="govuk-button"
          data-module="govuk-button"
          >
          Continue
        </button>
      </div>
    </div>
  </form>
{% endblock %}

{% block pageScripts %}
  <script src = "https://unpkg.com/aria-autocomplete" type = "text/javascript"></script>
  <script>
    AriaAutocomplete(document.querySelector('#language-select'), {
      placeholder: 'Enter a language',
      deleteOnBackspace: true,
      showAllControl: true,
      autoGrow: false,
      cssNameSpace: "govuk-multi-autocomplete"
    });
  </script>
{% endblock %}