{% extends "layout.html" %}
{% block pageTitle %} Add descriptive metadata {% endblock %}

{% block beforeContent %}
  <a href="./open-baking-powder.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form action="./descriptive-added">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Add descriptive metadata to 'Baking-powder.docx'</h1>
        {{releaseVersion | log }}
        <p class="govuk-body">Enter metadata for descriptive fields here.</p>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
          Description
        </label>
          </h2>
          <div id="foi-codes-hint" class="govuk-hint">
        This description will be visible on Discovery and help explain the
        content of your file(s).
      </div>
          <textarea
        class="govuk-textarea"
        id="address"
        name="description"
        rows="5"
      >{{data.description}}</textarea>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
          Date last modified
        </label>

            <div id="passport-issued-hint" class="govuk-hint">
          This date has been automatically determined from your upload. If the
          date is incorrect or you would like to add extra date information to this record you can add a
          <b>specific date</b> or a <b>date range</b>.
        </div>
          </h2>
          <p class="govuk-body-l">12 July 1998</p>
        </div>

        <div class="govuk-form-group">
          <fieldset
        class="govuk-fieldset"
        role="group"
        aria-describedby="passport-issued-hint"
      >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">Specific date (optional)</h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
          Enter the the specific date the record was uploaded or created.
        </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="specific-day"
              >
                Day
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="specific-day"
                name="specific-day"
                type="text"
                inputmode="numeric"
                placeholder="dd"
                value="{{data['specific-day']}}"
/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="specific-month"
              >
                Month
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="specific-month"
                name="specific-month"
                type="text"
                inputmode="numeric"
                placeholder="mm"
                value="{{data['specific-month']}}"
/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="specific-year"
              >
                Year
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-4"
                id="specific-year"
                name="specific-year"
                type="text"
                inputmode="numeric"
                placeholder="yyyy"
                value="{{data['specific-year']}}"

/>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      Date range (optional)
    </h2>
        <div id="passport-issued-hint" class="govuk-hint">
      Enter an approximate start and end date range within which the record was
      created.
    </div>

        <div class="govuk-form-group">
          <fieldset
        class="govuk-fieldset govuk-fieldset--horizontal-align"
        role="group"
        aria-describedby="passport-issued-hint"
      >
            <legend class="govuk-visually-hidden" aria-hidden="true">Start date</legend>
            <div
          class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-hint"
        >
              <h1 class="govuk-fieldset__heading">Start date</h1>
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-day"
              >
                Day
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="passport-issued-day"
                name="passport-issued-day"
                type="text"
                inputmode="numeric"
                placeholder="dd"
/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-month"
              >
                Month
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="passport-issued-month"
                name="passport-issued-month"
                type="text"
                inputmode="numeric"
                placeholder="mm"
/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-year"
              >
                Year
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-4"
                id="passport-issued-year"
                name="passport-issued-year"
                type="text"
                inputmode="numeric"
                placeholder="yyyy"
/>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset
        class="govuk-fieldset govuk-fieldset--horizontal-align"
        role="group"
        aria-describedby="passport-issued-hint"
      >
            <legend class="govuk-visually-hidden" aria-hidden="true">End date</legend>
            <div
          class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-hint"
        >
              <h1 class="govuk-fieldset__heading">End date</h1>
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-day"
              >
                Day
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="passport-issued-day"
                name="passport-issued-day"
                type="text"
                inputmode="numeric"
                placeholder="dd"
/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-month"
              >
                Month
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="passport-issued-month"
                name="passport-issued-month"
                type="text"
                inputmode="numeric"
                placeholder="mm"
/>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                class="govuk-label govuk-date-input__label"
                for="passport-issued-year"
              >
                Year
              </label>
                  <input
                class="govuk-input govuk-date-input__input govuk-input--width-4"
                id="passport-issued-year"
                name="passport-issued-year"
                type="text"
                inputmode="numeric"
                placeholder="yyyy"
/>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <hr
      class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
/>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m"> Language </label>
          <div id="passport-issued-hint" class="govuk-hint">
        Choose the language this record is written in.
      </div>
          <div class="govuk-form-group">
            <select class="govuk-select" id="language-select" name="language-select">
              <option value="updated">Please choose...</option>
              {% if data['language-select'] %}
                {% for l in data.languages %}
                  <option value="{{l.iso_code}}"{% if l.iso_code == data['language-select'] %} selected{%endif%}>{{l.language_desc}}</option>
                {% endfor %}
              {% else %}
                {% for l in data.languages %}
                  <option value="{{l.iso_code}}"{% if l.iso_code == "eng" %} selected{%endif%}>{{l.language_desc}}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="years">
        Translated title of record (optional)
      </label>
          <div id="closure-period-hint" class="govuk-hint">
        If the title is not in English you can provide a translation.
      </div>
          <input class="govuk-input" name="translation" value="{{data['translation']}}"/>
        </div>

        <hr
      class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"
/>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="years">
          Related materials (optional)
        </label>
          </h2>
          <div id="closure-period-hint" class="govuk-hint">
        If you wish to provide a link to material inside another series or
        within a hybrid series, use this field to provide a related reference.
        This must be discussed with the Senior Digital Transfer Advisor and
        signed off by cataloguing prior to use. If the file has multiple
        references they can be comma separated with no spaces e.g.
        ABC1,ABC2,ABC3
      </div>
          <input class="govuk-input" name="related" value="{{data['related']}}"/>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="years">
          Former reference (optional)
        </label>
          </h2>
          <div id="closure-period-hint" class="govuk-hint">
        Reference when the record(s) was being held by the department
      </div>
          <input class="govuk-input" name="former-refs" value="{{data['former-refs']}}"/>
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
          Creating body (optional)
        </label>
          </h2>
          <div id="foi-codes-hint" class="govuk-hint">
        If different to the transferring body - where the record is inherited
        from
      </div>
          <div class="govuk-form-group">
            <select class="govuk-select" id="sort" name="creating-body">
              <option value="false" selected>Please choose...</option>
              {% for body in data.creating_bodies %}
                <option value="{{body}}"{% if body == data['creating-body'] %} selected{%endif%}>{{body}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button

      role="button"
      draggable="false"
      class="govuk-button"
      data-module="govuk-button"
    >
      Continue
    </button>
      </div>
    </div>
  </form>
  {% block pageScripts %}
    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
    <script>
      accessibleAutocomplete.enhanceSelectElement({selectElement: document.querySelector('#language-select'), showAllValues: true})
    </script>
  {% endblock %}

{% endblock %}