<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="years">
      Related materials (optional)
    </label>
  </h2>
  <div id="closure-period-hint" class="govuk-hint">
    If you wish to provide a link to material inside another series or
    within a hybrid series, use this field to provide a related reference.
    This must be discussed with the Senior Digital Transfer Advisor and
    signed off by cataloguing prior to use. If the file has multiple
    references they can be comma separated with no spaces e.g.
    ABC1,ABC2,ABC3
  </div>
  <input class="govuk-input" name="related" value="{{data['related']}}"/>
</div>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="years">
      Former reference (optional)
    </label>
  </h2>
  <div id="closure-period-hint" class="govuk-hint">
    Reference when the record(s) was being held by the department
  </div>
  <input class="govuk-input" name="former-refs" value="{{data['former-refs']}}"/>
</div>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Creating body (optional)
    </label>
  </h2>
  <div id="foi-codes-hint" class="govuk-hint">
    If different to the transferring body - where the record is inherited from
  </div>
  <div class="govuk-form-group">
    <select class="govuk-select" id="sort" name="creating-body">
      <option value="false" selected>Please choose...</option>
      {% for body in data.creating_bodies %}
        <option value="{{body}}"{% if body == data['creating-body'] %} selected{%endif%}>{{body}}</option>
      {% endfor %}
    </select>
  </div>
</div>