{% extends "layouts/main.html" %}

{% block pageTitle %}
Review metadata
{% endblock %}

{% block beforeContent %}
  <a href="../additional-metadata" class="govuk-back-link">Step 5: Descriptive and closure metadata</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Review records with metadata</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    {% include "../filters-alpha.html" %}
  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <p>-</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="current-filters govuk-!-margin-top-6 govuk-!-margin-bottom-3">
      {% if data['currentFilter'] %}
      <span class="current-filters__title"></span> <span class="current-filters__filter">Files beginning with '{{data['currentFilter']}}'</span>
      <a class="govuk-link govuk-link--no-visited-state current-filters__clear" href="v02">Clear filters</a>
      {% endif %}
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./summary-table.html" %}
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
