{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Upload document
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
    
      {{ govukRadios({
        name: "isOriginalJudgment",
        fieldset: {
          legend: {
            text: "Are you transferring a judgment for the first time?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: "If you are transferring an update to a judgment, a press summary, or any other document related to a judgment select 'No'."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: true
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./upload"
        }) }}
      </div>


    </div>
  </div>

{% endblock %}

