{% extends "layout.html" %}

{% block pageTitle %}
Remove metadata properties
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Remove metadata properties
    </h1>{{releaseVersion | log }}
    <p class="govuk-body">If you proceed, closure metadata for file 'cocoa.docx' will be removed. Are you sure you would like to proceed?</p>
    <a href="../file-level.html" role="button" draggable="false" class="govuk-button govuk-button govuk-button--warning" data-module="govuk-button">
      Remove and return to all files
    </a>
    <a href="./closure-added.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Cancel
    </a>

  </div>
</div>

{% endblock %}