{% extends "layout.html" %}

{% block pageTitle %}
Add FOI codes to 'Baking-powder.jpg'
{% endblock %}

{% block beforeContent %}
  <a href="./add-closure.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <form action="confirm-multiple-FOI">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
            Select FOI exemption codes for 'Baking-powder.jpg'
        </h1>{{releaseVersion | log }}
        <p class="govuk-body govuk-!-margin-bottom-6">Select the exemption code(s) that apply. Here is a <a href="https://cdn.nationalarchives.gov.uk/documents/information-management/freedom-of-information-exemptions.pdf">full list of FOI codes and their designated exemptions</a>.</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                {% for code in data.foi_exemption_codes %}

                  {% if code == "-" %}
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  {% else %}
                    <div class="govuk-checkboxes__item">
                      <input {% if data.foi_id_selection and code in data.foi_id_selection %}checked{% endif %} class="govuk-checkboxes__input" id="{{loop.index}}" name="foi_id_selection" type="checkbox" value="{{code}}">
                      <label class="govuk-label govuk-checkboxes__label" for="{{loop.index}}">
                        {{code}}
                      </label>
                    </div>
                  {% endif %}
                  {% if loop.index % ((loop.length / 3) | round) == 0 %}
                  </div>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <button role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              Save and return
            </button>
          </div>
        </div>

      </div>
    </div>

  </form>
{% endblock %}