{% extends "layout.html" %}

{% block pageTitle %}
Add alternative title to your record
{% endblock %}

{% block beforeContent %}
<a href="./add-closure.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Enter an alternative title and/or description to your record
        </h1>{{releaseVersion | log }}
        <p class="govuk-body">Enter an alternative public title and/or description to 'Cocoa.docx' as this will be open for others to see.</p>

        <div>
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="event-name">
                    Public title
                    </label>
                </h2>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
        </div>
        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="event-name">
                Public description
                </label>
            </h2>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>

        <a href="./closure-added.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </a>

    </div>
</div>


{% endblock %}