{% extends "layout.html" %}

{% block pageTitle %}
Add alternative title to your record
{% endblock %}

{% block beforeContent %}
  <a href="./add-closure.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
            Add an alternative title and/or description to your record
        </h1>{{releaseVersion | log }}
      <p class="govuk-body">Enter an alternative publicly visible title and/or description if, for example, they contain sensitive information. For guidance on how to create an alternative title and description <a target="_blank" class="govuk-link" href="/faq">read our FAQs (opens in a new tab)</a>.</p>

      <div>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
                Alternative title (optional)
                    </label>
          </h2>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
      </div>
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Alternative description (optional)
          </label>
        </h2>
        <div id="foi-decision-hint" class="govuk-hint">
          If you write an alternative description you will also need to fill in the Description field below. This will replace the undisclosed description of the record.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Description
          </label>
        </h2>
        <div id="foi-decision-hint" class="govuk-hint">
          <b>This field is mandatory if you have written an alternative description above.</b> This is the undisclosed description of the record.
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <a href="./closure-added.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </a>

    </div>
  </div>

{% endblock %}