{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}\
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% import "macros/task-list.html" as taskList %}

{% block pageTitle %}
  Add closed records metadata
{% endblock %}

{% block beforeContent %}
  <a href="./" class="govuk-back-link">Back to Closed records metadata</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
    <h1 class="govuk-heading-l">Add closed records metadata</h1>
    <p class="govuk-body">Add closed records metadata to your records. Your progress is saved each time you add metadata to a record.</p>
    <div class="govuk-button-group">
      <a href="" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add metadata to a record
      </a>
      {% set task = "closed-records" %}
      {% include "includes/metadata/button-mark-task-complete" %}
    </div>
  </div>
</div>

<div class="govuk-grid-row" style="opacity: 0.3; pointer-events: none;">
  <div class="govuk-grid-column-full">
    <div class="table-controls table-controls--paginate">
      <div class="table-controls__row">
          {{ govukSelect({
            id: "sort",
            name: "sort",
            classes: "table-controls__sort",
            label: {
              html: "<strong>Sort by</strong>"
            },
            items: [
              {
                value: "updated",
                text: "File name (A-Z)",
                selected: true
              }
            ]
          }) }}
        <div class="table-controls__filters">
          <form action="" method="get">
          {% set filterDirectoryClasses = "autocomplete" %}
          {% include "includes/metadata/filters.html" %}
          </form>
        </div>
      </div>
      {% include "includes/metadata/filteredby.html" %}
      <div class="table-controls__pagination">
        {{ govukPagination({
          previous: {
            href: data['previousPage']
          },
          next: {
            href: data['nextPage']
          },
          items: data['pages']
        }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
