{% extends "layouts/main.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% import "macros/task-list.html" as taskList %}

{% block pageTitle %}
  Metadata
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
    <h1 class="govuk-heading-xl">Metadata</h1>

    <p class="govuk-body">To progress with the transfer, complete the following tasks. If you have no metadata to add, you must still visit each section and mark them as complete before continuing.</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ul class="govuk-task-list govuk-!-margin-bottom-6">
      {% set datesComplete = "Complete" if data.lastModifiedComplete == "true"  == true else "Incomplete" %}
      {{ taskList.item("Date last modified", "./last-modified-dates/", datesComplete, "Check and correct extracted dates.", true) }}
      {% set descriptiveComplete = "Complete" if data.descriptiveComplete == "true"  else "Incomplete" %}
      {{ taskList.item("Record descriptions", "./metadata/descriptive-and-additional/", descriptiveComplete, "Enhance your records with decriptive information.", true) }}
      {% set closureComplete = "Complete" if data.closedComplete == "true" else "Incomplete" %}
      {{ taskList.item("Closed record information", "./metadata/closed-records/", closureComplete, "Add information about all closed records.", true) }}
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Next step: Download and review metadata</h2>
    <p class="govuk-body">Once you complete all sections, you will be able to download a CSV with all the consignment metadata.</p>

    {#
    <div class="govuk-button-group">
      <a href="../download-metadata.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
    </div>
    #}
  </div>
</div>
{% endblock %}
