{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide a neutral citation number
{% endblock %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="./provide-neutral-citation" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check the information you provided</h1>

      {# <h2 class="govuk-heading-m">Personal details</h2> #}

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Document type
          </dt>
          <dd class="govuk-summary-list__value">
            {{"Press summary" if data['documentType'] == "press-summary" else "An update to a judgment"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./tell-us-more">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        {% if data['documentType'] == 'update'%}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What has changed
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['whatHasChanged']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./tell-us-more">Change<span class="govuk-visually-hidden"> What has changed</span></a>
          </dd>
        </div>    
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Neutral Citation Number
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['neutralCitation']|d("(Not provided)")}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./provide-neutral-citation">Change<span class="govuk-visually-hidden"> Neutral Citation Number</span></a>
          </dd>
        </div>
      </dl>


      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./upload"
        }) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" open="" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Transfer reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
      
      <h4 class="govuk-heading-s">Problems with your transfer?</h4>
      <p class="govuk-body">Email us and include the transfer reference:
        <a href="mailto:tdr@nationalarchives.gov.uk" class="govuk-link">tdr@nationalarchives.gov.uk</a>
      </p>
    </div>
  </div>

{% endblock %}
