{% extends "layouts/main.html" %}

{% block pageTitle %}
  Checking records
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Step 4 of 7</span>
      <h1 class="govuk-heading-l">
        Checking your records
      </h1>

      <p class="govuk-body">Please wait while your records are being checked. This may take a few minutes. </p>
      <p class="govuk-body">The following checks are now being performed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Anti-virus scanning</li>
        <li>Identifying file formats</li>
        <li>Validating data integrity</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-7">For more information on these checks, please see our
        <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="/faq">FAQ (opens in new tab)</a> for this service.
      </p>

      <div id="checks-banner" class="hidden">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Your records have been checked.
            </h3>
            <p class="govuk-body">Please click 'Continue' to see your results.</p>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <a href="./upload-records-results" id="next-step-btn" role="button" disabled="true" draggable="false" class="govuk-button"  data-module="govuk-button">
          Continue
        </a>
      </div>

    </div>

  <script type="text/javascript">
    setTimeout(() => {
      const banner = document.getElementById("checks-banner")
      const button = document.getElementById("next-step-btn")
      button.removeAttribute("disabled");
      banner.classList.remove("hidden");
    }, 2000);
  </script>

{% endblock %}
