{% extends "layouts/main.html" %}

{% block pageTitle %}
Review metadata
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Review records with metadata</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    {{ govukSelect({
      id: "sort",
      name: "sort",
      label: {
        html: "<strong>Sort by</strong>"
      },
      items: [
        {
          value: "updated",
          text: "File name (A-Z)",
          selected: true
        }
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="" method="get">
      {% include "../filters.html" %}
    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../filteredby.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "./summary-table.html" %}
    <div class="tdr-pagination">
    {{ govukPagination({
      previous: {
        href: data['previousPage']
      },
      next: {
        href: data['nextPage']
      },
      items: data['pages']
    }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
