{% extends "layout.html" %}

{% block pageTitle %}
  Add, edit or delete metadata
{% endblock %}

{% block beforeContent %}
  <a href="./01-descriptive" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Step 6 of 7</span>
      <h1 class="govuk-heading-l">Add closure metadata</h1>
      {# <h1 class="govuk-heading-s">Folder uploaded: Recipes and ingredients</h1> #}

      {# <p class="govuk-body">Enhance your record by adding description, dates and other metadata. Add public alternatives for sensitive title and description.</p> #}

      <div class="tdr-metadata-card">
        <div class="tdr-metadata-card__content">
          <h2 class="govuk-heading-s">
            <a class="govuk-link govuk-link--no-visited-state" href="closure-metadata/file-level">Closure metadata</a>
          </h2>
          <strong class="tdr-metadata-card__state govuk-tag govuk-tag--{% if data.state == "entered" %}blue{% elif data.state == "incomplete" %}red{% else %}grey{% endif %}">
            {% if data.state == "entered" %}Entered{% elif data.state == "incomplete" %}Incomplete{% elif data.state == "not entered" or data.state == undefined %}Not entered{% endif %}
          </strong>
          <p class="govuk-body">Add closure and associated closure metadata to files in this consignment.</p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
             Closure metadata includes the following fields.
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>FOI decision asserted, this is the date of the Advisory Council approval</li>
                <li>Closure start date, this is the date the record starts </li>
                <li>Closure period</li>
                <li>FOI exemption code</li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <a href="../download-metadata.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Continue
      </a>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
    </div>
  </div>
{% endblock %}
