{% extends "layout.html" %}

{% block pageTitle %}
  Add, edit or delete metadata
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Step 5 of 7</span>
      <h1 class="govuk-heading-l">Add, edit or delete metadata</h1>
      <h1 class="govuk-heading-s">Folder uploaded: Recipes and ingredients</h1>

      <p class="govuk-body">You can now add or edit closure and descriptive metadata to your records.

      </p>

      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="descriptive-metadata/file-level.html">Descriptive metadata</a>
          </h2>
          <p class="nhsuk-card__description">If you'd like to add or edit descriptive metadata to your records, you can do so here.</p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
            Descriptive metadata includes the following fields.
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>FOI decision asserted, this is the date of the Advisory Council approval</li>
                <li>Closure start date, this is the date the record starts </li>
                <li>Closure period</li>
                <li>FOI exemption code</li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="closure-metadata/file-level.html">Closure metadata</a>
          </h2>
          <p class="nhsuk-card__description">If you'd like to add or edit closure metadata to your records, you can do so here.</p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
            Closure metadata includes the following fields.
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>FOI decision asserted, this is the date of the Advisory Council approval</li>
                <li>Closure start date, this is the date the record starts </li>
                <li>Closure period</li>
                <li>FOI exemption code</li>
              </ul>
            </div>
          </details>
        </div>

      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Make sure to enter any additional metadata that is required before proceeding with your transfer.
        </strong>
      </div>

      <a href="../download-metadata.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Continue
      </a>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
    </div>
  </div>
{% endblock %}