{% set files = [
  {
    "name": "Cake Basics",
    "type": "node",
    "id": "folderid1",
    "children": [
      {
        "name": "Mixing.pptx",
        "type": "item",
        "id": "fileid1"
      }, {
        "name": "Rising.db",
        "type": "item",
        "id": "fileid2"
      }, {
        "name": "Rising agents",
        "type": "node",
        "id": "folderid1-1",
        "children": [
          {
            "name": "Instant.jpg",
            "type": "item",
            "id": "fileid1-1"
          }, {
            "name": "Fresh.png",
            "type": "item",
            "id": "fileid1-2"
          }
        ]
      }
    ]
  }, {
    "name": "Cupcakes",
    "type": "node",
    "id": "folderid12",
    "children": [
      {
        "name": "Red velvet.xlsx",
        "type": "item",
        "id": "fileid12"
      }, {
        "name": "Vegan banana.png",
        "type": "item",
        "id": "fileid22"
      }
    ]
  }, {
    "name": "Baking powder 1999.docx",
    "type": "item",
    "id": "fileid31"
  }, {
    "name": "Baking powder 2023.docx",
    "type": "item",
    "id": "fileid41"
  }
] %}
