{% extends "layout.html" %}
{% block pageTitle %} Add descriptive metadata {% endblock %}

{% block content %}
  <form action="./confirm-add-descriptive">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Descriptive metadata</span>
        <h1 class="govuk-heading-l">Add metadata</h1>

        <div class="tdr-card">
          <div class="tdr-card__content">
            <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">You are adding or editing descriptive metadata for the following file:</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for f in data['file-selection']| getFilenames(data.files) %}
                <li>{{f}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% if data.error == "not-matching" %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
            The selected files have different metadata therefore the fields below cannot be prepopulated. Continuing will replace the metadata for all selected files.
          </strong>
          </div>
        {% endif %}

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Description
            </label>
          </h2>
          <div id="foi-codes-hint" class="govuk-hint">
            The description will be visible to the public to help explain the content of your file.
          </div>
          <textarea
            class="govuk-textarea"
            id="address"
            name="addDescriptive-description"
            rows="5">{{data['addDescriptive-description']}}</textarea>
        </div>

        {% include './inc-date-of-record.html' %}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-language.html'%}

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

        {% include './inc-related-refs-creating-body.html'%}

        <div class="govuk-button-group">
          <button
          role="button"
          class="govuk-button"
          data-module="govuk-button"
          >
          Save and review
        </button>
          <a href="./file-level" class="govuk-link">Cancel</a>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/tdr-components.js"></script>
  <script src="/public/javascripts/multi-select-search.js"></script>
{% endblock %}
