{% extends "layouts/main.html" %}

{% block pageTitle %}
Remove properties
{% endblock %}

{% block content %}
  <form action="./confirm-delete-metadata">

    <input type="hidden" id="baking-powder" name="closure[baking-powder]" value="delete">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
        Delete descriptive metadata
      </h1>{{releaseVersion | log }}
        <div class="tdr-card">
          <p class="govuk-body govuk-!-margin-bottom-2 govuk-!-font-weight-bold">You have chosen to delete the descriptive metadata you added to the following record:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
            {% if data['file-selection']|getFilenames(globals.files)|length == 0 %}
              <li>example-file.xlsx</li>
            {% endif %}
            {% for f in data['file-selection']| getFilenames(globals.files) %}
              <li>{{f}}</li>
            {% endfor %}
          </ul>
        </div>
        <p class="govuk-body">Once descriptive metadata is deleted, it cannot be recovered. Confirm you wish to proceed.</p>

        {% if data['file-selection']|getFilenames(globals.files)|length == 0 %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
              There is no metadata associated with this file. Return to the <a href="/metadata/closure-metadata/file-level">file selection page</a> to continue.
          </strong>
        </div>
      {% endif %}


        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
              You have previously added an alternative description in closure metadata. Deleting the descriptive metadata will also remove that alternative description.
          </strong>
        </div>

        <div class="govuk-button-group">
          <button role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button"{% if data['file-selection']|getFilenames(globals.files)|length == 0 %} disabled{% endif %}>
          Delete and return to files
        </button>
          <a class="govuk-link govuk-link--no-visited-state" href="./review-metadata">Cancel</a>
        </div>

      </div>
    </div>
  </form>
{% endblock %}
