<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="languages-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        Language
      </h2>
    </legend>
    <div id="languages-hint" class="govuk-hint">
      Choose one or more languages used in this record.
    </div>

    <div class="tna-multi-select-search">
      <div class="tna-multi-select-search__list-container">
        <ul class="govuk-checkboxes tna-multi-select-search__list"
            id="language-select">
          {% for l in data.languages %}
            <li class="govuk-checkboxes__item">
              <input {% if (data['addDescriptive-language-select'] and l.alpha2 in data['addDescriptive-language-select']) or (not data['addDescriptive-language-select'] and l.alpha2 == "en")  %}checked{% endif %} class="govuk-checkboxes__input" id="{{loop.index}}" name="addDescriptive-language-select" type="checkbox" value="{{l.alpha2}}">
              <label class="govuk-label govuk-checkboxes__label" for="{{loop.index}}">
                {{l.English}}
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="years">
      Translated file name
    </label>
    <div id="closure-period-hint" class="govuk-hint">
      If the file name is not in English you can provide a translation.
    </div>
    <input class="govuk-input" name="addDescriptive-translation" value="{{data['addDescriptive-translation']}}"/>
  </div>
