<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="years">
      Related materials (optional)
    </label>
  </h2>
  <div id="closure-period-hint" class="govuk-hint">
You can provide related references to materials inside another series or within a hybrid series. It must first be discussed with the Senior Digital Transfer Advisor and signed off by cataloguing. For multiple references, use a comma to separate them with no spaces. 
  </div>
  <input class="govuk-input" placeholder="ABC1,ABC2,ABC3" name="addDescriptive-related" value="{{data['related']}}"/>
</div>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="years">
      Former reference (optional)
    </label>
  </h2>
  <div id="closure-period-hint" class="govuk-hint">
    Add a reference for when the department was holding the record.
  </div>
  <input class="govuk-input" name="addDescriptive-former-refs" value="{{data['former-refs']}}"/>
</div>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="event-name">
      Creating body (optional)
    </label>
  </h2>
  <div id="foi-codes-hint" class="govuk-hint">
    Add where the record is inherited from if it is different to the transferring body.
  </div>
  <div class="govuk-form-group">
    <select class="govuk-select" id="sort" name="addDescriptive-creating-body">
      <option value="" disabled selected hidden>Select your option</option>
      <option value="-">None</option>
      {% for body in data.creating_bodies %}
        <option value="{{body}}"{% if body == data['creating-body'] %} selected{%endif%}>{{body}}</option>
      {% endfor %}
    </select>
  </div>
</div>
