<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
  Date last modified
</h2>
<p class="govuk-body govuk-!-margin-bottom-2">This is the date last modified we extracted for this record during upload. If the date is incorrect then you can provide a corrected date below that we will use instead.</p>
<div class="govuk-inset-text govuk-!-margin-top-2">
  <p class="govuk-!-font-size-24">13 May 2020</p>
</div>
<fieldset id="date-format-single" class="date-format govuk-fieldset govuk-!-margin-bottom-6" role="group" aria-describedby="date-single">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h3 class="govuk-fieldset__heading">
      Provide a corrected date
    </h3>
  </legend>
  <div id="date-single" class="govuk-hint">
    The date that the most recent change was made to this record.
  </div>

  <div class="govuk-date-input">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label govuk-date-input__label" for="date-singleDay">
        Day
      </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-singleDay" name="addDescriptive-Day" type="text" inputmode="numeric" placeholder="dd" value="{{data["addDescriptive-Day"]}}">
      </div>
    </div>

    <div class="govuk-date-input__item">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label govuk-date-input__label" for="date-single-Month">
            Month
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-single-Month" name="addDescriptive-Month" type="text" inputmode="numeric" placeholder="mm" value="{{data["addDescriptive-Month"]}}">
      </div>
    </div>

    <div class="govuk-date-input__item">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label govuk-date-input__label" for="date-single-Year">
            Year
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-single-Year" name="addDescriptive-Year" type="text" inputmode="numeric" placeholder="yyyy" value="{{data["addDescriptive-Year"]}}">
      </div>
    </div>
  </div>
</fieldset>
