{# @TODO: Add randomness to ID in case of multiple instances on 1 page #}
{% set checkboxes_id = "checkboxes" %}
{% set checkboxes_count_id = "checkboxes_count_id" %}
{% set filter_id = "input_filter" %}
{# I think this is added as a data attribute so it is only added if JS is enabled #}
{# https://github.com/alphagov/finder-frontend/blob/main/app/views/components/_option-select.html.erb#L34 #}

<div
  class="app-c-option-select govuk-!-margin-bottom-8" data-module="option-multi-select">

  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Language
      </h2>
    </legend>
    <div class="govuk-hint">
      Choose one or more languages used in this record.
    </div>

    {# Search filter #}
    <div class="app-c-option-select__filter govuk-!-margin-bottom-2">
      <label for="{{filter_id}}"
        class="govuk-label govuk-visually-hidden">Filter Languages</label>
      <input name="option-select-filter" id="{{filter_id}}"
        class="app-c-option-select__filter-input govuk-input"
        type="text" aria-describedby="{{checkboxes_count_id}}"
        aria-controls="{{checkboxes_id}}">
    </div>

    {# Visible counter #}
    <div class="app-c-option-select__selected-counter js-selected-counter"></div>

    <div role="group" class="app-c-option-select__container js-options-container" tabindex="-1">
      <div class="app-c-option-select__container-inner js-auto-height-inner">
        {# Screen reader count #}
        <span id="{{checkboxes_count_id}}"
          class="app-c-option-select__count govuk-visually-hidden"
          aria-live="polite"
          data-single="language displayed"
          data-multiple="languages displayed"
          data-selected="selected"></span>
        {# Checkboxes #}
        <div class="govuk-checkboxes"
          data-module="govuk-checkboxes"
          id="language-select">
          {% for l in data.languages %}
            <div class="govuk-checkboxes__item">
              <input {% if (data['language-select'] and l.alpha2 in data['language-select']) or (not data['language-select'] and l.alpha2 == "en")  %}checked{% endif %} class="govuk-checkboxes__input" id="{{loop.index}}" name="language-select" type="checkbox" value="{{l.alpha2}}">
              <label class="govuk-label govuk-checkboxes__label" for="{{loop.index}}">
                {{l.English}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </fieldset>

</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="years">Translated title of record (optional)</label>
  <div id="closure-period-hint" class="govuk-hint">If the title is not in English you can provide a translation.</div>
  <input class="govuk-input" name="translation" value="{{data['translation']}}"/>
</div>

{% block pageScripts %}

  <script src="/public/javascripts/tdr-option-select.js"></script>
  <script>
    /* https://frontend.design-system.service.gov.uk/importing-css-assets-and-javascript/#javascript */
    var OptionSelect = window.GOVUK.Modules.OptionSelect
    var $checkboxes = document.querySelector('[data-module="option-multi-select"]')
    if ($checkboxes) {
      new OptionSelect($checkboxes).init()
    }
  </script>

{% endblock %}
