{% extends "layout.html" %}

{% block pageTitle %}
View existing metadata
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Descriptive metadata</span>
      <h1 class="govuk-heading-l">
        View existing metadata
      </h1>{{releaseVersion | log }}
      <p class="govuk-body">View existing descriptive metadata.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
        </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for f in data['file-selection']| getFilenames(data.files) %}
                <li>{{f}}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Legal status
        </dt>
          <dd class="govuk-summary-list__value">
          Public record
        </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Copyright
        </dt>
          <dd class="govuk-summary-list__value">
          Crown copyright
        </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>

        <!-- descriptive stuff here -->
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">Description</dt>
          <dd class="govuk-summary-list__value">
            {{data['addDescriptive-description']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">Date of the Record</dt>
          <dd class="govuk-summary-list__value">
            {% if data['addDescriptive-range-start-year'] %}
              {{data['addDescriptive-range-start-day']}}/{{data['addDescriptive-range-start-month']}}/{{data['addDescriptive-range-start-year']}} -{{ " "}}
            {% endif %}
            {{data['addDescriptive-Day']}}/{{data['addDescriptive-Month']}}/{{data['addDescriptive-Year']}}
          </dd>
        </div>

        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">Language(s)</dt>
          <dd class="govuk-summary-list__value">
            {% for l in data['addDescriptive-language-select'] %}
              {{l | langNameFromCode(data.languages) -}}
              {% if loop.last != true %}, {% endif %}
            {% else %}
            -
            {% endfor %}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">Translated title of record</dt>
          <dd class="govuk-summary-list__value">
            {{data['addDescriptive-translation']|d("-", true)}}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
      Relating materials
    </dt>
          <dd class="govuk-summary-list__value">
            {{data['addDescriptive-related']|d("-", true)}}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
        Former reference
    </dt>
          <dd class="govuk-summary-list__value">
            {{data['addDescriptive-former-refs']|d("-", true)}}
          </dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom: none;">
          <dt class="govuk-summary-list__key">
      Creating body
    </dt>
          <dd class="govuk-summary-list__value">
            {{data['addDescriptive-creating-body']|d("-", true)}}
          </dd>
        </div>
      </dl>

      <div class="govuk-button-group">
        <a href="./add-descriptive" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Edit descriptive metadata
        </a>
        <a href="./delete-metadata" role="button" draggable="false" class="govuk-button govuk-button">
          Delete descriptive metadata
        </a>
        <a href="./file-level" draggable="false" class="govuk-link">
          Cancel
        </a>
      </div>

    </div>
  </div>

{% endblock %}
