{% extends "layouts/main.html" %}

{% block pageTitle %}
Descriptive metadata
{% endblock %}

{% block beforeContent %}
  <a href="../additional-metadata" class="govuk-back-link">Step 5: Descriptive and closure metadata</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Descriptive metadata</h1>

    <p class="govuk-body">Add descriptive metadata to individual records here. Descriptive metadata will enhance your record. We strongly encourage you to add any extra information available.</p>

    <p class="govuk-body">If you’re unsure about descriptive metadata contact a transfer advisor or email <a href="">tdr@nationalarchives.gov.uk</a>.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        What descriptive metadata you can provide for each record
      </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>FOI decision asserted, this is the date that the closure schedule was agreed by the Advisory Council and/or The National Archives.</li>
          <li>Closure start date, this is the date of the last change to this record</li>
          <li>Closure period</li>
          <li>FOI exemption code</li>
          <li>Alternative title</li>
          <li>Alternative description</li>
        </ul>
      </div>
    </details>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">Records with descriptive metadata</h2>

    <p class="govuk-body">Here are the records that you have added descriptive metadata to.</p>

    <a href="/metadata/descriptive-metadata/file-level" class="govuk-button" data-module="govuk-button">
      Add descriptive metadata to a record
    </a>

    {% include "./summary-table.html" %}
  </div>
</div>

{% endblock %}


{% block pageScripts %}
  {{ super() }}
{% endblock %}
