<div class="tdr-scroll-container tdr-scroll-container__horizontal">
<table data-module="table-row-menu-hide-show" class="govuk-table tdr-summary-table tdr-summary-table--sort-by-dir">
  <colgroup>
    <col style="min-width: 200px;"/>
    <col  />
    <col  />
    <col />
  </colgroup>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Record name</th>
      <th scope="col" class="govuk-table__header">Extracted date</th>
      <th scope="col" class="govuk-table__header">Corrected date</th>
      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
      <th id="header-dir" scope="col" class="govuk-visually-hidden">Directory</th>
    </tr>
  </thead>

{% if data['recordsMetadata']|length == 0 %}
  <tr>
    <td colspan="6" class="govuk-table__cell govuk-table__cell--no-results">
      There are no records to show.
      <a href="./v01">Clear current filters</a>
    </td>
  </tr>
{% else %}
  {% for item in data['recordsMetadata'] %}
    {% if currentDirectory != item.path %}
      {% set currentDirectory = item.path %}
      <tr>
        <td colspan="6" headers="header-dir" id="{{currentDirectory|urlencode}}" class="tdr-summary-table__dir-cell govuk-body govuk-!-font-size-14" >
          <ol class="tdr-file-breadcrumbs">
          {% for dir in currentDirectory|split("/") %}
            <li class="tdr-file-breadcrumbs__list-item">{{dir}}</li>
          {% else %}
            <li class="tdr-file-breadcrumbs__list-item">/</li>
          {% endfor %}
          </ol>
          {% set filesInDir = currentDirectory|countInDir(data['recordsMetadata'], true) %}
          <span class="tdr-summary-table__file-count">{{filesInDir}} file{% if filesInDir != 1 %}s{%  endif %}</span>
        </td>
      </tr>
    {% endif %}
      <tr class="govuk-table__row">
        <td headers="{{currentDirectory|urlencode}}" id="{{currentDirectory|urlencode}}{{item.id|urlencode}}" class="govuk-table__header govuk-table__header--spacious">{{item.name}}</td>
        <td headers="{{currentDirectory|urlencode}}{{item.id|urlencode}}" class="govuk-table__cell govuk-table__cell--nowrap">
          {{item['ldm-extracted-day']}} {{item['ldm-extracted-month']|getMonthName("short")}} {{item['ldm-extracted-year']}}
        </td>
        <td headers="{{currentDirectory|urlencode}}{{item.id|urlencode}}" class="govuk-table__cell govuk-table__cell--nowrap">-</td>
        <td headers="{{currentDirectory|urlencode}}{{item.id|urlencode}}" class="govuk-table__cell govuk-table__cell--with-hidden-menu">
          {# {% include "../summary-table-actions.html" %} #}
          <a class="govuk-link govuk-link--no-visited-state" href="">Edit<span class="govuk-visually-hidden">&nbsp;metadata for {{item.name}}</span></a>
        </td>
      </tr>
  {% endfor %}
{% endif %}
  </tbody>
</table>
</div>
