{% extends "layouts/main.html" %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block pageTitle %}
  Welcome to Transfer Digital Records 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome to Transfer Digital Records
      </h1>
      
      <p class="govuk-body">You can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>transfer judgments and decisions</li>
        <li>transfer an amendment/press summary to an existing judgment or decision</li>
      </ul>
      
      
      {{ govukButton({
        text: "Start your transfer",
        href: "./tell-us-more",
        classes: "govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Service update – October 2025</h2>
      
      <p class="govuk-body">You can now upload amendments and press summaries to existing judgments or decisions. </p>
      <p class="govuk-body">When you select &quot;Start your transfer&quot;, choose the document type and enter the Neutral Citation Number (NCN) of the original judgment or decision. </p>
      <p class="govuk-body">If there’s no NCN, you’ll need to provide extra details.</p>
      <h2 class="govuk-heading-m">Further support</h2>
      <p class="govuk-body">Contact the publishing editors: <a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a></p>
  


    </div>
  </div>

{% endblock %}
