<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
        </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
        Your progress has been saved
        </h3>
    <p class="govuk-body">Your files and any additional metadata have been saved. You can leave at any time and return to this transfer from the <a class="govuk-notification-banner__link" href="/transfers">View Transfers</a> page.</p>
  </div>
</div>
