{% extends "layout.html" %}

{% block pageTitle %}
  Transfer summary
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Step 6 of 7</span>
      <h1 class="govuk-heading-l">Download or view metadata</h1>
      

      <a href="./summary.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>
{% endblock %}
