{% extends "layouts/main.html" %}

{% block pageTitle %}
  Download and review metadata
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Step 6 of 7</span>
      <h1 class="govuk-heading-l">Download and review metadata</h1>
      {% include "./banner-leave-return.html" %}

      <p class="govuk-body">
        Download and review a CSV file showing all the metadata added to these records and, optionally, return to the previous step to <a href="./metadata/additional-metadata">add or amend metadata</a>.</p>
      <button class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
        <span aria-hidden="true" class="tna-button-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 21">
            <path fill="#fff" d="M15.96 21V2.52h-1.68v16.8H2.52V21h13.44Z"/>
            <path fill="#fff" d="M0 0h13.44v18.48H0z"/>
          </svg>
        </span>Download metadata CSV</button>
      <br>
      {# <div class="govuk-button-group">
        <a href="./metadata/additional-metadata.html" role="button" draggable="false" class="govuk-button govuk-button--secondary"  data-module="govuk-button">
          Back
        </a>
        <a href="./summary.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Next
        </a>
      </div> #}

      <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="/metadata/additional-metadata" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Step 5: Descriptive and closure metadata</span></a>
        </div>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="/summary.html" rel="next">
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Step 7: Confirm transfer</span></a>
        </div>
      </nav>

    </div>
  </div>
{% endblock %}
