{% extends "layout.html" %}

{% block pageTitle %}
  Transfer summary
{% endblock %}

{% block beforeContent %}
  <a href="./metadata/additional-metadata" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Step 6 of 7</span>
      <h1 class="govuk-heading-l">Download or view metadata</h1>

      <div class="govuk-grid-row">
       <div class="govuk-grid-column-full govuk-tdr-download-csv-row"> 
         <a href="./metadata-csv.html" >
          <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
            <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"></path>
            <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"></path>
            <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"></path>
          </svg>
          </a>
          <div>
            <p class="govuk-body"><a href="./metadata-csv.html" >Download a CSV file</a> showing all the metadata added to these records and, optionally, review before continuing.</p>
          </div>
          
        </div>    
      </div>
      <br>
      <div class="govuk-button-group">
        <a href="./summary.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Continue
        </a>
      </div>


    </div>
  </div>
{% endblock %}
