{% extends "layout-without-sign-out.html" %}

{% block pageTitle %}
  Page not found
{% endblock %}

{% block content %}
<!--404 Page not found-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you typed a web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
    <p class="govuk-body">If the web address is correct, please <a href="/contact">contact</a>&nbsp;us.</p><a>
  </a><p class="govuk-body">Alternatively, you can <a href="/dashboard">return to the start</a>.</p>
  </div>
</div>

<!--401 Sign-in required-->
<!--<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You must be signed in to see this page</h1>
    <p class="govuk-body"><a href="/contact">Sign in</a> to continue.</p>
  </div>
</div>-->

<!--503 Service unavailable-->
<!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">We are working on making this service available as soon as possible.</p>
        <p class="govuk-body">If you would like to transfer digital records in the meantime, please contact <a href="mailto:tdr@@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.</p>
      </div>
    </div>-->

{% endblock %}
