{% extends "layouts/main.html" %}

{% block header %}
  <meta http-equiv="refresh" content="6; url=/progress-checks">
  <div class="govuk-width-container app-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">BETA</strong>
        <span class="govuk-phase-banner__text">This is a new service – Please
        <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noreferrer noopener" href="/contact">get in touch (opens in new tab)</a>  with your questions, feedback or ideas.
      </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block pageTitle %}
  Uploading records - MOCK-TDR-1294 - Transfer Digital Records
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Transfer: MOCK-TDR-1294</span>
      <h1 class="govuk-heading-l">
        Uploading your records
      </h1>

      <form class="form" action="/progress-checks" method="post">

        <p>Do not close your browser while your records are being uploaded. This may take a few minutes.</p>
        <div>
          <span id="upload-status-screen-reader">
            <span id="upload-records-progress-label" class="govuk-label progress-label">
                Uploading your records <span id="upload-percentage" role="status" aria-live="polite">56%</span>
            </span>
          </span>
          <div class="progress-bar">
            <div aria-labelledby="upload-records-progress-label" class="progress-display" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>

    let start, previousTimeStamp, loadingBarEl, percentageEl;

    function step(timeStamp) {
      if (start === undefined) {
        start = timeStamp;
      }
      const elapsed = timeStamp - start;

      const count = Math.min(0.03 * elapsed, 100);
      if(loadingBarEl) loadingBarEl.style.width = `${count}%`;
      if(percentageEl) percentageEl.textContent = `${Math.round(count)}%`;

      if (elapsed < 10000 && count < 100) {
        previousTimeStamp = timeStamp;
        window.requestAnimationFrame(step);
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      loadingBarEl = document.querySelector('[role="progressbar"]')
      percentageEl = document.querySelector('[role="status"]')
      window.requestAnimationFrame(step);
    });

  </script>
{% endblock %}
