{% extends "layouts/no-sign-out.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Set new password</h1>

      <p class="govuk-body govuk-!-margin-bottom-4">Enter a new password below.</p>

      <form class="form" action="/MFA" method="post">

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              New password
            </label>
          </h2>
          <div id="user_id-hint">
            <p class="govuk-hint govuk-!-margin-bottom-1">Your password must have:</p>
            <ul class="govuk-list govuk-list--bullet govuk-hint">
              <li>at least 8 characters</li>
              <li>at least one capital letter</li>
              <li>at least one number</li>
            </ul>
          </div>
          <input class="govuk-input govuk-input--width-10" id="password" name="password" type="password">
        </div>

        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="confirm-password">
              Confirm password
            </label>
          </h2>
          <input class="govuk-input govuk-input--width-10" id="confirm-password" name="confirm-password" type="password">
        </div>

        <a href="MFA-otp.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Submit
        </a>

      </form>

    </div>
  </div>

{% endblock %}