{% extends "layout-without-sign-out.html" %}

{% block pageTitle %}
  Sign out
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You have successfully signed out</h1>

      <p class="govuk-body">Thanks for using the Transfer Digital Records service.</p>

      <a href="/sign-in" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Sign in again</a>

    </div>
  </div>

{% endblock %}
