{% extends "layout-without-sign-out.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sign in to your account</h1>

<!--      <p class="govuk-body">Please sign in to your account using the details provided in your invite email.</p>-->

      <form class="form" action="/MFA" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" autocomplete="email">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
        </div>

        <a href="dashboard.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Sign in
        </a>

      </form>

      <p class="govuk-body-s"><a href="/contact">I need to reset my password</a></p>

    </div>
  </div>

{% endblock %}
