{% extends "layouts/no-sign-out.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    You should receive an email shortly with further instructions.
  </p>
{% endset %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukNotificationBanner({
        html: html
      }) }}

      {{ govukWarningText({
        text: "Do not share your sign in details with anyone else",
        iconFallbackText: "Warning"
      }) }}

      <h1 class="govuk-heading-l">Sign in to your account</h1>

      <form class="form" action="/MFA" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" autocomplete="email">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
        </div>

        <a href="MFA-otp.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Sign in
        </a>

      </form>

      <p class="govuk-body-s">
        <a href="/contact">I need to reset my password</a>
      </p>

    </div>
  </div>

{% endblock %}
