{% extends "layout.html" %}

{% block pageTitle %}
  Transfer agreement
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 2 of 6</span>
      <h1 class="govuk-heading-l">Transfer agreement continued</h1>

      <p class="govuk-body">You must confirm all statements before proceeding. If you cannot, please close your browser and contact your transfer advisor.</p>

      <form class="form" action="/upload" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="barn">
                <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                  I confirm that the Departmental Records Officer (DRO) has signed off on the appraisal and selection decision.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="sarb">
                <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                  I confirm that the Departmental Records Officer (DRO) has signed off on the sensitivity review.
                </label>
              </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <a class="govuk-link govuk-link--no-visited-state" href="/dashboard">Cancel</a>
        </div>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
  </div>
  </div>

{% endblock %}
