{% extends "layouts/main.html" %}

{% block pageTitle %}
  Transfer agreement
{% endblock %}

{% block beforeContent %}
  <a href="./transfer-tasks" class="govuk-back-link">Consignment: MOCK-TDR-1294</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Consignment: MOCK-TDR-1294</span>
      <h1 class="govuk-heading-l  govuk-!-margin-bottom-3">Transfer agreement</h1>
      <p class="govuk-hint">You must confirm all statements before you can continue with this transfer.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This service is in beta. During this time, only records that are Public Records and are Crown Copyright will be accepted. For more information, visit the <a target="_blank" rel="noopener noreferrer" href="/faq">FAQ (opens in new tab)</a>. If you need to transfer records that do not meet this criteria, contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.
        </strong>
      </div>

      <form class="form" action="/transfer-tasks" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              I confirm that all records are:
            </legend>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="public-records" name="ta[]" type="checkbox" value="public-records" {% if "ta" in data and 'public-records' in data.ta %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="public-records">
                  Public Records
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crown-copyright" name="ta[]" type="checkbox" value="crown-copyright" {% if "ta" in data and 'crown-copyright' in data.ta %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="crown-copyright">
                  Crown Copyright
                </label>
              </div>
            </div>
          </fieldset>
        </div>

         <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              I confirm that the Departmental Records Officer (DRO) has signed off on the following:
            </legend>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="appraisal-and-selection" name="ta[]" type="checkbox" value="appraisal-and-selection" {% if "ta" in data and 'appraisal-and-selection' in data.ta %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="appraisal-and-selection">
                  The appraisal and selection decision
                </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="sensitivity-review" name="ta[]" type="checkbox" value="sensitivity-review" {% if "ta" in data and 'sensitivity-review' in data.ta %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="sensitivity-review">
                  The sensitivity review
                </label>
            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </div>

      </form>

    </div>

{% endblock %}
