{% extends "layout.html" %}

{% block pageTitle %}
  Upload records
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 3 of 6</span>
      <h1 class="govuk-heading-l">Upload your records</h1>

        <p class="govuk-body">Put the records (files and folders) you wish to include in this transfer into a single,
          top-level folder. You can upload that folder here.</p>

        <p class="govuk-body">There is no limit to the size of the files but larger files may take longer to be
          uploaded and checked. If your folder contains files that we cannot accept, you may have to start again.</p>

        <div class="govuk-inset-text govuk-body-s">
          We cannot accept files or folders which are password protected, zipped or contain slashes (/ and \) in the name.
          Empty folders will not be included. Also try and remove any thumbnail images (thumbs.db) and executable files (.exe) from the records before uploading.
        </div>

        <form class="form" action="/progress-uploading" method="post" id="file-upload-form" data-consignment-id="@consignmentId">
          <div class="govuk-form-group">
            <div class="drag-and-drop">

              <div>
                <div class="govuk-form-group">
                  <div class="drag-and-drop__dropzone">
                    <input type="file" id="file-selection" name="files"
                           class="govuk-file-upload drag-and-drop__input" webkitdirectory
                           @* Specify an arbitrary type in the 'accept' attribute to work around a bug in
                    Safari 14.0.1, which does not let the user browse for files if the 'accept'
                    attribute is missing. The actual value of the attribute is ignored because
                    'webkitdirectory' is specified. It just needs to be present to fix the Safari bug. *@
                    accept="image/jpeg" aria-hidden="true"
                    >
                    <p class="govuk-body drag-and-drop__hint-text">Drag and drop a single folder here or</p>
                    <a href="/upload-select" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-top: 60px">
                      Choose folder</a>
                  </div>
                  <p class="govuk-body">For more information on what metadata will be captured during the upload please visit our <a target="_blank" rel="noopener noreferrer" href="/faq" class="govuk-link">FAQ (opens in new tab)</a>.</p>

                  <div class="govuk-button-group">
                    <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                      Start upload
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state" href="/dashboard">Cancel</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Consignment reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-TDR
        </div>
      </details>
  </div>
  </div>

{% endblock %}
