{% extends "layouts/main.html" %}

{% block pageTitle %}
Review metadata
{% endblock %}

{% block header %}
  {% include "layouts/inc-header.html" %}

  {% block banner %}
    {% set journeyVersion = (' (user testing v4)') %}
    {% set prototypeVersion = ('You are viewing prototype: #'+data.prototypeVersion if data.prototypeVersion) %}
    <div class="govuk-width-container app-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: (['This is not a real service. It is for testing purposes only. ', prototypeVersion, journeyVersion ]| join)
      }) }}
    </div>
  {% endblock %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Review records with metadata</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="table-controls table-controls--paginate">
      <div class="table-controls__row">
          {{ govukSelect({
            id: "sort",
            name: "sort",
            classes: "table-controls__sort",
            label: {
              html: "<strong>Sort by</strong>"
            },
            items: [
              {
                value: "updated",
                text: "File name (A-Z)",
                selected: true
              }
            ]
          }) }}
        <div class="table-controls__filters">
          <form action="" method="get">
          <input type="hidden" name="sort" value="file" />
          {% set filterDirectoryClasses = "autocomplete" %}
          {% include "includes/metadata/filters.html" %}
          </form>
        </div>
      </div>
      {% include " includes/metadata/filteredby.html" %}
      <div class="table-controls__pagination">
        {{ govukPagination({
          previous: {
            href: data['previousPage']
          },
          next: {
            href: data['nextPage']
          },
          items: data['pages']
        }) }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% set clear_link = "./ut-4?sort=file" %}
    {% include "../summary-table-sort-file.html" %}
    <div class="tdr-pagination">
    {{ govukPagination({
      previous: {
        href: data['previousPage']
      },
      next: {
        href: data['nextPage']
      },
      items: data['pages']
    }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
{% endblock %}
