{% extends "layouts/main.html" %}

{% block header %}
  {% include "layouts/inc-header-no-view-transfer.html" %}
{% endblock %}

{% block pageTitle %}
  Welcome to the Transfer Digital Records service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Welcome to the Transfer Digital Records
      </h1>
      
      <p class="govuk-body">You can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>transfer judgments and decisions</li>
        <li>transfer an amendment to an existing judgment or decision</li>
        {# <li>transfer a press summary about a judgment or decision</li> #}
      </ul>
      
      <h2 class="govuk-heading-m">What your document must contain</h2>

      <p class="govuk-body">We can only accept a single document in Microsoft Word (docx) format. It must contain the following information:</p>
        
      <ul class="govuk-list govuk-list--number">
        <li>neutral citation</li>
        <li>name(s) of judge(s)</li>
        <li>name(s) of parties</li>
        <li>court and judgment date</li>
      </ul>
      <h2 class="govuk-heading-m">How to format your document</h2>

      <p class="govuk-body">After you submit a Microsoft Word document we convert the content into a web page and PDF. To ensure the information is converted correctly, we ask you to follow some formatting guidelines and rules in the original document. </p>
      
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How will my document look once it's published?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The web page view may look slightly different to the original document but will contain the same information. This is to make sure the document meets basic web accessibility standards.</p>
          <p class="govuk-body">The pdf will be as close a copy of the original document as possible.</p>
        </div>
      </details>
      
      <p class="govuk-body">Read our <a target="_blank" class="govuk-link" href="https://nationalarchives.github.io/ds-caselaw-judiciary-guidance/">guidance on formatting your document</a>.</p>

      
      {{ govukButton({
        text: "Start transfer",
        href: "./upload"
      }) }}

      {# <h2 class="govuk-heading-m">Before you start a transfer</h2> #}
      {# <p class="govuk-body">You can also use this service to transfer an update or revision to a previously transferred document.</p> #}

      <h3 class="govuk-heading-m">If this is an amendment to an existing judgment or decision</h3>
      
      <p class="govuk-body">You can use this service to transfer an update or revision to a previously transferred document.</p>
      <p class="govuk-body">Transfer the document in the same way as any judgement or decision, by clicking "Start transfer" above.</p>
      <p class="govuk-body">
        Once you have successfully completed the transfer email <a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a>, and include the following:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the neutral citation</li>
        <li>the consignment reference provided at the end of this transfer</li>
        <li>tell us if this transfer is a revision or update</li>
        <li>provide a short description of what has changed</li>
      </ul>

      {# <h2 class="govuk-heading-m">Other reasons you may need to contact us</h2>
      <p class="govuk-body">Once the transfer is complete, you should email <a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a> if you need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Flag that your judgment is subject to an anonymisation order</li>
        <li>Send supplementary material for this judgment</li>
      </ul>
      <p class="govuk-body">
        Make sure you quote the consigment reference number provided on the last step of the transfer and attach any supplementary material to the email.
      </p> #}


    </div>
  </div>

{% endblock %}
