{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{# {% import "metadata/files_data_sml.html" as globals %} #}
{% import "metadata/files_data_med.html" as globals %}
{# {% import "./metadata/files_data_lrg.html" as globals %} #}

{% block stylesheets %}
  {{ super() }}
{% endblock %}

{% block header %}
  {% include "./inc-header.html" %}

  {% block banner %}
    {% set prototypeVersion = ('You are viewing version: #'+data.prototypeVersion if data.prototypeVersion) %}
    <div class="govuk-width-container app-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Prototype"
        },
        html: (['This is not a real service. It is for testing purposes only. ', prototypeVersion ]| join)
      }) }}
    </div>
  {% endblock %}

{% endblock %}

{% set tdrFooterItems = [
  {
    href: "/faq",
    text: "FAQ"
  }, {
    href: "/contact",
    text: "Contact"
  }, {
    href: "/cookies",
    text: "Cookies"
  }, {
    href: "/accessibility-statement",
    text: "Accessibility statement"
  }, {
    href: "/manage-prototype/clear-data",
    text: "Clear data"
  }, {
    href: "/prototype-versions",
    text: "Prototype versions"
  }
] %}

{% if (GOVUKPrototypeKit.isDevelopment) %}
  {% set tdrFooterItems = (tdrFooterItems.push({href: "/manage-prototype", text: "Manage your prototype"}), tdrFooterItems) %}
{% endif %}

{% block footer %}
  {{ govukFooter({
  meta: {
    items: tdrFooterItems,
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "govuk-prototype-kit/includes/scripts.html" %}
    {% block pageScripts %}
      <script src="/public/javascripts/main.js"></script>
    {% endblock %}
  {% endblock %}
{% endblock %}
